[2021-06-07 20:31] #1464 closed

[2021-06-08 11:45] BSalem commented on #1440
I actually submitted a pull request #1471 that has both -userattr and -root (both are multi-flags), where the -root/-rt attribute was what I was looking for in here... using -root flag, we can pass multiple roots, any parent to these roots will be ignored when writing the USD, in combination with the -sl flag, we can also limit what exactly under the root will be exported and what will be ignored.

[2021-06-09 22:52] #1340 closed

[2021-06-09 22:54] santosd commented on #1340
This issue has been resolved and the fix should be available in the next release. Please give it a try and confirm when the release is out or by building from the source.

[2021-06-10 06:58] yolov commented on #1340
Hey David,

Is this fixed in 0.10.0 ? Which version should I test it with?

Alex

[2021-06-10 21:18] dj-mcg opened #1481 "Undoing a group action can crash Maya"
**Describe the bug**
When undoing a group action for multiple models, Maya will crash if the rotation manipulator (and possibly others?) was active during grouping.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open up a USD scene containing at least 2 USD models
2. Select the 2 models
3. Hit 'e' to display the rotation manipulator
4. Hit 'ctrl-g' to group the models
5. Hit 'ctrl-z'

[2021-06-11 12:41] HamedSabri-adsk commented on #1481
Hi @dj-mcg, I followed the steps and can't reproduce this on my side:

![Ungroup_](https://user-images.githubusercontent.com/48299423/121685727-4bc06980-ca8e-11eb-9d68-4c6046d66fe6.gif)

I am on Windows now but will try this on my Linux later today to see if I can reproduce it. I highly doubt this is platform specific.

In the callstack that you have posted, it looks like a stale object trying to

[2021-06-11 13:51] daviddeacon commented on #1418
Is there a new compiled build that's available to test?

[2021-06-11 14:08] HamedSabri-adsk commented on #1418
The fix was merged in about 9 days ago. If you are to able to build the project then you should have it. Otherwise you have to wait for the next precompiled binary release to be able to test it.

[2021-06-11 19:27] #1382 closed

[2021-06-11 20:50] santosd commented on #1481
I also tested this on Windows and on Linux and so far I have not been able to reproduce the issue. @dj-mcg are you able to reproduce this from a new stage with a few standard prims or is it specific to a file you are using?

[2021-06-11 21:25] dj-mcg commented on #1481
Hmmm, this was in a USD scene I had saved. Let me try starting from scratch...

[2021-06-11 21:53] santosd commented on #1481
I was able to reproduce a crash with grouping and undo then attempting to move some prims in the 2022 release, but not with the latest changes I have on my end which will be in the next release so it is possible it is something that was there in 2022 but has since been fixed:
Here is how I was able to get Maya 2022 to crash:

1. Create a New Stage.
2. Create two prims (e.g. cubes).
3. Select the t

[2021-06-11 22:26] dj-mcg commented on #1481
Here is our repro (thanks to Grace!)

1. open a new empty maya file
2. Create -> Universal Scene Description (USD) -> Stage with new Layer
3. Right click on the proxy shape -> Add New Prim -> Cone (or another prim or xform)
4. Right click on the proxy shape -> Add New Prim -> Cone (or another prim or xform)
5. Select the 2 new prims and create a group by pressing ctrl+g
6. Click on one of the newl

[2021-06-11 22:28] dj-mcg commented on #1481
BTW I just pulled the latest changes but I'm still building them. I'll try once it's done

[2021-06-12 00:05] ansuter opened #1488 "Export Blendshapes doesn't seem to work properly."
**Describe the bug**
I'm trying to select 'blend shapes' on the export window, and Maya consistently fails to export a simple blendshape.
![image](https://user-images.githubusercontent.com/16786318/121758551-98c82e00-cad6-11eb-91bd-1a7ce82ae69a.png)

[code]

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a sphere
2. Deform->Blendshape
3. Windows->Animation->Shape Editor
4. Add w

[2021-06-14 13:54] kxl-adsk commented on #1488
Thank you for reporting the issue @ansuter. Before we investigate, maybe @dgovil or @ysiewappl can comment?

[2021-06-14 14:20] dgovil commented on #1488
Can you try with ExportSkels as auto? AFAIK usdSkel requires that blendshapes live under a SkelRoot to function.

[2021-06-14 15:30] santosd commented on #1481
Hi @dj-mcg,

I tested the exact steps provided by Grace and I was still not able to hit the crash with the latest changes. Let me know, what the results are on your end with the latest changes.

Cheers,

David Santos

[2021-06-14 15:36] wtelford commented on #1200
Hey  @santosg87,
Can you please update the title to reflect our internal Jira ticket and then move this in to the github scheduled column?

[2021-06-14 16:22] dj-mcg commented on #1481
Strange - I'm still crashing with the latest mayaUsd changes as of Friday. I'll build against USD Release to see if it's something there...

[2021-06-14 16:50] ansuter commented on #1488
exportskels=auto seemed to work fine! will pass that on! thanks!

[2021-06-14 17:16] radon199 opened #1495 "Ability to enable and disable Ufe selection of USD globally"
We are starting to use maya_usd with Maya2020 in production and are facing an issue of selection using our older USD workflows but with Maya_usd and UFE. Without access to 2022 in production we are stuck using our old split-proxy workflow, at least for the time being, and that presents issues of selection for us.

The split proxy workflow for us involves using proxy shapes and Maya groups to defin

[2021-06-14 17:30] ansuter commented on #1488
After making that adjustment, it does export (as long as mergeshapeandtransforms=0; as well).

Oddly though, when I export animation data too, it doesn't animate. The bounding box changes, but the actual mesh is not deforming.

[2021-06-14 17:49] HamedSabri-adsk commented on #1481
@dj-mcg I just tried the exact steps and like David can't reproduce it on my side.

As a FYI, there are two assertions being thrown when undoing the group command. This is a known issue and we have an internal jira ticket for it. You can ignore them if you see them in output console, and I don't believe are relevant to the crash described here.

[code]

[2021-06-14 18:09] dj-mcg commented on #1481
How strange - I'm running straight from the maya-usd without any Pixar-specific code at all against USD 21.05 and still experience the crash with the repro steps provided above. I can try digging in further on our side, but let me know if I can provide any more information to help you guys. I don't know if it makes a difference, but we are still using Python2 in our environment.

[2021-06-14 19:22] womanyoyoyo-adsk commented on #1200
Hi @radon199,

See attached design. Purpose display is still in the Attribute Editor under 'Stage Display' but I've added a new option in the Outliner's Display menu called 'Sync Purpose with Stage Display'. When this option is checked the Outliner would only display prims that have been checked in the Stage Display section of the Attribute Editor.

Would this design work for your artists?

![purp

[2021-06-14 20:29] #309 closed

[2021-06-14 20:31] #561 closed

[2021-06-14 20:36] #901 closed

[2021-06-14 20:36] santosd commented on #900
This has been addressed and will be resolved in the next release. Closing the issue for now. Please give it a try in the next release and confirm.

[2021-06-14 20:36] #900 closed

[2021-06-14 20:37] #972 closed

[2021-06-14 20:39] santosd commented on #951
This issue has been addressed and the fix for this should be available in the next release. Closing the issue for now. Please give this a try in the next release when available to confirm.

[2021-06-14 20:39] #951 closed

[2021-06-14 20:42] santosd commented on #1418
Closing this one out since it has been resolved. Feel free to test and confirm when the release is out or by building yourself from the latest.

[2021-06-14 20:42] #1418 closed

[2021-06-14 20:43] radon199 commented on #1200
Hey @womanyoyoyo-adsk,

That seems like a good option, and should clear up any confusion around what subtree comes from what purpose. Thanks.

My only question is about backwards compatibility with Maya2020 which I do not think has the Outliner USD options. Would there be a way for us to preset those settings or control it via a script without it being visible in the outliner?

[2021-06-14 22:05] dj-mcg commented on #1481
I crash if I run the below from the script editor, FYI. I did notice that it did NOT crash if you used `hierarchy.createGroupCmd` and execute/undo that groupCmd object, only if you use cmds. Interactively I'm using the Ctrl-G hotkey to group and Ctrl-Z to undo.

`import maya.cmds as cmds
cmds.loadPlugin('mayaUsdPlugin.so')

import mayaUsd_createStageWithNewLayer
stagePath = mayaUsd_createStageWith

[2021-06-15 17:20] womanyoyoyo-adsk commented on #1200
Hey @radon199 ,

I'm glad the design is clear. When this design above goes into development it will not be supported in Maya 2020. Maya 2020/UFE v1 doesn't have the functionality to preset these settings or control it via a script. We added these capabilities in Maya 2022/UFE v2. Feel free to open another issue with this request and my team can assess it.

[2021-06-15 20:36] HamedSabri-adsk commented on #1481
Hi @dj-mcg , I tried your script which uses cmds undo/redo and wasn't able to crash.

This looks like to be related to missing fixes in the Maya version that you have. I would suggest trying the same workflows with "Maya Preview Release 125" and see if you can reproduce the crash.

Hope this helps.

[2021-06-16 06:01] fabal opened #1500 "Constant vertex colour display"
Hi there, the VP2 render delegate displays vertex colours authored in USD using a constant interpolation differently than other interpolation, i.e.:
https://github.com/Autodesk/maya-usd/blob/7250d4adbd08f212188e5e211215d02f4498e1ae/lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp#L1784
The rationale for this behaviour is unclear to me, is it still needed?

[2021-06-16 08:06] kxl-adsk commented on #1500
Hi @fabal, I will convert this issue to a discussion and in future please use discussion forums to ask question.

[2021-06-16 08:07] #1500 closed

[2021-06-16 17:06] dj-mcg commented on #1481
Aha, that explains it - thanks @HamedSabri-adsk !

[2021-06-16 18:51] kxl-adsk commented on #1481
Just to make sure we conclude here - were you able to confirm that the issue is fixed in the preview release?

And yes, we consider all fixes for crashes for backporting to older versions.

[2021-06-16 21:23] dj-mcg commented on #1481
I need to jump through some hoops to get it installed at Pixar so there will be a delay on our side in confirming the fix. However, I think we can assume that this is the issue.

Great news about this landing in minor releases, thanks for clarifying.

[2021-06-17 15:34] mallochj opened #1507 "[MAYA-112438] StandardSurface shader opacity/transparency not supported in Maya>USD export"
When exporting a USD from Maya, neither the StandardSurface's transparency or opacity channel is exported. Conversely, Lamberts, Blinns and USD proxy surface all export transparency correctly.

This is a big problem because without transparency/opacity, the StandardSurface is only partially useful for USD exports.

Tested with maya-usd v0.10.0 (and earlier versions), Maya 2022 with Windows x64.

[2021-06-17 18:50] womanyoyoyo-adsk commented on #1488
I think this could use a tiny bit of design to clarify that you need to have ExportSkels as Auto to get Blend Shapes to export. There is a tooltip but it doesn't seem to be enough. @santosg87 and I were discussing if this is a bug or if it needs design and we've decided to go the design route so I'm going to assign this to myself.

[2021-06-17 19:26] simonstonge opened #1509 "TEST"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Attachments**
If applicable, add screenshots, sample files, etc to help explain your problem.

**Specs (if a

[2021-06-17 19:27] #1509 closed

[2021-06-17 20:09] JGamache-autodesk commented on #1507
There is no perfect solution for this issue.

We currently export non textured transmission values as opacity. So if you set the transmission value to 0.25 on the standard surface node, we export an opacity of 0.75 on the UsdPreviewSurface shader.

This is not actually correct since there is an actual opacity parameter on the standard surface shader, but it is a float3. We could modify the code to

[2021-06-17 20:47] ysiewappl commented on #1507
Would it be possible to infer this to be case even if the end-user doesn't elect to connect all child plugs? The reason I ask is that most likely artists are going to assign a texture directly without going and re-connecting manually, and in most cases the opacity texture should be grayscale anyway, so in practice it should work as expected. Otherwise it might be a little unexpected if an artist c

[2021-06-17 21:56] JGamache-autodesk commented on #1507
Yes, monochhrome texture definitely falls into the **very strong hint** category, thanks for mentioning it. We can definitely do that.

The **triple connection** hint would be necessary only with something like a single RGB texture with: roughness in R channel, metalness in G channel, and opacity in B channel, for example. I have seen a few of these recently.

[2021-06-18 10:45] mallochj commented on #1507
JGamache-autodesk, thank you for your proposed solution, this sounds great.

The possibility to channel a bitmap texture into the Opacity slot of the Standard Surface shader would be excellent.

Most artists will be careful about connecting the nodes correctly and will work around the system, so whether it's a greyscale bitmap connected into the RGB slots of the standardSurface opacity, or similar

[2021-06-18 12:40] simonstonge opened #1512 "TEST"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Attachments**
If applicable, add screenshots, sample files, etc to help explain your problem.

**Specs (if a

[2021-06-18 12:46] #1512 closed

[2021-06-18 13:35] simonstonge opened #1514 "TEST"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Attachments**
If applicable, add screenshots, sample files, etc to help explain your problem.

**Specs (if a

[2021-06-18 13:39] #1514 closed

[2021-06-18 16:07] JGamache-autodesk commented on #1507
Logged internally as MAYA-112438

[2021-06-21 20:15] wtelford commented on #1454
Part one:
"As a user, I'd like proxyShapes to be ignored by the Display - Shapes filter"
...has been logged internally as MAYA-112223

[2021-06-21 20:23] wtelford commented on #332
@santosg87 can you repro this?

[2021-06-21 20:42] radon199 commented on #1452
Yes, sorry for the duplicate, it is the same request.

[2021-06-21 20:56] wtelford commented on #257
@santosg87 Can you repro this behavior?

[2021-06-22 08:25] daviddeacon commented on #1507
On a related note, I've been having a similar problem to an artist over on the SideFX forums. When bringing in USD exported from solaris.

https://www.sidefx.com/forum/topic/78050/

The dev's responds and points to a possible a wrong interpretation of the USD data when coming into Maya and unreal.

If you're going to be working on this part of the code it might be worth taking a look at too.

Davi

[2021-06-22 15:44] JGamache-autodesk commented on #1507
Sorry, this one is a little bit more complex. Maya will very helpfully compute an alpha channel using the luminosity of the RGB channels, so you automatically get the "alpha is luminance" behavior on textures without an alpha channel as soon as you connect the outAlpha attribute.
I could not find any option to deactivate this behavior, which is hardcoded in the shader code, and this is not somethi

[2021-06-22 16:16] santosd commented on #332
Hi @tryptik, since this issue was originally created we have implemented some performance enhancements. I tested similar workflows on my end and I am not seeing a significant delay when selecting a prim with many children for selection highlighting to catch up. Wondering if you could test this again and see if the issue is still present for you.

[2021-06-22 18:59] santosd commented on #1441
Hi @DavidSpeicher, I wanted to check back on this and see if you were still experiencing this issue or if all was well and we could close this ticket out. Looking forward to hearing back from you.

[2021-06-23 07:50] DavidSpeicher commented on #1441
Yes i managed to fix it on my own.
the installer though should of done this though to be honest when installing maya 2022.

but anyways thanks :)

[2021-06-23 08:44] mallochj commented on #1507
Hi JGamache
For now, any method to export opacity would be essential. If a file node's outAlpha cannot currently work due to the 'alpha is luminance' behaviour, then a separate opacity texture connected to the RGB would be absolutely fine (from my perspective).

[2021-06-23 14:38] santosd commented on #1441
Thank you for the reply and glad to hear you were able to fix it.

[2021-06-23 14:38] #1441 closed

[2021-06-23 17:57] #1417 closed

[2021-06-26 20:36] Xaia opened #1523 "[MTOH] Maya is crashing when selecting keyed quick rig bones"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Bring in simple character
2. rig it with quick rig (human ik)
3. add key to the controls/bones
4. change viewport to mtoh
5. select one of the quick rig control bones
6. change the frame

**Attachments**
https://imgur.com/xS37vcI

**Specs (if applicable):**
 - Win 10

[2021-06-28 04:42] mhamid3d commented on #1362
@ysiewappl Sorry for the late reply, I can confirm that adding the attribute `SubDivisionMesh` does work! This also means I don't need the alembic chaser anymore, and for additional attributes I will just use the post callback method. Thanks a lot!

[2021-06-28 17:55] santosd commented on #1191
Hello @pmolodo, I have tested this in Maya using the latest release and was not able to reproduce the issue that you are seeing with the Maya Proxy Shape. Can you test again with the latest release and let me know if you are still seeing this issue. I know we have done some work on the viewport updates since this issue was first logged. Thank you and looking forward to hearing back.

[2021-06-28 18:34] santosd commented on #1177
Hello @Liametc,

I gave this a try using one of the latest releases of Maya USD using Maya 2022 and was not able to reproduce the issue that you are seeing on your end. When I import using either command Cube2 is what comes in for me. Here is what I did on my end:
I downloaded both files you have. I then run the commands:
`maya.cmds.mayaUSDImport(f="path/to/test_ref.usda", primPath="/root", varian

[2021-06-28 18:39] pmolodo commented on #1191
Hi - I’m not working with maya-usd anymore, so not really in a position to test this, but if you’ve followed the reproduction steps and it works, then I’d imagine it’s fixed.  This issue is quite old, and predates the xform overhaul.

[2021-06-28 18:39] #1191 closed

[2021-06-28 18:48] santosg87 commented on #1327
thanks vdal. we can reproduce this on our side as well. It seems to be something on how the animation is indexed.

I am investigating a bit deeper to see what could be specific issue causing the animation to be lost.

[2021-06-28 19:18] santosd commented on #1169
Tested this using the latest 2020.4 release with the 0.10.0 release of Maya USD and was able to reproduce the crash. @eddiehoyle I am wondering that if with the changes in PR#1050 you were able to workaround the the crash?

[2021-06-28 19:52] Vdal1989 commented on #1327
Okay, thank you for investigating this issue. I tried importing this model into SimLab Composer software and import the animation without any problem. Hope you can solve this issue

[2021-06-28 19:59] santosg87 commented on #1523
@Xaia  we have seen some cases of Mtoh having trouble drawing geometry in maya with specific graphics cards. what is your system environment? do you get a crash with other maya geometry displaying on moth for you?

[2021-06-28 20:02] Xaia commented on #1523
I am running RTX 3090 with 471.11 drivers

[2021-06-28 20:03] wtelford commented on #1362
It sounds like this issue is resolved with the SubDivisionMesh attribute resolves this issue. Closing for now. Please reopen if this needs further attention.

[2021-06-28 20:03] #1362 closed

[2021-06-28 20:07] wtelford commented on #257
@santosg87 Can you bring this issue in internally?

[2021-06-28 20:11] wtelford commented on #1325
Hey @santosd  can you link the Arnold-USD issues here and close this issue?

[2021-06-28 20:13] wtelford commented on #1235
@santosd can you repro this for us?

[2021-06-28 20:17] wtelford commented on #1169
@santosd Can you log this internally?

[2021-06-28 20:22] wtelford commented on #332
We believe several performance enhancements have addressed this issue. @tryptik, please feel free to reopen with more information if you are still experiencing the problem with the 0.10.0 or greater.

[2021-06-28 20:22] #332 closed

[2021-06-29 16:40] kxl-adsk commented on #1495
Not sure if you had a chance to dig deeper, but we allow subclasses of base proxy shape to decide if they wish to opt-in for UFE selection or not. This is leveraged by Pixar proxy shape and controls what we return from `ifUfeSelectionEnabled` - check https://github.com/Autodesk/maya-usd/blob/dev/lib/mayaUsd/nodes/proxyShapeBase.h#L270

We haven't designed yet any workflow that would require a swit

[2021-06-29 16:46] santosd commented on #1169
Logged internally as MAYA-112601 so that we can take a closer look at this issue.

[2021-06-29 18:35] radon199 commented on #1495
Yes, we have looked into it, and more then likely we will be making the implementation internally.

I still think there would be benefits to making the above change when using Usd Proxy as a object within a deeper maya hierarchy, and where someone might want to separate Maya selection vs UFE section, even in 2022+.

I'm sure lots of different studios found ways around the limitations of the Pixar

[2021-06-29 22:38] MKGitHub opened #1529 "Version 0.10.0 for Maya2022 crashes Maya when loaded with Arnold on MacOS"
**Describe the bug**
When version 0.10.0 is installed Maya crashes on launch or when the plugin is enabled.
macOS Big Sur 11.4 (20F71)

<img width="857" alt=" 2021-06-30 at 00 30 05" src="https://user-images.githubusercontent.com/535550/123876287-62ded280-d93b-11eb-9a24-640dc7dd1b5c.png">
<img width="827" alt=" 2021-06-30 at 00 33 16" src="https://user-images.githubusercontent.com/535550/123876302

[2021-06-30 06:55] JonnhyRDG opened #1531 "USD export options, Bumps, Normals, Displacements and Catclak attributes"
Hi everyone!

I've been testing passing a whole project to Katana through the Maya´s USD export plugin. Only to find there are plenty of attributes that don't get exported correctly or at all.

Examples:

- Geometry attributes, catclack and iterations get ignored. There's a @"subdivision method" flag at the export window, which applies a catclark iteration of 1 to everything. **<-- ok I just read

[2021-06-30 11:09] jufrantz opened #1532 "[MAYA-112624] vp2RenderDelegate and custom surface shaders"
Hello,

We are using custom surface shader nodes (i.e. not `UsdPreviewSurface`) in `UsdPreview like`  node graphs (using `UsdUVTexture`, `UsdPrimvarReader` and `UsdTransform2d`). These nodes are registered in SdrRegistry thanks to an usd plugin and HdSt renders the shading effect from custom glslfx files. This works flawlessly in usdview/storm as well as in maya/storm batchRenderer. 

We are now t

[2021-06-30 12:33] williamkrick commented on #1532
I think that if we checked the MShaderInstance::requiredVertexBuffers() somewhere between calling _createShaderInstance() and where _requiredPrimvars is set at [line 1178 of material.cpp](https://github.com/Autodesk/maya-usd/blob/1b83d33e1b0d7b1af94afc0acab57756d9f6bced/lib/mayaUsd/render/vp2RenderDelegate/material.cpp#L1178) that would fix the problem for you. Is my understanding here correct?

M

[2021-06-30 16:25] jufrantz commented on #1532
Hello William,

Yes you are correct, this is exactly what I tried and this would fix our missing normals.
This would be great if it could handle arbitrary primvars as well (not only standard MGeometry semantics like normals).

Thank you for the fast answer,
Julien

[2021-06-30 16:39] williamkrick commented on #1532
I've logged MAYA-112624 to track this one.

[2021-06-30 21:28] santosg87 commented on #1529
Hi @MKGitHub, thanks for logging this. I am trying a few things on our side to narrow things down. we have been able to reproduce a crash with the mtoa plugin, so i am wondering if that could be the issue for you as well.

if you unload the mtoa plugin, does that allow mayausd to load?

[2021-07-01 08:44] sebastienblor commented on #1531
For others looking at this post, Jonnhy also asked the same question in arnold-answers and I've replied in there.
These are known limitations of the mayaUSD export with Arnold. For now, the only way to have all the arnold data in USD files is still to use the Arnold USD exports from the arnold menus. But we're currently working on improving this, so that in the future you can have all the arnold d

[2021-07-01 09:41] #1531 closed

[2021-07-01 12:27] jufrantz opened #1535 "PoxyShape.primPath and usd xforms in vp2RenderDelegate"
**Describe the bug**

Since maya-usd 0.9, vp2RenderDelegate takes the `primPath` attribute into account and that's a great addition ! But unfortunately we can't get the same desired result as with maya-usd 0.8 and GLBatchRenderer. Now setting primPath isolates the branch in the viewport, preserving its usd world xform. This is an issue for some of our workflows that need to "reference" in maya an

[2021-07-02 09:41] jufrantz opened #1537 "vp2RenderDelegate crashes with uniform displayOpacity"
**Describe the bug**

A crash may occur when rendering in vp2 an usd mesh defining `displayOpacity` primvar with `uniform` interpolation. There is an invalid array access here :

https://github.com/Autodesk/maya-usd/blob/d57109d2689b52cafd00f0cb932405c1e841a204/lib/mayaUsd/render/vp2RenderDelegate/mesh.cpp#L1564

**Steps to reproduce**

1. Make sure vp2 is in "Smooth Shaded" mode
2. Import [attach

[2021-07-02 17:42] santosd commented on #1235
@stevkalinowski I tested this in Maya using PR126 from the beta site and was not able to reproduce the issue using the files you provided. I also tested the latest 2022.1 release and was not able to reproduce the issue there. When I search for "jawOpen" in the exported USD file from the "blendshape_test_bug.ma" file I get "jawOpen" nothing with a "0" in it. Could you get the latest and test again

[2021-07-02 22:11] MKGitHub commented on #1529
@santosg87 You are correct, I unloaded the mtoa plugin and version 0.10.0 works :-)

[2021-07-02 22:19] dj-mcg opened #1538 "MAYA-114282: User preference to delete USD objects rather than deactivate them on delete"
Pixar production uses Maya to construct USD scenes, and part of this process involves frequently make structural edits, including adding, reparenting, and deleting prims. Currently, USD objects will only be deactivated when a user attempts to delete them in the Outliner. For our workflows, we would need a way to tell Maya to actually delete these prims rather than simply deactivating them.

[2021-07-02 22:23] dj-mcg opened #1539 "[MAYA-122903] Opinions in the session layer should not block edits on an authoring layer"
While testing, our users noticed that they were unable to reparent a Point Instancer after changing its Draw Mode. This was due to the fact that we are authoring the Draw Mode opinion in a session layer, which is stronger than the layer containing scene edits. We'd like an option to "special case" session layers to allow them to be implicitly modified when making edits to a scene layer, not only t

[2021-07-02 22:54] dj-mcg opened #1540 "[MAYA-104475] Outliner Context Menu should perform edits on all selected nodes"
If a user selects multiple nodes in the Outliner and opens the context menu, any action performed in that menu will only affect the object that was underneath the mouse cursor when the context menu was opened. If right-clicking on one of the selected nodes, the context menu actions should affect all selected nodes.

If multiple nodes are selected and the user right clicks on an UNSELECTED node, it

[2021-07-02 23:04] dj-mcg opened #1541 "Outliner icons based on model kind"
Our users would like a more obvious visual clue as to the different kinds and types of objects in the Outliner. They are specifically interested in visually separating structural/organizational "group" nodes from nodes representing individual USD models. While these are both of type Xform, they have distinct kinds (in our case, "group" and "prop").

One approach that was discussed was to first try

[2021-07-02 23:09] dj-mcg opened #1542 "[MAYA-112773] Duplicating a model should bring it in loaded"
Our users noticed that when duplicating a model by Ctrl+D in the Outliner, the new model brought into the scene unloaded. They would prefer to have them loaded.

After discussions with Will & Krystian we suspect this is just a bug.

[2021-07-02 23:14] dj-mcg opened #1543 "[MAYA-113820] Unloaded prims should appear in the outliner"
Users requested that unloaded prims still appear in the outliner to allow them to view the entire hierarchy without having to load everything, primarily to introspect the unloaded children of a group node. There should be some indication that the model is unloaded. The children/contents of unloaded prims should still be hidden, and unloaded prims should not need to be expandable.

[2021-07-02 23:26] dj-mcg opened #1544 "[MAYA-112663] Point Instancer Selection Mode menu item"
Currently the only way to change the Point Instancer Selection mode is via the Script Editor by setting an option var. This should be surfaced to the user, probably in the USD section of the Select menu similar to the USD Selection mode.

[2021-07-02 23:36] dj-mcg opened #1545 "Disabling Selection Highlighting should work with USD prims"
Our users noticed that USD prims would ignore the "Disable Selection Highlighting" preference. They would prefer they honor this preference instead.

[2021-07-05 13:57] VikingScientist opened #1549 "No support for rational spline curves"
**Describe the bug**
I cannot find any way to format rational spline curves within the framework. Please relabel this as "help wanted" if the functionality does exist, or "feature wanted" if it does not exist. The feature exist for surfaces, but not for curves.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to the API for  [UsdGeomNurbsCurves](https://graphics.pixar.com/usd/docs/ap

[2021-07-06 03:18] saikumarbonigala opened #1551 "The specified module could not be found. (TBM_2D)"
// Error: file: C:/Program Files/Autodesk/Maya 2020/script/others/pluginWin.mel line 317: The specified module could not be found. (TBM_2D)

[2021-07-06 17:35] womanyoyoyo-adsk commented on #1544
Hi @dj-mcg ,

How's this design? This submenu would be under the Select main menu. The Kind selection mode would work in combination with the Point Instancer selection mode. The submenu will be tearable.
![pointInstancer](https://user-images.githubusercontent.com/49446314/124643305-f1cd7c80-de5e-11eb-9e76-f1f8f8ecc4e7.png)

[2021-07-06 19:31] wtelford commented on #1545
@womanyoyoyo-adsk We should log this internally as a story.

[2021-07-06 19:34] wtelford commented on #1543
@womanyoyoyo-adsk We need to investigate this internally. If we change this behavior, we'll need a way to indicate an unloaded prim and perhaps an outliner filter.

[2021-07-06 19:35] wtelford commented on #1542
@santosg87 Please log internally if you can reproduce this.

[2021-07-06 19:37] wtelford commented on #1540
This is not a Maya USD specific behavior, but a default Maya behavior. We need to investigate if this is within scope for this project.

[2021-07-06 19:39] wtelford commented on #1539
We're going to need to gather some more feedback on this behavior. Currently we are very restrictive on what can prevent edits in order to prevent very complex editing scenarios from arising. Loosening those up for only the session layer seems like a potential area for loosening those restrictions.

[2021-07-06 19:42] wtelford commented on #1538
USD supports de-activation which is a non-destructive delete. USD also supports clearing opinions, which is a more traditional destructive deletion. Currently Maya's delete command tries to perform a non-destructive de-activation if certain conditions are met.

Given several paradigms in place, I am currently partial to leaving Maya's delete action performing a de-activation, but we need to add pe

[2021-07-06 20:56] stevkalinowski commented on #1235
Thanks for looking into it.  I just tested in Maya 2022 and I do not see the issue anymore with the test files I provided.  It looks to be resolved.

[2021-07-08 14:13] wtelford commented on #1549
Closing here as this would be an implementation of USD itself, not Maya USD. You can find that repo here:
https://github.com/PixarAnimationStudios/USD

Feel free to reopen here if I'm misunderstanding your issue.

[2021-07-08 14:13] #1549 closed

[2021-07-09 08:49] VikingScientist commented on #1549
You are completely right and I've opened a ticket in the right place. Thanks 😄

[2021-07-11 21:45] swillisart commented on #1538
Sind de-activation is the preferred deletion operation it would be good to provide a context menu to "clear" the item completely out of the scene in the outliner. Or provide a preference but I think a context option would suffice.

[2021-07-12 12:58] kxl-adsk commented on #1545
@wtelford @womanyoyoyo-adsk This looks to be already logged - #1125 (MAYA-107000). I will close this issue.

[2021-07-12 12:58] #1545 closed

[2021-07-12 20:14] wtelford commented on #1452
Great, we'll close this as a duplicate of #487

[2021-07-12 20:14] #1452 closed

[2021-07-12 20:16] wtelford commented on #1283
@santosg87 can you link this to the internal jira issue?

[2021-07-12 20:33] santosg87 commented on #73
this one is currently fixed on usd 0.10.0. Closing it for the time being

[2021-07-12 20:33] #73 closed

[2021-07-12 20:34] santosg87 commented on #164
closing this based on the internal testing and the comment above. :)

[2021-07-12 20:34] #164 closed

[2021-07-12 20:35] santosg87 commented on #269
based on the above confirmation, I believe we can close this. :)

[2021-07-12 20:35] #269 closed

[2021-07-12 20:43] santosg87 commented on #506
I believe this one is nowfixed on mayaUSD 0.10.0. @koen-v are you able to confirm and close it? thank you!

[2021-07-12 20:58] santosg87 commented on #814
I believe this can be closed. the issue @cfmoore007 mentions on the def prim is due to limitations on the prim type, we have an error message that mentions the limitation now. :)

marking this as closed for now, we can re-open if the issue is still a problem

[2021-07-12 20:58] #814 closed

[2021-07-12 21:22] santosg87 commented on #1235
closing this one based on the above comments :)

[2021-07-12 21:22] #1235 closed

[2021-07-12 21:36] santosg87 commented on #1551
Hi @saikumarbonigala, the error message you are running into seem to be the generic Maya error for a plugin not loading. would you be able to provide some more info on your system?
it would be helpful to know the version of your plugin and specific version of Maya 2020 (or 2020.update)

a few possible reasons for the plugin not loading could be:
- environment variables affecting your system
- the

[2021-07-12 21:43] santosd commented on #1325
I have linked the Jira ticket in the title.

[2021-07-12 23:22] gracekumagai opened #1569 "Transformation doubles in "expanded" representation for pxrUsdReferenceAssembly"
**Describe the bug**
Logging on behalf of Pixar - When a pxrUsdReferenceAssembly is set to the "Expanded" representation and it references another model, the transform appears to be doubled on the referenced model.

**Steps to reproduce**
1. Download the following files under Attachments and convert them to .usda (unfortunately, I was unable to upload .usda files).

2. Run the following maya comma

[2021-07-13 19:14] ika-rporter opened #1571 "[AL] Hard crash when loading explicit prim path from a file that does not exist"
**Describe the bug**
The AL USD Maya ProxyShape node hard crashes Maya when loading explicit prim path from a file that does not exist

**Steps to reproduce**
1. Open Maya and load the AL USD Maya plugin.
1. Execute this MEL: `AL_usdmaya_ProxyShapeImport -f "/does_not_exist.usd" -pp "/any";`

**Expected behavior**
The AL USD Maya ProxyShape node should not hard crash Maya

**Attachments**
If appli

[2021-07-14 00:49] earlgeorg commented on #487
Any news on this?

[2021-07-14 08:05] #1571 closed

[2021-07-15 20:20] womanyoyoyo-adsk opened #1578 "Stage Display purpose per prim?"
### Discussed in https://github.com/Autodesk/maya-usd/discussions/1565

<div type='discussions-op-text'>

<sup>Originally posted by **daviddeacon** July 10, 2021</sup>
Is it possible to have parts of a stage be displayed at different quality levels?

For example, I'm testing out possible environment build workflows, and have a number of trees in a stage, and the stage set to display proxy purpose.

[2021-07-15 20:23] womanyoyoyo-adsk commented on #1578
Please see feature request described in thread #1565

[2021-07-16 09:34] wandth opened #1580 "Invalid flag '-optionVarChanged'"
hello when I install mayausd plugin for maya2020.4 and load it
it has a error
[code]
platform:**maya2020.4**
mayausd: **version:0.10.0**

[2021-07-19 06:07] csyshing opened #1587 "[MAYA-112806] Unexpected selection"
**Describe the bug**

Hi,

We found an unexpected selection issue that happens for some of our production shots, when selecting something on viewport, it's actually selecting another prim at opposite direction, please have a look for the GIF:
![incorrect_selection_result](https://user-images.githubusercontent.com/1593576/126106948-e3d5d902-4916-42b4-b9b3-c1edc1035dd0.gif)

In the example scene, th

[2021-07-19 12:11] wjwilson opened #1588 "[MAYA-112854] mayaUSDImport throws USDZ related error when importing other file types"
**Describe the bug**
`mayaUSDImport` throws the following error when importing any form of USD file:

`# Error: The directory specified for USDZ texture imports: P:\current\project\sourceimages is not valid. # `

It is accurate that this folder does not exist, but I get this same error when importing a USDA with no textures. Setting `importUSDZTextures=False` has no effect. I can suppress the erro

[2021-07-19 13:00] williamkrick commented on #1587
I reproduced this one today and logged MAYA-112806.

[2021-07-19 15:06] seando-adsk commented on #1580
Strange, we'll have to investigate. The flag "-optionVarChanged" was added to the "scriptJob" command in Maya 2019 so it should be available for you in Maya 2020.4.

[2021-07-20 14:45] santosg87 commented on #1542
hi @dj-mcg i am having trouble reproducing this. i have tried a few different instances and workflows, but when i duplicate, i always get my models loaded. would you be able to add a bit more details on the behavior they are seeing? are they duplicating prims that are not loaded to begin with? are the unloaded prims still visible?

[2021-07-20 16:30] dj-mcg commented on #1542
Hi @santosg87 - I just tried creating a stage on a new layer, adding a prim, and duplicating. Sure enough, this comes in loaded. It must be specific to duplicating referenced models. Let me try to collect more details surrounding the issue.

It's also worth noting I'm testing this in base Maya 2022, so if there have been any fixes only available in PRs, I haven't picked those up. I've been waiting

[2021-07-21 07:29] AndrewSB opened #1590 "zips bundled in releases target Maya 2020, incompatible with Maya 2022?"
Hey! I was trying to update the version of the plugin I was using. Maya 2022 seems to be bundled with maya-usd `0.8.0`. Downloading the macOS zip from https://github.com/Autodesk/maya-usd/releases/tag/v0.10.0, and using the wizard seems to installs the plugin at `/Applications/Autodesk/mayausd/maya2020/0.10.0_202106052251-73d6513/`. Which _may_ be incompatible with Maya 2020 (notice the `/maya2020

[2021-07-21 09:53] AndrewSB opened #1591 "Exported USDZ has both surface subdivision and tessellation enabled"
I'm working with a model that I'm exporting to USDZ using Maya. `OpenSubdiv` is having issues rendering the model, so I wanted to try turning off subdivision, and only using GPU tessellation.

I was originally using the default subdivision option (`-defaultMeshScheme catmullClark`) which has both subdivision & tessellation enabled for the model. I tried switching my export to `-defaultMeshScheme n

[2021-07-21 15:31] seando-adsk commented on #1590
Just to verify - you are using Maya 2022? Did you download and install the MayaUsd plugin (v0.10.0) for Maya 2022? We provide binaries for both Maya 2020 and Maya 2022.

[2021-07-21 22:26] AndrewSB commented on #1590
my mistake, sorry about that! I glazed over the Maya version in the release and picked `MayaUSD_0.10.0_Maya2020_MacOS_.dmg` instead of `MayaUSD_0.10.0_Maya2022_OSX.dmg`

[2021-07-21 22:26] #1590 closed

[2021-07-22 18:44] swillisart commented on #1337
Adding this here as the method in which both _File Path Editor_ and _File>Archive Scene_ use to get files paths is from the command **listAttr -usedAsFilename**
The mayaUsdProxyShape does not currently yield it's path(s) to it.

[2021-07-22 19:03] swillisart opened #1595 "[EMSUSD-676] Custom Right click in Viewport 2.0 would be great to be an extension of the outliner."
**Is your feature request related to a problem? Please describe.**
Currently no right click context menu / marking menu is shown when a user right clicks a USD shape in the Viewport.

**Describe the solution you'd like**
It's much more intuitive to manipulate items (Especially Varaints and LOD's) by selecting the shape(s) you wan to modify in the viewport.

**Describe alternatives you've considere

[2021-07-22 19:07] ppt-adsk commented on #1595
Hi @swillisart, @wtelford is out of the office currently, but we have discussed this exact feature internally before, so without a doubt we'll be getting back to you.

[2021-07-22 21:35] ppt-adsk commented on #1169
Hi @eddiehoyle, thanks for reporting and identifying the cause of the crash, fixed in
https://github.com/Autodesk/maya-usd/pull/1596
This is not 2020 specific; it is now fixed for all versions of Maya.

The more interesting point is that your test code isn't doing what you might expect it to do, and the core source of the problem is the line that creates the scene item directly out of the Python c

[2021-07-23 19:09] eddiehoyle commented on #1169
Ahh, this whole time I thought all `ufe.SceneItem`s were created equal and UFE managed the mapping to their underlying runtime objects via path segments. Now I see.

![highlighting](https://user-images.githubusercontent.com/5211154/126829669-1ff4ee46-b848-4868-b291-4025b161a705.png)

I can confirm switching to `ufe.Hierarchy.createItem` no longer causes a crash on my end, _and_ everything works as

[2021-07-26 17:40] santosg87 commented on #1529
@MKGitHub I would recommend updating Arnold to a more recent version then, as there is probably just difference on libraries, as the arnold release with gold is quite older. arnold 4.2.3 should be available for download on the arnold side. :)

[2021-07-26 17:40] #1529 closed

[2021-07-26 19:54] wtelford commented on #1595
@santosd  can you log this internally.

[2021-07-26 20:08] wtelford commented on #1338
@santosg87 can you link this to MAYA-112143

[2021-07-26 20:18] santosd commented on #1177
Hello @Liametc, since I haven't heard back on this one, I am going to conclude that all is well and am going to close this issue out. If you retest in the latest and are still seeing the issue, please feel free to reopen the issue.

[2021-07-26 20:18] #1177 closed

[2021-07-26 20:39] santosd commented on #974
Hi @dgovil, Just checking back on this to see if you had a chance to test this in a recent PR release to see if the issue is still reproducible for you.
Thank you.

[2021-07-26 20:40] dgovil commented on #974
Not yet unfortunately. I'm mid move this week but will try out the latest PR next week and see if I can still reproduce this.

[2021-07-26 20:42] santosd commented on #467
Hi @Xaia, I have spent some more time recently taking a look at this and I was still not able to reproduce the issue you are seeing on my end. I am still having issues in which the whole scene is always washed out.

Here is what I tried:

1. Create a stage from the NVIDIA Attic scene.
2. Delete the lights in the stage.
3. Render with Arnold and everything is washed out.

I have also tried with and

[2021-07-27 21:24] dj-mcg commented on #1542
As far as I can tell, the model/prim you are duplicating must have a payload (ie. can be loaded/unloaded) and must be parented under an Xform prim. The duplicated model will come loaded only if you've already done "Load with Descendants" on the parent. The load state of the source model won't matter - you can duplicate an unloaded prim, and if the parent has been loaded w/ descendants, the duplica

[2021-07-28 13:21] #1588 closed

[2021-07-28 13:22] #1440 closed

[2021-07-28 15:08] yolov commented on #1340
Hi David,

Sorry for the delay.
I tested this with 0.10.0 and it works.

I noticed that the original scene I attached still doesn't work, but
recreating it from scratch works.
The original scene still keeps the upper-case drive letter in the path
string, but newly added layers with abs paths are saved with lower-case
drive letters.
I read how it was fixed in the issue and it seems that this was th

[2021-07-30 20:00] blastframe opened #1610 "mtohRenderOverride_HdStormRendererPlugin, mtohRenderOverride_HdArnoldRendererPlugin Errors on Startup"
**Describe the bug**
On startup in Maya 2022.1, I am getting errors from the mtoh plugin which has been set to Autoload.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to Windows > Settings/Preferences > Plugin Manager
2. Activate Loaded and Auto load for mtoh.mll
3. Restart Maya
4. Look at the Script Editor output.

**Expected behavior**
I would expect the plugin to load without t

[2021-08-02 21:36] santosd commented on #1588
Validated internally that this issue is resolved.

[2021-08-03 16:43] dlarsson-adobe opened #1612 "UsdTransform2d node in UsdShade networks doesn't work in viewport 2"
**Describe the bug**
Using the node UsdTransform2d in a UsdShade network fails when using viewport 2 (it seems it binds a constant of 0,0).

It works when using the GL(Hydra) renderer

**Steps to reproduce**
Unpack the attached file to a local location
Create a USD scene from the usd document in the unzipped file
Look at the scene in the Viewport 2.0 renderer and note how the cube has a single col

[2021-08-04 07:05] XuanyiJiang opened #1615 "Can not load USD plugin in Maya 2022"
**Describe the bug**

I am unable load any version of the USD plugin in Maya 2022. Neither the one (0.8) , or the new release (0.11),
I found the similar Issue in # 1389,
But I still can not solve the problem.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to  plugin manager
2. Click check box next to MayaUsdPlugin.mll
3. See error

// 错误: file: D:/Program Files/Autodesk/Maya2022/s

[2021-08-04 11:21] XuanyiJiang commented on #1615
I uninstalled the Maya 2022 , and installed the Maya 2022 with USD plugin(0.8)  in Disk D: . Now it working.
But I really want to know the reason.

[2021-08-05 16:47] ChewyPixels commented on #1615
I'm having the same issue with both Maya 2020.4 & Maya 2022.1. Plugin fails to load.

[2021-08-05 17:41] seando-adsk commented on #1615
@XuanyiJiang Usually the cause of the MayaUsd plugin not loading is that you have something conflicting in the PATH or PYTHONPATH. Please check both of these env vars. I don't see you PYTHONPATH above, but in your PATH can you remove the python 37 stuff.

[2021-08-05 18:23] #1507 closed

[2021-08-05 18:25] #1612 closed

[2021-08-05 19:13] santosd commented on #467
Hi @Xaia,
Just checking back to see if you could provide some further information from my above comment. If I don't hear back, since I am having trouble reproducing the issue I will go ahead and close the ticket out for the time being.
Thank you and looking forward to hearing back.

[2021-08-05 19:20] Xaia commented on #467
Hi,

I am away from my PC for a while, I'll will let you know once I am back.

Cheers

On Thu, Aug 5, 2021, 21:13 David Santos ***@***.***> wrote:

[2021-08-05 21:09] santosd commented on #1610
Hello @blastframe I tested this out on my end and I was not able to reproduce the error. Wondering if you could give [0.11.0](https://github.com/Autodesk/maya-usd/releases/tag/v0.11.0) a try and see if you still see the error.

[2021-08-06 12:13] colaub commented on #227
Hi, any news about this issue?

[2021-08-08 02:33] xipaja commented on #1615
Hey, I'm getting the same error. @seando-adsk May I ask why removing the Python 37 stuff helps if Maya 2022 uses Python 3? I just have Python 27 in my PATH now and it still gives me the error. This is my PATH and PYTHONPATH, respectively.

![path](https://user-images.githubusercontent.com/22357172/128618817-4d92fdf6-197f-4413-8367-d39804aeac2d.PNG)
![pythonpath](https://user-images.githubuserconte

[2021-08-08 06:15] dgovil commented on #1615
Python searches along your PYTHONPATH and PATH variables to find your libraries.

By having conflicting Python versions in your PYTHONPATH, you might cause Maya's Python to find incompatible versions of libraries.

By having conflicting USD versions in your PATH, you'll possibly cause the USD Python bindings and/or Maya USD to find incompatible versions of USD.

Generally you should not be adding

[2021-08-08 19:34] ChewyPixels commented on #1615
I found the clash with my setup. Pertains to my V-Ray installation. Any suggestions?
![Untitled-1 copy](https://user-images.githubusercontent.com/44822912/128643660-ec5b7ac4-08ca-4d78-9894-ee73426ad314.PNG)

[2021-08-09 14:24] seando-adsk commented on #1615
@xipaja Maya 2022 contains both python 2 and 3 inside of its install. As Dhruv points out having any other versions in your path or pythonpath will conflict with the ones from Maya. I also see that you have C:\USD\{bin/lib} in your path. What is that for? Did you build USD yourself locally? If so and you want to use it, then you also need to build the MayaUsd plugin with that USD and then simply s

[2021-08-09 18:31] santosg87 commented on #1551
@saikumarbonigala closing this issue for now, if this is still an issue on your side, feel free to reopen :)

[2021-08-09 18:31] #1551 closed

[2021-08-09 19:24] santosg87 commented on #1537
@jufrantz i have tried a few different things on my side and wasn't able to reproduce this at all. are you able to confirm if this is still a problem for you on the latest releases of the plugin?

[2021-08-09 19:28] santosg87 commented on #1591
@andrewbutts we currently don't have full support for opensubdiv on Maya, are you having problems rendering the model in maya or outside of it? this might be a problem on the import side, instead,

are you able to share a sample file with us, so we can try to investigate a bit deeper?

thank you!

[2021-08-09 20:10] santosd commented on #1481
Hello @dj-mcg, just wanted to check back on this and see if you were able to test the fix. If you are not able to test at this time, we can go ahead and close the issue out for the time being and reopen if needed once you have been able to take a look. Thank you.

[2021-08-09 20:12] santosd commented on #974
Hi @dgovil, Just wanted to check back on this one and see if you had a chance to take a look at this issue again in a newer build. If you are not able to test at this time, let us know and we can close this issue for the meantime and reopen if we need to once you have had a chance to test. Thank you.

[2021-08-09 20:21] dgovil commented on #974
Hi David,
Sorry again,Please go ahead and close it and I'll open a new issue if
needed. I just finished moving and haven't had adequate internet service to
get the latest builds up and running.

On Mon, 9 Aug 2021 at 13:12, David Santos ***@***.***> wrote:

[2021-08-10 01:06] nxkb commented on #603
@stevkalinowski one question for you, to see this is similar to what I saw before: Is the rest pose you're looking for in a SkelAnimation prim instead of the SkelRoot? If so was the skin bound to your skeleton in the same position as the "rest" pose?

[2021-08-10 01:46] wandth commented on #1580
@santosg87  I has uninstall mayaUsd0.10 and install mayausd 0.11, but it also has that error.
![image](https://user-images.githubusercontent.com/34237282/128795847-c09ae7ee-78b2-4a41-b79a-e583547deef3.png)

[2021-08-10 01:47] wandth commented on #1580
@santosg87 I will try to rebuild it,and thanks

[2021-08-10 07:41] AndrewSB commented on #1591
thanks for looking into this @santosg87! can i email you a fbx file, and the resulting usdz? i don't have a sample file that i can share publicly

[2021-08-10 07:42] AndrewSB commented on #1591
i'm having issues rendering the file in SceneKit, loaded through Apple's ModelIO, my temporary workaround has been to set the `subdivisionLevel` on the geometry to 0

[2021-08-10 17:29] santosd commented on #974
No problem at all @dgovil, Hope the move went well. If at a later time you still have issues with this, feel free to comment on it again and we can reopen it.

Cheers!

[2021-08-10 17:29] #974 closed

[2021-08-10 18:20] stevkalinowski commented on #603
I’m also posting a response from Koen.  We’re both having issues posting comments using the website, we can an error.

Hello all,
I work with the same data as Stev. If I remember correctly, the maya exporter would always export the mesh and the skeleton in the bind pose pose and then export a SkelAnimation to reflect the current pose ( when not exporting animation).
Instead of exporting and bindin

[2021-08-11 19:28] xipaja commented on #1615
@seando-adsk @dgovil it works, thanks so much for your help and explanation! I cleared USD from my PATH variables and restarted Maya and it loaded fine.

[2021-08-11 19:29] xipaja commented on #1615
I did build USD on my computer locally, so I've been using usdview a lot for files. Now looking forward to using Maya

[2021-08-11 20:04] seando-adsk commented on #1615
@xipaja We include usdview as part of the MayaUsd. Instructions for running it can be found [here](https://github.com/Autodesk/maya-usd/discussions/1378#discussioncomment-676825).

[2021-08-11 21:11] xipaja commented on #1615
@seando-adsk Great, just got that working. Thank you!

[2021-08-13 17:40] Xaia opened #1624 "[MAYA-113230] ALab loading speed bottleneck"
**Describe the bug**
Hi there,

I believe there is some kind of bottleneck while loading ALab scene with MayaUSD plugin. Tested on both 0.10.0 and 0.11.0
I feel like Proxy and Render purpose is loading in the same time so the time to first "pixel" is stretched to 38 seconds. This is way too long for such simple scene.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Load the ALab scene.

[2021-08-13 18:37] jcoelho88 opened #1625 "mayaUsdRegistry error with 0.11.0 and Arnold 4.2.3"
Hello,

I'm wondering if anyone else is having the same problem I'm having.

Currently I'm using Maya 2022.1, maya-usd-0.11.0 and arnold-4.2.3 and have encountered an issue when trying to do a USD Export. I expect to see Arnold as an option in the material dropdown in the export dialog window but instead this error appears and no option for Arnold appears.
![image](https://user-images.githubuserco

[2021-08-13 19:29] sebastienblor commented on #1625
Hi Jason,
indeed MtoA 4.2.3  was released before 0.11 was out, and its usd modules were built for maya-usd 0.10.
Since these versions aren't binary compatible, it's not loading anymore.
You will need a newer version of MtoA, that is yet to be released.
Cheers

[2021-08-13 19:33] jcoelho88 commented on #1625
Hi Sebastien,

Thanks for the response!

I was wondering if that may have been the case, thanks for the info.

I'll close this issue and keep an eye out for the next MtoA release.

Cheers,

Jason Coelho

[2021-08-13 19:33] #1625 closed

[2021-08-15 12:25] Xaia commented on #1624
Just for the comparison, here is how Houdini is loading this stage. Geo loads in an instant and then textures are quickly loaded in.
Also the Alab is rendering with Karma without any issues. Arnold is not rendering the Alab at all.
https://user-images.githubusercontent.com/60515654/129478474-0d7c4d7e-e6ad-4b7d-bd74-854c34984bfe.mp4

[2021-08-16 13:39] wtelford commented on #1624
@santosg87 can you link this to internal issue MAYA-113230 ?

[2021-08-16 18:53] williamkrick commented on #1624
@Xaia the long loading time is caused by texture loading. USD only synchronizes rprims whose purpose is necessary to draw the scene, but it synchronizes _all_ the sprims. When the scene loads in with only proxy purpose displayed the time taken is all the time to load the proxy geometry & materials plus all the time to load the render materials. And the render materials take up most of the time!

I

[2021-08-16 19:42] Xaia commented on #1624
@williamkrick thank you for checking what is exactly causing this issue. Would be a bummer to lose all the magnificent USD speed just because of some puny textures ;).

[2021-08-17 13:01] williamkrick commented on #1624
Yes hopefully we'll be able to find a solution to this problem.

I did create a pull request for an issue I found during my investigation which saves syncing rprims which are not drawn. In ALab this doesn't provide a measurable performance improvement because the time all goes to sprims (the materials).

There is no similar way to have sprims respect purpose for sync that is easy for me to impleme

[2021-08-18 13:58] jcoelho88 commented on #850
Hi @sophiaberger,

I don't know if this is the results you are looking for but, here is something I have done to get just the Material and its bindings to the mesh from an export with selected geometry as described above.

[code]

Here is an example usda file of a cylinder exported from maya with a aiStandard shader using the Maya-usd export selection and  one after running the code.

Maya export:

[2021-08-18 15:39] sanders3d opened #1635 "export constrained objects"
Logging as an issue based on the discussion. Inconsistency between UI and script based export.

### Discussed in https://github.com/Autodesk/maya-usd/discussions/1631

<div type='discussions-op-text'>

<sup>Originally posted by **sanders3d** August 17, 2021</sup>
I'm not being able to export even the simplest animation. Isn't constrained animation supported?
In the example I've selected the "cube_

[2021-08-18 17:03] jufrantz commented on #1537
Hello @santosg87,

Thank you for your answer and sorry for the late reply.

I checked with maya-usd v0.11.0 / USD v21.08 / maya v2022, and the invalid array access is still here, uniform opacity is still misinterpreted.

But there are problems with the scene I attached in the issue. It is too simple to show the problem as a crash, it will most probably only generate an undefined value for transpar

[2021-08-18 19:56] wtelford commented on #1635
Hey @santosg87 Can you go ahead and log this one internally and link it here?

[2021-08-19 08:18] jufrantz commented on #1535
Hello,
Are there any news about this issue, would it need more details from our side ?
I noticed that it looks very similar to #1569 in backlog.

[2021-08-19 08:44] maxRobinot commented on #256
Hello!
Is there any advances on this subject ?
Support for ProxyShape instancing (special duplicate) would really be great!

Or do you have any other way to draw usd in the viewport using special duplicate ?
Maybe some leads to a way for me to try to patch the code to support that ?

Thanks a lot!

[2021-08-20 22:53] HarryMichalakeas opened #1639 "Maya USD plug-in builds but wont load (Maya 2019/Linux CentOS 7.7)"
Hi Guys,

We are having difficulties getting maya-usd up and running for Maya 2019 under linux (Centos 7.7). We managed to get the USD core and it's dependencies to build, and maya-usd does build,
but we get the following errors while trying to load the plug-in:

loadPlugin "/local/hmichalakeas/tmp/maya-usd_build/install/RelWithDebInfo/plugin/adsk/plugin/mayaUsdPlugin.so";
translator mayaUsd_Schem

[2021-08-23 15:05] seando-adsk commented on #1639
Did you set the MAYA_MODULE_PATH to point to the folder where your mayaUsd.mod file is located? Probably `/local/hmichalakeas/tmp/maya-usd_build/install/RelWithDebInfo`

If you look in the `.../install/RelWithDebInfo/lib` folder do you have the file `libmayaUsd_Schemas.so`?

[2021-08-23 16:40] HarryMichalakeas commented on #1639
Setting the module path did the trick! Thank you!

[2021-08-23 17:07] seando-adsk commented on #1639
Excellent. I'm going to close this issue then.

[2021-08-23 17:07] #1639 closed

[2021-08-23 18:11] HarryMichalakeas commented on #1639
Thanks again for the help! Have a nice day!

[2021-08-24 15:40] jcoelho88 opened #1647 "Can't seem to find the Hydra option with Maya-usd 0.12.0"
Hello,

I previously had an issue with incompatible versions of Arnold (4.2.3) and Maya-usd (0.11.0) and wanted to ask if what I'm seeing is the same kind of problem.

I looked today and found Maya-usd 0.12.0 and Arnold 4.2.4 were released recently so I installed and went to test a few things and found that I no longer had the option of changing the viewport to use the Hydra GL or Hydra Arnold opt

[2021-08-24 19:37] swillisart commented on #1624
@seando-adsk  This should not be closed as William stated in his PR it does not resolve this specific issue.

[2021-08-24 21:05] seando-adsk commented on #1624
I didn't intentionally close this issue. I think because I merged #1633 it was an automatic Github thing. I've reopened this.

[2021-08-27 16:44] cking-spire opened #1658 "The Arnold USD exported for a shader network using a normal map does not look correct."
**Describe the bug**
I have build a super simple shader network that consists of a Arnold Standard Surface with the normals input connected to a aiNormals node and an aiImage. I bind this network to a polygon cube. I then select the cube and export the selection as USD and select export materials as Arnold shaders.

The exported USD look like this:

            def Shader "aiStandardSurface1"

[2021-08-29 23:18] fabal commented on #1587
Hi @williamkrick , has there been any progress made on that one?

[2021-08-30 18:40] jcoelho88 opened #1664 "Default attributes for Light type prims do not match"
Hello,

I noticed that when brining in lights defined in Maya to Houdini or from Houdini to Maya that some of the default attributes did not match, and were therefore ignore outside the DCC that defined them.

To see what I mean you can run this code snippet in Maya's script Editor or Houdini's Python Source Editor.

[code]

Here is the results for Houdini:

![image](https://user-images.githubuser

[2021-08-30 19:30] kxl-adsk commented on #1664
Hi Jason. Can you verify USD version that is used by both applications? Starting USD 21.05 "UsdLux Shadow and Shaping APIs are now connectable. All attributes on these APIs have been given the "inputs:" prefix."

Cheers,
KxL

[2021-08-30 19:40] jcoelho88 commented on #1664
Hi @kxl-adsk,

Maya is reporting (0, 21, 2)
Houdini is reporting (0, 20, 8)

So based off of your response the version of USD in 18.5.596 is not using the prefix.

Thank you for your time, I'll look out for an update on SideFx side to see when this might get updated, hopefully by Houdini 19.

I'll close this issue.

Cheers,

Jason Coelho

[2021-08-30 19:40] #1664 closed

[2021-08-31 13:10] kreppene opened #1667 "RuntimeError: is not a deformer."
**Describe the bug**
when i import animation from a usd file using **useAsAnimationCache**, i get the error inn the image below,
and all object is missing animation, except for transform animation

![image](https://user-images.githubusercontent.com/7374105/131507662-16acffeb-647f-47f3-9a52-f1cebc99bdfa.png)

**Steps to reproduce**
Steps to reproduce the behavior:
1. import an animated usdfile usin

[2021-08-31 18:23] jufrantz opened #1672 "Cannot load a maya reference to an usd file from referenceEditor"
**Describe the bug**

When loading an unloaded maya usd reference from the reference editor, maya loses the file type and confuses it with an image. A fcheck process is launched instead of reading the usd hierarchy.

**Steps to reproduce**

1. Execute following script to create a reference to the usd file in attached [simpleUsdFile.zip](https://github.com/Autodesk/maya-usd/files/7086001/simpleUsdF

[2021-09-02 07:54] ActiveXSturcture opened #1676 "pxrUsdTranslator.so plugin are missing"
**Describe the issue**
Build from source code and export MAYA_MODULE_PATH before open Maya

**Build log**
/opt/cmake-3.15.7-Linux-x86_64/bin/cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo -DCMAKE_C_COMPILER=/opt/rh/devtoolset-6/root/bin/gcc -DCMAKE_CXX_COMPILER=/opt/rh/devtoolset-6/root/bin/g++ -DMAYA_LOCATION=/usr/autodesk/maya2020 -DPXR_USD_LOCATION=/home/wangwenhao/Build/USD_build -DQT_LOCATION=/opt/Q

[2021-09-03 01:23] ActiveXSturcture commented on #1676
when i use the ldd to load libmayaUsdUI.so dependency library,it put this:
./libmayaUsdUI.so: /opt/Qt5.12.11/5.12.11/gcc_64/lib/libQt5Core.so.5: version `Qt_5.15' not found (required by /opt/Qt5.12.11/Tools/QtCreator/lib/Qt/lib/libQt5OpenGL.so.5)
./libmayaUsdUI.so: /opt/Qt5.12.11/5.12.11/gcc_64/lib/libQt5Core.so.5: version `Qt_5.15' not found (required by /opt/Qt5.12.11/Tools/QtCreator/lib/Qt/lib/

[2021-09-03 03:32] ActiveXSturcture commented on #1676
I try to download package from release tag and install on my Maya2020.4,but it still not work.I can`t directly modify or see the attribute in attribute editor.Is this function being  tested  in Maya2020?

[2021-09-03 09:45] mrpurest opened #1681 "variant selection not being passed to Arnold"
**Describe the bug**
Switching between geo variants changes the geo in the viewport, but in the render view you always get the default variant.
This bug has been introduced in release version 0.12.0   (in 0.11.0 it works correctly.)

**Steps to reproduce**
create a usdstage from a usd file that has variants in it.
switch the geo variant,
render.

**Expected behavior**
the geo thats rendered should

[2021-09-03 10:47] sebastienblor commented on #1681
The problem is a bit different actually, it's just that there's not yet a build of MtoA that is compatible with mayaUSD 0.12.

When that happens, MtoA switches to using its builtin usd procedural node to render the proxy shape, which doesn't share all the data with maya-usd.

Because of that, variants won't be taken into account, neither will edits that you'd do in the proxy shape (e.g. translatin

[2021-09-03 10:54] mrpurest commented on #1681
ok,

makes sense - so I am waiting on an updated Arnold version then.

Thanks for the clarification.

[2021-09-03 13:35] seando-adsk commented on #1676
Regarding your first question about Qt version. For Maya 2020 you need v5.12.5. That is explained in [build.md](https://github.com/Autodesk/maya-usd/blob/dev/doc/build.md). If after using this version of Qt you are still having problems building and/or loading your plugin please let us know.

Regarding the Attribute Editor, you need to use Maya 2022 or later. Displaying USD prims in the AE require

[2021-09-03 17:34] santosg87 commented on #1535
hi @jufrantz

I am able to reproduce the issue you mention.

interestingly enough, this seems to only happen while the user is in the anonymous layer, once that gets written to disk, the data is as expected. I save both a usd file from 0.8.0 and 0.9.0 versions, and they are identical after writing to disk. I am investigating a bit deeper on what causes the prim path to be set on the proxyShape nod

[2021-09-03 17:41] santosg87 commented on #1537
HI @jufrantz I am still having trouble reproducing this. I am investigating a bit more on the scene.

[2021-09-03 17:44] santosg87 commented on #1658
Hi @CKing-Spire are you able to compress the .ma file into a zip file? github will let you upload a zip file instead :)

[2021-09-03 17:46] santosg87 commented on #1591
hi @andrewbutts an FBX file would be great! if you can email that to me, i will dig a bit deeper. I am looking into SceneKit as well to see if i can reproduce it on my side. :)

[2021-09-03 17:49] santosg87 commented on #656
I have logged a new issue, as it seems this issue is still there, although we had some improvements made. we can track the other performance drops through that

[2021-09-03 18:19] #1681 closed

[2021-09-03 18:54] AndrewSB commented on #1591
just emailed!

[2021-09-06 01:00] csyshing opened #1685 "Unexpected visibility when switching render purpose"
**Describe the bug**

Hi,

In my USD file, there are two render purposes, each purpose has two prims, one is visible by default, the other is invisible by default; but the visibility attribute is not respected when switching render purpose.

The USD is like this:
[code]

Suspecting it's related to vp2RenderDelegate.

Thanks,
Zhicheng

**Steps to reproduce**
Steps to reproduce the behavior:
1. Laun

[2021-09-07 06:01] csyshing opened #1687 "[MAYA-114567] "uniform" opacity primVar causes geometry disappear"
**Describe the bug**
Hi,

We have a production asset that some parts of the geometries disappear, it turns out that it was causing by "uniform" interpolation opacity which mayaUsdPlugin doesn't seem to handle correctly.

Due to IP issue I am not able to provide a repro that you can see it visually, but here is a super simple repro USD file (basically a plane with "uniform" opacity):

[code]

I tri

[2021-09-07 14:51] jufrantz commented on #1537
Hello @santosg87,
I just saw https://github.com/Autodesk/maya-usd/issues/1687. It is showing the same internal bug but its repro steps should be easier to execute.

[2021-09-07 15:10] jufrantz commented on #1535
Hello @santosg87,

Setting the primPath in the repro steps is intentional. I tried with a layer on disk and I get same (unwanted) behaviour in maya-usd >= 0.9.0.

1) Create an usd hierarchy with some xformOps, save layer to disk
[code]

2) Create a proxyShape and set its primPath attrib to render only cube2

[code]

[2021-09-07 16:58] ansuter commented on #1658
We experienced this as well. Here's my sort of work around:

`    def rewireNormalShaderNetwork(self):
        shaders = []
        [shaders.append(shader) for shader in self.usdStage.TraverseAll() if UsdShade.Shader(shader)]
        for shaderPrim in shaders:
            typeAttr = shaderPrim.GetAttribute('info:id').Get()

            # check if this is an arnold:standard_surface with a normal ch

[2021-09-07 17:53] eddiehoyle opened #1688 "[MAYA-114855] Crash when interacting with outliner after unloading payload"
**Describe the bug**
Maya crashes if user interacts with USD hierarchy in Maya's outliner if a prim with payloads is unloaded while expanded.

**Steps to reproduce**

**Note:** This repro has been manually copied and typed out (internal network restrictions, sorry) and is untested.

1. Save these layers to disk in the same folder:
[code]
[code]
2. In Maya, create proxy from file "entry.usda" with

[2021-09-08 21:29] ansuter opened #1690 "[MAYA-114580] Blendshape Sample doesn't export blendShapeWeights"
**Describe the bug**

Originally I had a scene with a tweak node in it. It wasn't exporting properly so I went and looked at the sample.

I took the[ blendshape sample](https://github.com/Autodesk/maya-usd/blob/600c31abcd68ef3fe0047b28fb5f33f6edd0872f/test/lib/usd/translators/UsdExportBlendShapesTest/blendShapesExport.ma), and tried to use mayausd to save it out, and just get empty float array for

[2021-09-09 07:40] cescocm opened #1691 "Namespaces not working with USD file referenced as Maya reference"
**Describe the bug**
Trying to reference an USD file with the standard Maya reference system works but namespaces do not. Traceback is this:

// Error: file: C:/Program Files/Autodesk/Maya2020/scripts/others/namespaceEditCmd.mel line 263: Cannot rename a read only node. //

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to '.File - Create Reference'
2. Click on 'Choose a USD file'
3

[2021-09-09 17:25] santosd commented on #1685
Hello @csyshing, I am wondering what version of Maya and Maya USD you are using. I tested using Maya 2022.1 and Maya USD 0.11.0 and I was not able to reproduce the issue in the file you provided:
![visibilityIssueGH1685](https://user-images.githubusercontent.com/29235905/132733407-4910be6b-5808-48eb-9425-67a1c6f2d271.gif)

[2021-09-09 17:53] ansuter opened #1693 "Start and Stop Time Codes on stages created with new layer"
**Is your feature request related to a problem? Please describe.**
It seems that when I create a stage with a new layer, my start/stop time codes are always 0,0 (whereas if i export a scene, I can specify a frame range)

**Describe the solution you'd like**
I'd like to set my time range either in attributes or on saving of the stage when Maya pops up the 'would you like to save your maya file and

[2021-09-09 23:47] csyshing commented on #1685
I was testing against v0.10 but didn't realize v0.11 has fixed this issue. I think this ticket can be canceled then. Thanks @santosd !

[2021-09-10 05:31] csyshing commented on #1400
Hi @williamkrick , we have received feedback from production that neither "Alpha Cut" nor "Depth Peeling" would be suitable for us, we do need "Object Sorting" to display some semi transparent geometries on viewport.

Here is the updated the USD example if that helps, slightly changed the opacity primvar to be semi transparent outside and solid inside:
[code]
Full USD content:
[code]

[2021-09-10 17:15] santosg87 commented on #1537
@jufrantz thank you! I will link them and get some more input. :)

[2021-09-10 17:41] santosg87 commented on #1672
I can reproduce this on our side as well.

it seems that bringing the file as an unloaded reference causes the usd file not to be imported properly.
I was able to import "some" usdc files as a reference succesfully, but the attached file is a good example of a non-working file.

[2021-09-10 17:51] santosg87 commented on #1667
I am able to reproduce this on our side as well.

[2021-09-10 18:48] #1685 closed

[2021-09-10 18:50] wtelford commented on #1687
hey @santosd can you log this internally?

[2021-09-13 21:19] santosd commented on #1691
I believe this is a duplicate of #1307, which has an issue logged for it internally with us. I am going to place this issue in the backlog along with the other GitHub Issue.

[2021-09-16 04:13] mhamid3d opened #1704 "Camera schema translator doesn't work in standalone mode, works in GUI mode"
When trying to do a Usd export of a camera from maya standalone via python, the camera is mis-classed  as a Xform instead of a Camera in the USD scenegraph. When I do the same python export command in Maya GUI, it works fine and the object is classed as a Camera.

This is the python command (this is a global command that I run for all usd publishes, so it works on geometry even in standalone mode,

[2021-09-16 19:04] nxkb opened #1705 "[usdExport] "exportDisplayColor" results in black for materials with textures"
**Describe the bug**
When exporting display colors for a shape with an assigned material that is using a texture (file node), the result is black rather than the default color of the file node.

Basically the export code in `/lib/mayaUsd/utils/util.cpp::_getMayaShadersColor()` will ask the color attribute for its color, but if it's connected it will just return black. I propose that it would be mo

[2021-09-17 17:04] kxl-adsk commented on #1704
@mhamid3d Translators and schemas are two separate libraries that are discovered by the plugin via `PXR_PLUGINPATH_NAME`. When running in UI mode, you will get it set via `.mod` file (https://github.com/Autodesk/maya-usd/blob/dev/modules/mayaUSD_Win.mod.template#L21). I believe you may be missing it in your env setting when running standalone mode.

[2021-09-17 18:43] wtelford commented on #1535
@jufrantz I don't believe I understand the ask here. The only difference between 0.8.0 and 0.9.0 should be what prims are rendered, not where the prims' are in worldspace.

Given the transform hierarchy:
- xform
  - cube1
  -  cube2
...and a primpath set to '/xform/cube2', you would get the following results:

In 0.8.0 both cubes are visible in their correct worldspace.
In 0.9.0 only /xform/cube2

[2021-09-17 19:21] wtelford commented on #1693
Hey @ansuter,
I would love to understand more how you are leveraging USD  start and end timecode in your pipeline. That would definitely help us in designing the proper solution.

Start and End time is encoded as metadata on a layer (more specifically, metadata on the root layer). We have not yet exposed a method for editing metadata that lives on a layer. We would want any solution to be one that

[2021-09-17 21:28] mhamid3d commented on #1704
@kxl-adsk I've just run maya standalone in `mayapy` to confirm this and actually `PXR_PLUGINPATH_NAME` are identical in both GUI mode and standalone. I would assume if it recognizes the plugin then that means the operations to load the module war ran. Is there any other environment variable I can check to see what's going wrong? Have you tried to reproduce this problem on your end?

[2021-09-17 22:14] mhamid3d commented on #1704
I've just found the issue. In my script I had `from pxr import Usd`, however it was being imported before maya initialization AND before `mc.loadPlugin('pxrUsd')`. The solution is the move `from pxr import Usd` after the plugins have loaded!

[2021-09-17 22:14] #1704 closed

[2021-09-17 22:46] kxl-adsk commented on #1704
Thx for sharing @mhamid3d!

[2021-09-20 06:56] lijenicol opened #1712 "[MAYA-114695] Exporting Custom Float2 Attribute Not Animated"
**Describe the bug**
When exporting an animated, compound float2 attribute as a primvar, animation is lost. This happens when I tag the parent attribute of the compound attr to be exported. When I tag the child attributes of the compound attribute to be exported, the primvars in the exported USD are animated (but they're not one single float2 anymore). This doesn't seem right, as it would mean the

[2021-09-20 08:57] jufrantz commented on #1535
Hi @wtelford,

Thank you for your answer and sorry if my description was not clear.

The difference is between `0.9.0` and `0.8.0 with env MAYAUSD_DISABLE_VP2_RENDER_DELEGATE=1`.

I compared against 0.9.0 vp2RenderDelegate because we were moving from pxrUsdMayaGL to vp2RenderDelegate with this version.

I would expect to be able to render only "/xform/cube2" but in its usd localspace.

Julien Fran

[2021-09-22 17:50] ansuter commented on #1693
Hey Will, sure, so our team cares quite a bit about timecodes, we do a lot of animation. We ended up writing a shelf button so our artists could inject the timecodes on an exported usd.

We do a lot of things with variations, animation and time. While USDView, itself, doesn't seem to care much about start/stop time, other tools are a bit more rigid in that anything outside of the specified time do

[2021-09-22 17:57] ansuter opened #1719 "MEL Select Command Errors out on selecting prims in Outliner"
**Describe the bug**
I searched through issues, and didn't see this one, but please close if it's a dupe.
![image](https://user-images.githubusercontent.com/16786318/134396044-be86072f-73dd-4086-b316-edbe5800d240.png)
When I select something in the outliner like Cone1, the script editor outputs:
```select -r |stage1|stageShape1,/Scope1/Cone1 ;```
But when I try and re-run that command I get an err

[2021-09-22 18:37] seando-adsk commented on #1719
This is already a known issue and logged internally as:
MAYA-112136 - Attempting to run select echoed command for USD prim results in syntax error

As a workaround you simply need to surround the string with quotes ("), like so:
```select -r "|stage1|stageShape1,/Scope1/Cone1" ;```

[2021-09-22 18:40] ppt-adsk commented on #1719
Hey @ansuter thanks for reaching out.  @seando-adsk beat me to the response :)  We have a proposed fix to MAYA-112136, but the trouble is that it's a Maya-side bug, not a plugin-side bug, so it might take a while to reach you.  Use Sean's workaround in the meantime.

Note that this is just for UFE paths as string literals, not in MEL variables, so the following works fine:
string $myPath = "|stage

[2021-09-22 20:08] ansuter commented on #1719
Awesome! Thank you both!!! I'll mark as closed since you have an internal ticket already!

[2021-09-22 20:08] #1719 closed

[2021-09-24 17:45] santosg87 commented on #1690
I can reproduce this one on my side as well. we are investigating a bit deeper at the moment.

[2021-09-24 17:46] santosg87 commented on #1676
@ActiveXSturcture are you able to build/load the plugin after updating Qt versions?

[2021-09-24 17:59] santosg87 commented on #1591
@andrewbutts thank you for the files! we are investigating what are better ways to handle this. at the moment, this is due to lack of support on mayaUSD indeed. :)

[2021-09-24 18:05] santosg87 commented on #1712
hi @lijenicol quick question on how you are exporting. from your steps, I should be safe to assume you are using export selection? when i do a "export all", i do see my animation exporting. is that the case for you as well?

[2021-09-24 19:15] santosg87 commented on #1535
@jufrantz would you be able to make a quick screen capture of the behaviour? I am trying to understand the issue, but I am a bit confused trying to wrap my head around it. :)

[2021-09-24 19:35] wtelford commented on #1693
Hey @ansuter,
I think there are two potential parts to this.

1. How is start and end time authored to a layer?
2. If a stage has a start and end time how does it affect Maya?

The first one is described in more detail in my last comment.

The second one is something we do want to extend. You can see a very similar implementation here in our alembic plugin.
![image](https://user-images.githubuserc

[2021-09-24 21:51] ansuter commented on #1693
I think both parts are important. First and foremost is part 1 for us though, part 2 is of great interest as well.
And yeah I think the above would encompass that, having a start/end frame, timecodes/fps settings would be fantastic.

[2021-09-27 00:51] lijenicol commented on #1712
hey @santosg87, yes that is correct, I was using export selection. I just ran a test "export all" and I did notice that the animation still wasn't exporting so I am unsure as to what the error is. Did you find animation wasn't exporting when using export selection?

[2021-09-27 09:03] FalinDun opened #1730 "Chang referecce path then View and outline lost it"
**Describe the bug**
When I modify the reference path, the reference and model are lost, and the outliner is lost

**Steps to reproduce**
Steps to reproduce the behavior:
1. reference file, its normal
2. open Reference Editor and change path ,chick Enter. eg: E:\work\bg.usd --> F:\work\bg.usd
3. The scene lost it ，chick Reload or tick it , nothing.
4. save it then open it ,its normal

**Specs (if

[2021-09-27 15:46] wtelford commented on #987
Hey @santosg87 can you repro and log internally please.

[2021-09-29 00:52] lijenicol commented on #1712
hey @santosg87, just checking in to see if there are any updates on this

[2021-09-29 19:29] wtelford commented on #1542
Hey @dj-mcg,
I'd like to clarify your comment "The expectation of our users is that the duplicated model always comes in loaded."

My thought is:
When duplicating a prim, the duplicated prim should have the same load state as the source prim we are duplicating, not always be loaded, correct?

If source is unloaded, the duplicate should be unloaded.
If source is loaded, then the duplicate should be

[2021-09-29 19:44] dj-mcg commented on #1542
That sounds right to me, @wtelford  - thanks for clarifying!

[2021-10-01 16:08] dalorin commented on #1325
Hi there

Any chance of this being resolved in the next update?

Regards

[2021-10-04 09:21] bentoogood opened #1739 "MayaUSDExportCommand - parentScope and exportRoots flags together raise error"
**Describe the bug**
We're unable to use both the _exportRoots_ and _parentScope_ flags together in the same mayaUSDExport command. Attempting to do so raises an error:
[code]
We would like to use both to be able to pick out parts of scene for export but to arrange them within a different parent structure when generating the usd.

**Steps to reproduce**
1. Create empty Maya scene
2. Create a defau

[2021-10-04 16:46] santosg87 commented on #610
I believe we can close this issue. as noted, with the "exportSkin" option this is behaving as expected for me.

[2021-10-04 16:46] #610 closed

[2021-10-04 16:57] santosg87 commented on #973
I am able to see the same issue on my side, the error is displayed when loading the attached scene.

[2021-10-04 17:02] santosg87 commented on #528
can we close this one?

[2021-10-04 17:22] santosg87 commented on #1688
@eddiehoyle I am trying to reproduce this one for a bit of time now, but no luck.

this seems to behave as expected on my side. are you able to test this on the latest mayaUSD build to confirm?

[2021-10-04 17:23] santosg87 commented on #1676
closing this one for now. feel free to reopen if this is still an issue

[2021-10-04 17:23] #1676 closed

[2021-10-04 17:26] santosg87 commented on #1658
just as a note on this - the changes here are dependent on the Arnold side.

[2021-10-04 17:27] santosg87 commented on #1658
We will be retesting this when changes from the Arnold plugin are available.

[2021-10-04 17:44] kxl-adsk commented on #528
Yes, the change was made as part of 1422add5ab734ef22fb8cf1cd34ef1b1e8b891b6

[2021-10-04 17:44] #528 closed

[2021-10-04 17:45] santosg87 commented on #1730
I can reproduce this on our side as well. when changing the reference, the USD imported data is just gone.

[2021-10-04 18:09] wtelford commented on #506
Closing as fixed. Please reopen if your issue persists.

[2021-10-04 18:09] #506 closed

[2021-10-04 18:51] koen-v commented on #506
Oh, nice, I will try to confirm ( I am a few versions behind at the moment), but thanks for looking at this!

[2021-10-06 09:58] Vsevolod1983 opened #1741 "Maya To Hydra (MtoH) built with PixarUSD 21.08 or later: Selection issue on hdRPR and Arnold render delegates"
**Describe the bug**
Hello !
I use Pixar USD within Maya To Hydra (MtoH) project for rendering using hdRPR render delegate.
Actually the problem I'm going to share also gets reproduced on Arnold render delegate as well.

I have strange issue regarding selection. When I select any object in Maya, e.g. simple cube, all rendered picture suddenly disappears in the viewport (for hdRPR or Arnold Hydra r

[2021-10-12 18:30] dj-mcg opened #1752 "[MAYA-114247] Selection Highlight doesn't update when changing selection with USD 21.11"
**Describe the bug**
If building against the USD dev branch (which will become 21.11 shortly), selection highlighting does not update when selection changes. As soon as you poke metadata on the item in the AE (instanceable, kind, etc), selection highlight will update correctly.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a new USD Scene
2. Verify your USD Selection Mode is s

[2021-10-12 18:31] dj-mcg commented on #1752
[shapes.tar.gz](https://github.com/Autodesk/maya-usd/files/7332381/shapes.tar.gz)

[2021-10-15 03:21] wandth commented on #1580
@mike1158 I was recompile the plugin and change maya version to maya2019, the question is not appear,

[2021-10-15 03:22] wandth commented on #1580
@mike1158  and thanks you methord

[2021-10-15 08:07] aaronn opened #1758 "[MAYA-113125] Same file fails to export USDZ Skinner across Windows and macOS"
**Describe the bug**
On Windows I'm using Maya  2022.1, on macOS I'm using 2022. When I export a .usdz file from macOS, the skinner is exported alongside it just fine. If I open up that same Maya file on my Windows machine and export that same .usdz, with the same export settings, the Skinner fails to export.

This happens for every file with joints where a skinner is expected.

**Steps to reprodu

[2021-10-18 12:20] seando-adsk commented on #1580
I reopened this issue, thanks to mike1158 who discovered the real problem. We should fix the flag so it works for all versions.

[2021-10-18 15:12] gracekumagai opened #1761 "MAYA-114407 Crash when using "Show Selection" on a child of a hidden proxy shape"
**Describe the bug**
If the proxy shape is hidden & the user selects a node under it & tries to use "Display" -> "Show Selection" or Shift+H, it will crash Maya.

**Steps to reproduce**
1. Open a new file in Maya 2022
2. Navigate to Create -> Universal Scene Description (USD) -> Stage with new layer
3. Right click on the proxy shape -> Add new prim -> Capsule
4. Click on the proxy shape in the out

[2021-10-18 15:26] gracekumagai opened #1762 "[MAYA-114374] Crash when parenting prims with composition arcs to prims with composition arcs"
**Describe the bug**
When testing [Autodesk's example](https://help.autodesk.com/view/MAYAUL/2022/ENU/?guid=GUID-C27A9992-10DD-4F4C-8D34-B7D176336039) of parenting a prim with a composition arc and variant to a prim that also has a composition arc and variant, it crashes Maya.
It crashes Maya regardless if the prims are loaded or unloaded.

**Steps to reproduce**
Steps to reproduce the behavior:
1

[2021-10-18 15:42] gracekumagai opened #1763 "[MAYA-114369] Crash when duplicating groups with loaded descendants"
**Describe the bug**
If you create a group with a loaded or unloaded model, load the group, duplicate the group and try to load the group with descendants, Maya will crash.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open 'kitchen_set_instanced'
2. Unload the `|Kitchen_set_instanced|Kitchen_set_instancedShape,/Kitchen_set`
3. Navigate to and click on the `|Kitchen_set_instanced|Kit

[2021-10-18 16:18] gracekumagai opened #1764 "Attribute Editor: Displays attributes and/or name from last selection and renaming can crash"
**Describe the bug**
If you group a prim and then, create an xform, when selecting the newly created xform, the attribute editor will enter a state where it does not refresh properly.
-  When clicking back and forth between an xform and another prim, when selecting the xform, it will display the attributes associated with whatever was previously selected.
- When clicking back to another prim, it m

[2021-10-18 16:36] gracekumagai opened #1765 "Attribute Editor: Does not display translate, rotate, scale info for xforms created when grouping"
**Describe the bug**
When using the transform manips to transform an xform that was created when grouping, the translate, rotate, and scale information is not displayed in the AE.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open a new file in Maya 2022
2. Navigate to Create -> Universal Scene Description (USD) -> Stage with new layer
3. Right click on the proxy shape -> Add new pri

[2021-10-18 16:46] gracekumagai opened #1766 "[MAYA-114346] Outliner - Load with descendants collapses expanded sibling hierarchies"
**Describe the bug**
If you "Load with Descendants" on a node and it has siblings (and children of the siblings) that are expanded, it will collapse everything. "Unload" does not impact the expanded hierarchy.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open 'kitchen_set_instanced'
2. Navigate to `|Kitchen_set_instanced|Kitchen_set_instancedShape,/Kitchen_set/Props_grp/DiningTable_

[2021-10-18 17:10] gracekumagai opened #1767 "[MAYA-114344] Outliner: When parenting a prim to a collapsed group, it auto-expands the group"
**Describe the bug**
When MMB dragging a prim to a collapsed group or using the "p" hotkey to parent a prim to a collapsed group, it will cause the group to auto-expand.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open a new file in Maya 2022
2. Navigate to Create -> Universal Scene Description (USD) -> Stage with new layer
3. Right click on the proxy shape -> Add new prim -> Capsu

[2021-10-18 17:16] santosd commented on #603
I have been able to run some further tests on this file and on my end in the latest Maya\MayaUSD PR129 beta release and for me the joints are exporting and importing in the same place. However, it seems that some of the skinning is broken. Let me know if you would like me to and if it would be okay for me to share screen shots of what I am seeing in the scene, in this public discussion.

[2021-10-18 17:25] gracekumagai opened #1768 "[MAYA-104456] Outliner: Cannot MMB drag to re-parent prim between children."
**Describe the bug**
Cannot re-parent a prim by MMB dragging the prim under another parent and between the parent's children.

We can rearrange a prim by MMB dragging between it's siblings. We can also re-parent a prim by MMB dragging the prim directly onto the parent. However, it seems like we cannot re-parent and re-arrange in 1 step.

**Steps to reproduce**
Steps to reproduce the behavior:
1. O

[2021-10-18 17:39] gracekumagai opened #1769 "Attribute Editor: The top level tabs disappear and reappear when tumbling the camera"
**Describe the bug**
With the AE open and panning the camera using the Tumble tool (Alt + left mouse button + moving the mouse around), the top-level tabs in the AE disappear and reappear.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open 'kitchen_set_instanced'
2. Click on the `|Kitchen_set_instanced|Kitchen_set_instancedShape,/Kitchen_set` (or any other prim)
3. Go over the viewpo

[2021-10-18 17:50] santosd commented on #266
I retested this issue and I am no longer seeing it. The following are screen captures, the sphere on the left is a USD proxy and the one on the right is Maya data. Turning color management on or off doesn't make a difference in shading between the two spheres:

![image](https://user-images.githubusercontent.com/29235905/137781422-480b12e6-bb37-4bd6-a686-deffb9736322.png)
![image](https://user-imag

[2021-10-18 17:50] #266 closed

[2021-10-18 18:01] santosd commented on #1768
No problem at all. I logged it internally as MAYA-114310

[2021-10-18 19:29] msercheli opened #1770 "Maintain current edit target for duplicated proxy nodes"
**Describe the bug**
When an existing proxy node (which has the session layer as active edit layer) is duplicated, the newly created proxy node has the root layer as the active edit layer. To be a true duplication, shouldn't the duplicated one maintain the user-selected edit target layer?

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a new proxy node
2. Using the Layer Editor,

[2021-10-18 22:02] santosd commented on #1769
Hello Grace,
I took a look at this in multiple versions of USD and Multiple versions of Maya and on Linux (Ubuntu) and Windows and I have not been able to reproduce the issue. Are you able to test in the PR129 release and see if the issue is present there for you? I can see if my colleague can test on CentOS and see if the issue is present for him there.
I wonder if this could have something to do

[2021-10-19 16:38] santosd commented on #1766
I tested and reproduced this one and logged it internally as MAYA-114346.

[2021-10-19 20:28] dj-mcg opened #1773 "[MAYA-114501] Allow users to add site specific items to context menus and radial menus"
**Is your feature request related to a problem? Please describe.**
Users have requested items in the Outliner context menu and in various radial menus in the viewport, many of which are specific to studio needs.

**Describe the solution you'd like**
It would be nice if a plugin mechanism was provided to allow studios or users to add custom commands to context menus and radial menus.

**Describe al

[2021-10-19 21:04] santosd commented on #1769
I tested some more and I am still not able to reproduce the issue. Based off of what you are seeing in the AE, it looks like you might have a version of Maya that is missing some changes that went into the AE. As you can see from my screen capture we see different Attribute menu items in the AE. I believe this is an issue that may have existed at one point but it is no longer present. The AE chang

[2021-10-20 21:12] wtelford commented on #1540
Hey Grace,
Thanks for reaching out. This behavior is not unique to MayaUSD, but rather how the Outliner currently functions on Maya data as well. Given that this is Maya's pre-existing behavior and has much broader workflow implications, we were not considering this feature as being in scope right now. I do agree that bulk editing in general is a beneficial feature though. We should discuss if the

[2021-10-20 23:30] gracekumagai opened #1777 "Option to draw bounding boxes around point instancer and instances on selection"
**Is your feature request related to a problem? Please describe.**
It can be challenging to identify if you have a model, point instancer, or instance selected in the viewport.

**Describe the solution you'd like**
In "Point Instancer" USD Selection mode, our users have requested the option to see a bounding box around a point instancer (encompasses all of the instances) when it is selected.

In "

[2021-10-21 18:47] kxl-adsk commented on #1769
We should move away from using UFE asserts and follow the coding guidelines by adopting TF diagnostics. Feel free to open a PR that replaces `UFE_ASSERT_MSG` with a TF_WARN. Some small code adjustments will be required like - https://github.com/Autodesk/maya-usd/blob/8f216a4fb955fc44c0abda55caa53ed295aaa625/lib/mayaUsd/ufe/UsdAttributes.cpp#L108

[2021-10-21 21:12] dj-mcg commented on #1777
This is internal Pixar Jira MAYA-3105

[2021-10-21 21:12] gracekumagai commented on #319
Here are a few more use cases:
- Managing a very heavy set by splitting it up into different layers
- Selecting groups of similar objects and performing bulk operations (ex: Adding several objects to a layer, right-clicking on the layer and choosing "Select Objects", frame the selected objects in the Outliner, right-click in the Outliner, and Load all the selected objects (#1540)). Moving forward

[2021-10-21 22:16] gracekumagai commented on #1763
Hey @santosd, I encountered the same error during a crash with slightly different repro steps:
1. Open 'kitchen_set_instanced'
2. Unload `|Kitchen_set_instanced|Kitchen_set_instancedShape,/Kitchen_set/Props_grp/West_grp/Ball_1`
3. Press Ctrl+g to group the unloaded `Ball_1`
4. Press Ctrl+z to undo the group action
5. Press Ctrl+d to duplicate `Ball_1`
6. Load the duplicate of `Ball_1`

Step 6 trig

[2021-10-22 03:41] santosg87 commented on #1761
thank you for logging this.

I am also able to reproduce this issue on our side. it seems we have 2 bugs here, when comparing to Maya data behavior.
1. crashing - looks like 2020.4 builds don't crash :)
2. When trying to display a child of a hidden parent, when on USD data, nothing happens, ideally the same behavior of Maya data should be happening here.

[2021-10-22 15:07] gracekumagai opened #1779 "[MAYA-114593] Load state seems to be tied to the prim path or parent instead of the object"
**Describe the bug**
The load state seems tied to the prim path or parent instead of the object. Grouping, parenting and renaming seem to ignore the current load state of the object and default to either:
- the parent's load state if the load state of the particular object had not been set in the scope
- or, the state it was last set to in that particular scope

**Steps to reproduce**
There are a

[2021-10-22 15:33] gracekumagai opened #1781 "[MAYA-114589] Outliner: Cannot collapse when parented within an unloaded group"
**Describe the bug**
When an object is parented to an unloaded group, the object's new parent cannot be expanded or collapsed. The outliner can be refreshed by collapsing and re-expanding the parent's parent (and now, we can see all the children of the unloaded group).

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open `kitchen_set_instanced`
2. Unload `|Kitchen_set_instanced|Kitchen

[2021-10-25 20:19] dj-mcg opened #1783 "[MAYA-115007] Busy Cursor or Progress Bar when loading"
**Is your feature request related to a problem? Please describe.**
Loading a large number of models can take several seconds to over a minute. Currently there is no indication that Maya is working during this time, and the app seems unresponsive or hung.

**Describe the solution you'd like**
Maya should display a progress bar or a busy cursor during loading to communicate that it is busy.

This is

[2021-11-01 15:38] santosg87 commented on #1739
Hi @bentoogood I can see the behavior on my side as well. I have it marked as bug for now, but it is a bit unclear f this behavior is desired or not in terms of avoiding possible conflicts on the export. we are discussing this a bit more to decided on the next steps.

[2021-11-01 16:11] wtelford commented on #1783
Hey Dan,
Is this about import, in memory stages via proxyShape, or both?

[2021-11-01 16:13] santosg87 commented on #463
@DanEnglesson was this ever merged? I am trying to reproduce this on 0.13.0 and it seems to be working correctly for me.

[2021-11-01 16:34] santosg87 commented on #1712
Hi @lijenicol Sorry for the delay on this one. took me some time to reproduce this, but i can see the issue on my side as well. it seems our exporter can't support the animation on custom nodes. we will look into it to figure out the next steps.

[2021-11-01 16:55] gracekumagai commented on #1783
Hey Will, I believe Dan is referring to loading by right-clicking on a group in the outliner and using "Load with Descendants"

[2021-11-01 19:33] santosg87 commented on #1770
@msercheli not sure i am seeing the same behavior mentioned. I do see the active stage changing when duplicating the proxy, but the target layer remains the session layer.

![DuplicateProxy](https://user-images.githubusercontent.com/3026529/139730280-b606d393-ad10-4147-b804-30a7d4a2e7f2.gif)

the active stage changing, to me, seems like the expected behavior, as you are duplicating and creating a

[2021-11-01 20:25] DanEnglesson commented on #463
Hi @santosg87, I think it was fixed but not from our pull request. We never heard back from QA on this topic so not sure where it ended up. A pull request from us was never created for this at least.

[2021-11-01 20:25] santosg87 commented on #1688
@eddiehoyle thanks for the info! this seems to be indeed something specific to 2020 only. I am able to repro this on 2020.4, but not on 2022 builds.

given that this is something specific to 2020, my guess is that there is some UFE support missing in there.

[2021-11-01 20:27] santosg87 commented on #463
thanks for the confirmation. I was trying to reproduce without any luck. I will mark this as closed for now, but feel free to re-open if this is still an issue!

thank you!

[2021-11-01 20:27] #463 closed

[2021-11-01 21:03] wtelford commented on #1783
@womanyoyoyo-adsk  Can you bring this in as a story internally please.

[2021-11-01 21:19] msercheli commented on #1770
Interesting George.
Thanks for the demo/video above. That is the right behavior.

Are you using the plugin built from tag 0.12.0? (Although I observed the same behavior in tag 0.13.0 as well).
Maybe it's fixed in the build you are using. Could you share the tag your build is coming from? Also, are you using Maya 2022.0 or 2022.2 (or newer)?

Thanks.

[2021-11-01 21:25] wtelford commented on #1739
@santosg87 Can you log this internally?

[2021-11-01 21:27] wtelford commented on #1327
@santosg87 Can you please log this internally.

[2021-11-02 01:38] dgovil opened #1799 "Maya USD doesn't build with USD 21.11"
I'm trying to build Maya USD against the newly released USD 21.11, but CMake seems to be unhappy.
I haven't seen anything obvious about it just yet...

This is where it's failing. I can build against 21.8 just fine. I don't see any significant changes to the structure of 21.11 that would cause this.

Anyway just posting here in case anyone has hit the same. I'll keep investigating on my end to see

[2021-11-02 05:19] dgovil commented on #1799
Actually it turns out a bad rebase of USD on our end, that still ran standalone, caused some issues when combined with Maya USD. I fixed the rebase and it all seems to work great now. So I'll close this out.

[2021-11-02 05:19] #1799 closed

[2021-11-04 10:36] sshklifov opened #1801 "Undefined symbol on linux with 0.13.0"
When I load the plugin in maya 2022, I get the following error:
[code]
However, I can't find a method named InternalObjectId for class MRenderItem in the docs and it isn't defined in libOpenMayaRender.so. Any ideas?

[2021-11-04 12:49] williamkrick commented on #1801
I believe that you have a version of the MayaUSD plugin compiled for a newer Maya version than the one you are using. Can you verify that your Maya version is  2022.2?

[2021-11-04 13:02] oumad opened #1802 "Selecting an object in usd stage after changing camera clip plane value causes maya to crash"
**Describe the bug**
After changing the Near/Far Clip Plane of a camera, selecting any object in a usd graph makes maya crash.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open a new file in Maya 2022
2. Navigate to Create -> Universal Scene Description (USD) -> Stage with new layer (or stage from file)
3. Right click stageShape > add new prim > choose any object (ex : capsule), thi

[2021-11-04 13:03] #1802 closed

[2021-11-04 13:40] sshklifov commented on #1801
It wasn't 2022.2. Thanks, resolved.

[2021-11-04 13:40] #1801 closed

[2021-11-04 19:33] santosd commented on #264
@gracekumagai I wanted to get ahold of you on this one, as I have been testing it using the steps that Matt had provided previously, but I have not been able to get the result with the instanced cubes. I have tried disabling VP2 render delegate using the new env variable we have "set MAYAUSD_DISABLE_VP2_RENDER_DELEGATE=1". After setting that env var I launch Maya and in the Output Window I verify

[2021-11-04 19:37] santosd commented on #603
Hi @stevkalinowski, It is possible that the skinning issue is a separate thing and we can log that as a different issue. To confirm though, in regards to the joints export\import. In the screen recording I emailed you it seems to me that the joints are coming in at the same location as they were exported from can you verify that? It is possible that this used to be an issue, but has since been res

[2021-11-05 03:39] brycegbrazen opened #1808 "[MAYA-115171] Outliner not updating with new prim defined in Python"
Describe the bug:

When defining a prim with the USD python API (`stage.DefinePrim('<name_of_prim>'`) and saving the scene. The new prim will not show up in Maya via the Outliner until you reload the layer from disk either with the menu item in the USD Layer Editor (Revert to File) or by running `<layer_name>.Reload()` in the Python API.

Steps to reproduce the behavior:

- Create a USD Stage with

[2021-11-05 17:40] santosg87 commented on #1739
logged as MAYA-114677

[2021-11-07 04:10] aaronn commented on #932
If I need to work in meters, is there any way to force metersPerUnit to 1?

[2021-11-08 17:59] santosg87 commented on #1758
thank you for the extra info @aaronn. I believe this is something tied to the Maya version itself. we have had something similar regarding FBX exporters on that Maya Version. I will link the Maya internal issue here, so we can keep track of things, and report once we have any updates on a possible fix, if we have one. :)

cheers!

[2021-11-08 18:02] santosg87 commented on #1055
I was able to confirm this is due to the way the command works, when using the export command, it doesn't support any spaces between the flags. marking this one closed for now. feel free to re-open if you still find this one to be an issue. :)

[2021-11-08 18:02] #1055 closed

[2021-11-08 18:06] santosg87 commented on #1770
hi @msercheli I have tried this on a few different combos (0.11.0 to 0.13.0 + Maya 2022 to 2022.2) as well as multiple platforms (tried a few variations on MacOS, Linux and windows). they all seemed to behave the same on my testing. I am using the release tags to test. :)

I will try a couple more things to see if i can get my set up on a similar state to you. If you try it with fresh Maya Prefere

[2021-11-08 20:12] jcoelho88 opened #1815 "[MTOA-34] USD Camera prim bug with Arnold"
Hello,

I recently updated the plugins we are testing with and have noticed that the Arnold Render View does not seem to recognize the USD camera prims, they default to something called "defaultUfeProxyCameraShape" and if you try to render through it you will get this error:

[code]

Here is what I'm using:
- Windows 10
- Maya 2022.2
- Arnold MtoA 5.0.0.1
- Maya-usd 0.13.0

Steps to reproduce:
- C

[2021-11-08 23:28] stevkalinowski commented on #603
yeah, strictly speaking of the joints, they do come in at the correct positions.

[2021-11-09 10:11] bentoogood opened #1817 "MayaUSDExportCommand - overzealous conflict checking when stripping namespaces and specifying roots"
**Describe the bug**
When specifying 'exportRoots' and 'stripNamespaces' as arguments for the mayaUSDExport command, prim path conflict checking is overzealous and prevents individual export of multiple references of the same asset.
Conflict checks should only be applied to the scene branches specified by the exportRoots argument, not across the entire Maya scene.

**Steps to reproduce**
1. Start

[2021-11-09 18:44] williamkrick commented on #1815
Hi @jcoelho88,

defaultUfeProxyCameraShape is the name of the internal camera node Maya uses to represent a Ufe camera in Maya. MayaUSD implements the Ufe interface so that USD camera's can work in Maya.

mtoa doesn't have support for this special camera yet, which is why you are seeing this error. To render in Arnold you still have to import the camera into Maya and render with the corresponding

[2021-11-09 19:19] jcoelho88 commented on #1815
Hi @williamkrick,

Thanks for the clarification, I'll have to see about a change in our workflow until mtoa will recognize the Camera prim.

With importing the camera, as far as I can tell If I want to get the results of the composed layers of the camera from the stage I would need to write out a new specific layer then import that into the Maya scene. I'll test this out.

Should this issue remain

[2021-11-09 20:02] williamkrick commented on #1815
I think we should keep this one open as work for mtoa to support defualtUfeProxyCameraShape.

[2021-11-09 20:37] stevkalinowski opened #1821 "[MAYA-114992] Some Skinning broken after USD Export and Import"
**Describe the bug**
After a usd file has been exported using a complex skeleton such as a character, some of the skinned objects become either deformed incorrectly or are floating in space not in their original position.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open the scene "character_export.ma" (provided previously as an example scene)
2. Export All, choose USD as the type
3

[2021-11-10 17:53] koen-v opened #1824 "[MAYA-122424] Toggling left vs right handed tangent space after importing USD will kill the uv's"
Hello autodesk,

We found an odd issue with imported usd models. If you toggle the handedness of the tangent space you loose the uv's this does not happen when you do the same thing on a cube created in maya:

Imported from usd:
https://user-images.githubusercontent.com/4185553/141166630-758c5af3-2fec-49e7-a431-b4badecc8e6d.mp4

Created a cube:

https://user-images.githubusercontent.com/4185553/14

[2021-11-12 15:42] williamkrick commented on #320
Isolate select for USD objects in MayaUSD with Vp2RenderDelegate is now supported in Maya Preview Release 130 & MayaUSD v0.14.0. The behavior should match Maya's isolate select behavior for regular Maya objects.

[2021-11-14 00:45] spiffmon opened #1834 "[MAYA-114979] UsdPreviewSurface export has several correctness problems"
**Describe the bug**
We only recently became aware that the PreviewSurface export logic that Pixar added (but do not yet use internally, which is why we didn't notice) has three serious problems, two of which prevent materials with normal maps from rendering correctly anywhere except Apple products (because they chose to code around the problems, off-spec).

1. The normal map textures being used g

[2021-11-15 23:08] ecrossno commented on #1808
I have been having this issue as well. Interested to see a fix for this.

[2021-11-17 00:02] kxl-adsk commented on #1834
We are doing a little bit of research before proposing a direction we would like to take and validating it with the community.

[2021-11-17 16:30] williamkrick commented on #1752
@dj-mcg I've created a pull request to fix selection for vp2RenderDelegate. I had to take a different approach than Hydra Storm does. We don't really have a simple way to integrate that selection tracker idea into our draw pipeline. Instead I've tried to restore the old behavior of Sync-ing rprims which have selection changed. I do this by directly setting a dirty bit on selected/deselected prims,

[2021-11-17 17:53] dj-mcg commented on #1752
Thanks @williamkrick - I'll sync to your branch today and let you know

[2021-11-17 18:35] msercheli commented on #1770
Hi George,

I think I was able to identify the issue.
I am flipping an optionVar in my userSetup.py upon Maya startup:
    cmds.optionVar(intValue=("mayaUsd_ProxyTargetsSessionLayerOnOpen", 1))

You can run this optionVar from the Script Editor (Python) before creating a new proxy node.
This optionVar causes the "sessionLayer" to be selected and active when a proxy node is created pointing to a US

[2021-11-18 20:43] JGamache-autodesk commented on #1834
For points 1 and 2, the proper values can be set in the attribute editor of the file node that is directly connected to the normal input of the UsdPreviewSurface node:
 - "Color Space" in the "File Attributes" section should be set to "Utility -> Raw"
 - "Color Gain" and "Color Offset" in the "Color Balance" section should be set to [2,2,2] and [-1,-1,-1] respectively
These settings will produce t

[2021-11-18 22:53] dj-mcg opened #1848 "VP2 RenderDelegate doesn't display shader output for materials"
**Describe the bug**
USD Imaging (UsdView) supports the display of the output of custom shaders specified within the material. It appears that the VP2 Render Delegate does not draw these materials.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Unzip the attachment
2. Open the attached "GraphicsTest.usda" in UsdView
3. Observe the green and white texture drawn on the mesh
4. Open the

[2021-11-18 23:37] dgovil commented on #1834
Our lookdev artist had a concern about the proposal that I'll share here:

The issue with the suggested workflow of setting scale/bias to 2,-1 won't work with OCIO configs being enabled, because only a single color_picker role is allowed.

"If you are using an OCIO configuration file that defines the color_picking role, that color space is the only one available."
https://knowledge.autodesk.com/su

[2021-11-19 01:20] dj-mcg commented on #1848
I realize this may not be something that is expected to be supported out of the box outside of HdSt, but users noticed this as this is a common format for our assets. Thanks for having a look

[2021-11-19 01:46] spiffmon commented on #1834
I cannot comment on the complexity @dgovil raises, but otherwise, all of your points and proposal seem spot-on, @JGamache-autodesk .  Only note on gain/scale and offset/bias is to point out that for UsdUVTexture, they are float4, not float3, so need to be extended.

Great point on ORM textures - hadn't caught that, but your proposal sounds good.  Would you file a USD Issue to get `usdchecker` to a

[2021-11-19 10:44] sshklifov opened #1849 "Chaser documentation corrections"
I'm looking at the "Common Plug-in Commands" readme, section "Setting Site-Specific Defaults". Judging by the source code, I believe the scope should be `"UsdMaya": { "UsdExport": {} }`, not `"UsdMaya": { "mayaUSDExport": {} }"`. Also, the "chaser" option is an array, so it should look something like this: `"chaser": ["alembic"]`.

[2021-11-22 14:54] JGamache-autodesk commented on #1834
Hi @dgovil, I think a Maya [attribute preset](https://knowledge.autodesk.com/support/maya/learn-explore/caas/CloudHelp/cloudhelp/2020/ENU/Maya-Basics/files/GUID-B90EF3C9-EFB8-4BBC-B9A5-69F7EC86B3C3-htm.html) could bypass the color_picker role and wrap these values in an easy to use package. Can you temporarily deactivate OCIO on your setup, create one preset for a "file" node as "USD normal map" a

[2021-11-22 16:30] santosg87 commented on #1824
hi @koen-v , I have tried a few different files and worfklows importing geometries into maya, and i can't seem to reproduce this behavior you are seeing.

what is the exact build of mayaUSD you are using? I have treid on 0.13.0 and it doesn't seem to be happening for me at all. would you be able to add your sample usd file here, so i can try with a similar asset to yours?

thank you!

[2021-11-22 17:14] santosg87 commented on #1817
I am also able to reproduce this on 2022.2 and 0.13.0 builds.

[2021-11-22 19:00] santosd commented on #608
@stevkalinowski  wondering if you had the chance to test this in a more current version?

[2021-11-22 19:04] wtelford commented on #264
Closing this as we can't reproduce it. Please re-open with new repro steps if it remains an issue for you.

[2021-11-22 19:04] #264 closed

[2021-11-22 19:07] wtelford commented on #603
Sounds like the joints are exporting as intended and the remaining issue is logged in #1821

[2021-11-22 19:07] #603 closed

[2021-11-22 19:11] wtelford commented on #1764
closing as it sounds like it would be addressed by #1769

[2021-11-22 19:11] #1764 closed

[2021-11-22 19:14] wtelford commented on #1821
Hey @santosd can you log this internally?

[2021-11-22 22:42] santosd commented on #1762
A fix for this has been merged feel free to build with the latest fixes and test again. I have validated the fix on my end, Feel free to reopen this if you come across any issues with it.

[2021-11-22 22:42] #1762 closed

[2021-11-23 10:58] davidlatwe opened #1852 "Maya 2020 picked wrong deleteNode method in translatorCurves"
**Describe the issue**
In the code below, Maya version is used in condition for selecting correct `MDGModifier::deleteNode`
https://github.com/Autodesk/maya-usd/blob/82ac60a9c2b74302e1513a91a6fcb258bde4a894/lib/mayaUsd/fileio/translators/translatorCurves.cpp#L64-L68

But the method `MStatus MDGModifier::deleteNode( const MObject & node, bool includeParents )` was introduced in `Maya 2020.3`, so si

[2021-11-23 18:10] #1852 closed

[2021-11-23 18:25] williamkrick commented on #1848
The team had a chat about this one today and we believe that it is a significant amount of work to solve. The glslfx file is a bit of shader code designed to work directly with the hdStorm shading system. It is unclear at this point how we could re-use it to render with Vp2RenderDelegate.

The challenge is we convert all the UsdPreviewSurface shader fragments to work with Maya to get support for l

[2021-11-23 20:27] gracekumagai commented on #1752
Hey @williamkrick - thanks for the fix!

I'm testing with the branch that @dj-mcg built and so far, with "Smooth Shade All" shading, it seems to be working as expected.

However, when flipping to "Wireframe" or "Wireframe on shaded", the selection higlight starts sticking and drawing incorrectly again.

For example, the selection highlight will remain in the previous location:

For example, the se

[2021-11-23 20:35] gracekumagai commented on #1542
This seems to be working as expected now - thank you for the fix!

[2021-11-23 20:36] JGamache-autodesk commented on #1834
This has been logged internally as MAYA-114979

[2021-11-23 20:36] JGamache-autodesk commented on #1849
This has been logged internally as MAYA-114977

[2021-11-23 20:40] dgovil commented on #1834
@JGamache-autodesk Thanks for the suggestion. I'll ask our TD and color people to try out the attribute preset after we're back from the Thanksgiving break next week. 🦃

[2021-11-23 20:52] gracekumagai opened #1854 "Outliner - "Load" or "Load with Descendants" unselects prims"
**Describe the bug**
In the Outliner, when loading a prim using "Load" or "Load with Descendants", it unselects the selected prims.

A few observations:
- If there are multiple prims selected, all of them will be unselected.
- If there is a native Maya node selected and a prim, it will unselect the prim but maintain the selected Maya node.
- "Unload" maintains the selection.

**Steps to reproduce*

[2021-11-23 20:55] williamkrick commented on #1752
@gracekumagai I will try to reproduce this and either re-open this one or log a new one on Thursday.

[2021-11-23 22:46] noWookies commented on #1624
Hi @wtelford , we're hoping to start using textures (much) more frequently in our pipeline soon and this is starting to shape up as a blocker. Would there be a way to give it a priority bump ?

[2021-11-23 22:48] wtelford commented on #1624
This is something we are investigating.

[2021-11-23 23:16] kxl-adsk commented on #1624
@noWookies One thing worth mentioning here is that we identified an issue in Hydra and logged it as https://github.com/PixarAnimationStudios/USD/issues/1597.

[2021-11-24 16:36] santosd commented on #1821
Logged internally as MAYA-114992.

[2021-11-25 12:43] Ennosch opened #1860 "Edit- Duplicate as Maya data feature bug & PrimUpdaterManager import error"
Hi,

there seems to be a problem with the Edit - Duplicate as Maya data feature in the current 0.14.0 release.

Steps to reproduce:
- go the Layer Editor, create a new stage
- go the outliner add 2 new primitives to the stage (I added a Cube and a Cylinder)
- unfold the all outliner's content (Shape ticked on) right click on a prim and click Edit as Maya data or Duplicate as Maya data.
![image](ht

[2021-11-25 15:09] williamkrick commented on #1752
Re-opening while I work on a fix for the issues with wireframe and wireframe on shaded.

[2021-11-25 15:38] kxl-adsk commented on #1860
Thanks for reporting @Ennosch. This is a Maya beta feature and it shouldn't be even available for released versions of Maya yet. FYI. @ppt-adsk.

BTW. We have a separate forum where we discuss beta features for unreleased versions of Maya. If you have any other questions regarding "Duplicate/Edit As Maya Data", please go to our beta forums. If you don't have access, we can figure out a way to get

[2021-11-25 16:09] womanyoyoyo-adsk commented on #1783
Logged internally as MAYA-115007.

[2021-11-25 17:28] Tylius opened #1861 "[MAYA-113800] Animation Data doesn't get exported with the Export Selection"
**Describe the bug**
When I export an animated object with the file>Export Selection the exported USD file doesn't contain the animation data

**Steps to reproduce**
1. Create a Cube
2. Animate the rotation on Y axis
3. Go to file>Export Selection
4. Choose USD File
5. Check animation Data
6. Set the right frame range
7. Export

**Expected behavior**
I expect the exported USD to contain the animat

[2021-11-25 17:55] oumad commented on #1861
I confirm, I have this problem on my side too with Maya 2022.2 and maya-usd 0.13.0
I also tested on Maya 2020.4 the Animation data export seems to work fine with selection too.

[2021-11-25 23:05] kxl-adsk commented on #1741
@Vsevolod1983 we have a PR #1863 open to address this issue. Feel free to test it out before we merge.

[2021-11-29 15:49] koen-v commented on #1824
Hello,

Sorry for the later reply. Here is an example usd. it happens when there are animated points I think, this creates a blendshape network.

Thanks for looking!

Koen

[box_tangentspace_uv_bug.zip](https://github.com/Autodesk/maya-usd/files/7619341/box_tangentspace_uv_bug.zip)

[2021-11-29 17:24] stevkalinowski commented on #608
I've tested in Maya 2022.2.1 PFIX 12.0 and confirmed the issues is still present.

[2021-11-29 17:32] stevkalinowski commented on #608
USD Version tested: 0.13.0

[2021-11-29 19:14] wtelford commented on #1860
Hey @santosg87 can you log an action item for this.

[2021-11-29 22:10] oumad commented on #1860
Hello there,
I just noticed this issue, and as @Ennosch mentioned exactly, basically `mayaUsd.lib` doesn't have `PrimUpdaterManager`. But from what @kxl-adsk says. I understand this is simply not in the current maya releases.
@kxl-adsk  I'm currently doing a lot of what I see lacking in the current maya releases through scripting for our pipeline. Is there a way for me to access this beta forum? I

[2021-11-30 00:10] dgovil commented on #1834
@JGamache-autodesk so we tried your suggestion with the presets, and that did work. It does perhaps feel a bit fragile (in that I don't know if future Maya versions would honor this, and will require a little tooling unless maya-usd itself handles things), but definitely does work as you said right now.

[2021-11-30 13:52] kxl-adsk commented on #1860
@oumad I will need your email for the invite. Found one on GitHub that I will try to reach you.

[2021-11-30 18:27] daviddeacon commented on #1861
Possible work around at the moment is to use export via the cmds.mayaUSDExport and use the exportRoots flag.

`cmds.mayaUSDExport(file="myUSD.usda",
    exportRoots=['|myMayaObject'],
    stripNamespaces=True,
    frameRange=(1001, 1024),
    )`

It seems to export animation for me while isolating part of the scene.

David.

[2021-11-30 18:57] daviddeacon commented on #1860
Looks like this UI command is in the latest public release 0.14.0 and was mentioned in the change logs under workflow.

"Edit as Maya data / Merge back to USD"

[2021-12-01 00:36] kxl-adsk commented on #1544
The internal ticket was closed but we never reflected it on GitHub. Closing since it's already implemented by #1677

[2021-12-01 08:19] Vsevolod1983 commented on #1741
I will try, thank you !

[2021-12-01 11:22] sshklifov opened #1869 "Changes to the Export window Material layout"
**Is your feature request related to a problem? Please describe.**
I am a developer at Chaos integrating the V-Ray materials to the mayaUsd export. As of version 0.14 (MAYA-114305), the Materials layout in the export window has changed. It is not showing other `shadingModes` except useRegistry. As a result, the `V-Ray Material Exporter` is not displayed.

**Describe the solution you'd like**
Unfor

[2021-12-01 15:24] #1544 closed

[2021-12-01 15:56] Vsevolod1983 commented on #1741
@kxl-adsk
Hello !
Thank you for the fix!
The image does not disappear anymore, however, selection looks like just being outlined (selected shape is not fully-filled with yellow color).
Is it expected ?

![image](https://user-images.githubusercontent.com/7079246/144267540-c41a4c58-e995-4dd9-9186-6099220519e3.png)

[2021-12-01 16:40] perrauo-adsk commented on #1741
Yes, the image disappearing was tied to fc63eaef295edb2f90099614f833c26fac11764c.

We will have a look at the outline issue separately. I am not sure of the root cause yet.

[2021-12-01 19:32] dgovil commented on #1834
Oh one other concern that has come up here, the colorOffset cannot be set below 0.
[code]

[code]

[2021-12-02 21:53] oumad commented on #1773
This is definitely something we need, I've actually been looking how to hack this in, but if there was a way to add such options in a much simpler/cleaner way, ideally with python scripting. That would help us to greatly improve our artists worfkflow.

[2021-12-06 18:06] santosg87 commented on #1861
We have something logged internally for this issue.

[2021-12-06 18:10] santosd commented on #1861
Hi @Tylius, I wanted to let you know that this issue has been resolved internally and should be available in an upcoming release of Maya.

[2021-12-06 18:31] santosg87 commented on #1824
ah! it seems to be related to animated data indeed, although specific to your FIle. I will dig a bit deeper to try and narrow down what exactly on your file make it break things.

[2021-12-07 14:32] kxl-adsk commented on #1869
Hi @sshklifov. I'm very sorry for the trouble we generated for you. We have been considering the shading mode registry as legacy and have been working under the assumption that you are using the registry mode.

I remember part of your export process involved chaser and you had an issue with having it automatically turned on when exporting VRay render context. A similar issue was brought up by othe

[2021-12-07 17:33] gracekumagai commented on #1543
Hi @seando-adsk - thank you for the fix from https://github.com/Autodesk/maya-usd/pull/1877!

I was testing it on the kitchen_set and kitchen_set_instanced, and we found that:
- if a node's children includes props (xform with a reference, payload) and groups (xform without a composition arc), if the node or any of its parents are unloaded, its children are displayed in the outliner
- if a node's c

[2021-12-07 18:08] gracekumagai commented on #1762
Seems to be working on our end too! Thank you!

[2021-12-07 18:54] neilrubie commented on #1860
I was wondering if I could also have access to this beta forum to see and discuss ideas regarding forthcoming mayaUsd functionality? We are making use of the latest MayaUsd plugin builds and building solutions of our own, so it would be nice to know what may be coming down the pipe.

[2021-12-07 19:06] kxl-adsk commented on #1860
@neilrubie I can't seem to find anywhere on GitHub your email address. We will need it for the invite.

Not sure if you want to leave it here...or just message me on linked-in/email. Pick your favorite.

[2021-12-07 19:18] neilrubie commented on #1860
Reached out through LinkedIn, thanks!

[2021-12-07 20:58] seando-adsk commented on #1543
@gracekumagai My fix was committed very recently and not part of any released build yet. Did you compile the plugin yourself? I just tried your repro steps and I do see the child of `Ceiling_grp` after I unload `Props_grp`.
![image](https://user-images.githubusercontent.com/23455376/145105050-8924bdf8-d37d-418c-89c8-d744323793ee.png)

Thanks,
Sean

[2021-12-07 21:38] gracekumagai commented on #1543
Yes, we are currently working off of the dev branch and we pulled in the updates after your change went in yesterday.

I just re-tested the issue I was running into and it looks like it was user error on my side - I was using a stale build. Everything seems to be showing up!

Sorry about that and thank you so much!

[2021-12-07 22:03] seando-adsk commented on #1543
@gracekumagai No problem. I'm glad everything is working now.

[2021-12-09 16:45] Xaia commented on #1307
hi @santosd any update on this issue? It's a quite big show stopper. Would love to see that fixed :)

[2021-12-09 19:07] santosd commented on #1307
Hello @Xaia, This issue is still in our backlog and has not been fixed internally. I will bring it up to the team to let them know that this is a showstopper for you so that we can set it at a higher priority.

[2021-12-13 21:51] dalorin opened #1907 "Unable to assign USD primitives to render layers"
**Describe the bug**
Neither legacy render layers nor the newer render setup UI allow for assigning USD primitives to layers. Dragging a UFE item from the outliner to the designated field has no effect.

**Steps to reproduce**
1. Import a USD stage
2. Open the render setup UI and create a collection under a layer
3. Middle-click drag a USD primitive from the outliner to the collection

**Expected

[2021-12-14 23:50] ARFoisy opened #1912 "Make USD built with python and without python C++ ABI compatible"
**Is your feature request related to a problem? Please describe.**
To run USD in specialized processing environments, we would like a minimal USD runtime that has a lighter  footprint.  In particular,  the minimal USD runtime is compiled with option “—no-python”.

At the same time, the code compiled and linked against minimal USD should be able to load and run against a full USD runtime that has b

[2021-12-15 00:08] ARFoisy commented on #1912
This is for the Pixar USD GitHub

[2021-12-15 00:08] #1912 closed

[2021-12-15 00:08] ARFoisy commented on #1912
Will submit to Pixar

[2021-12-17 14:34] daviddeacon opened #1925 "Offset Parent Matrix ignored on export"
The Offset Parent Matrix option on transforms is being ignored when exporting to USD.

We have started taking advantage of the offset parent matrix instead of parent constraints in a number of rigs. This is causing us a bunch of issues when trying to export these rigs to USD.

**Steps to reproduce**
New scene,
create a cube,
create a locator,
connect locators world transforms matrix to cube's tran

[2021-12-17 14:51] daviddeacon commented on #1925
Apologies, this is a duplicate of bug [https://github.com/Autodesk/maya-usd/issues/1045](url)

I missed it on my initial search, but I did notice it's almost a year old. Be great if it could be bumped up the priority a little.

Thanks

[2021-12-17 18:44] seando-adsk commented on #1190
I was looking at some of the older issues and might have an answer for this one. Yes you can prepend (instead of append) by using * instead of + in a Maya mod file.

[2021-12-17 18:46] pmolodo commented on #1190
That sounds like it would do the trick!

[2021-12-17 20:01] neilrubie commented on #1451
Hi there, just curious if this is still on the table. I'm unable to see the viewport representations of USD cameras. Would be great to have.

[2021-12-19 21:41] Xaia opened #1930 "Export with Catmull-Clark is nearly 3 times smaller"
**Describe the bug**
Not sure what is happening here. I am exporting pretty dense mesh for Omniverse and version with Catmull-Clark on is nearly 3 times smaller than Polygonal Mesh. Any ideas?

**Steps to reproduce**
Steps to reproduce the behavior:
1. Grab dense mesh from zbrush
2. Export with and without catmull-clark subdivsion method

**Expected behavior**
I would expect the file size to be si

[2021-12-20 03:51] DaveLi78 opened #1933 "[MAYA-121365] Chinese version"
The USD support of the Chinese version of Maya software is not friendly, and it is completely impossible to edit and create the USD layer in the outline view.

[2021-12-20 17:46] swillisart commented on #1930
Hey! So It is not possible to get them to the same size because of what polygonal data each of those options will translate into the file.

Enabling Catmull-Clark will always result in a smaller USD file. What happens and why is the exporter does not encode each meshes vertex-normals. In the workflow the mesh would be intended for subdivision (smoothed) so normals are not needed because using subd

[2021-12-20 19:23] Xaia commented on #1930
That explains everything. Thanks. Closing the issue.

[2021-12-20 19:23] #1930 closed

[2021-12-20 21:11] dalorin commented on #1667
Hi there

I've just run into this issue too. Any chance of it being looked at in the near future?

Regards

[2021-12-20 21:49] dalorin commented on #1667
This issue is caused by the new component tags workflow. When enabled, it disables deformer sets which this feature relies on. The workaround is to open Preferences > Animation > Rigging and:
 - disable "Use component tags for deformation component subsets"
 - enable "Add tweak nodes on deformer creation"

[2021-12-22 19:22] Xaia commented on #800
Hi there, is there any update on this? It's impossible to export any type of fur, hair, fuzz without waiting for hours :).

[2021-12-29 18:37] Mudoglu commented on #344
Any news here? Would be important to get lights working with Hydra.

[2022-01-03 14:34] #1712 closed

[2022-01-03 20:06] #1834 closed

[2022-01-04 16:56] gracekumagai opened #1946 "[MAYA-121936] Selection Issue: Picking models behind the camera"
**Describe the bug**
Sometimes picking in the viewport chooses models behind the camera. It seems to be rays that if continued behind the camera would intersect those objects.

Also, to reproduce, it requires a second on-screen instance of the model. It also seems related to the instanceable state of the models as the models need to be set to instanceable to reproduce.

**Steps to reproduce**
Step

[2022-01-04 17:41] gracekumagai opened #1947 "[MAYA-128007] Channel Box & Attribute Editor: Customize or provide nice names for attributes"
**Is your feature request related to a problem? Please describe.**
At the moment, the xformOp names displayed in the channel box and attribute editor are long and can be confusing for the user. The prefix "xformOp:" makes it challenging to quickly scan the channel box and find the attribute you are looking for.

**Describe the solution you'd like**
We would like to be able to customize the attribu

[2022-01-04 18:44] williamkrick commented on #1587
@fabal @csyshing I believe we've fixed this in the most recent Maya Preview Release.

[2022-01-04 18:45] williamkrick commented on #1946
Hi @gracekumagai,

I think this is probably a duplicate of https://github.com/Autodesk/maya-usd/issues/1587 which I believe we've fixed in the most recent Maya Preview Release.

[2022-01-04 20:59] gracekumagai opened #1949 "[MAYA-122119] Group Options: Group pivot center and origin seem flipped"
**Describe the bug**
Under Edit->Group options box, it appears that the group pivot center and group pivot origin behaviours are flipped. Selecting center seems to set the group's pivot to the origin and vice-versa.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open a new file in Maya 2022
2. Navigate to Create -> Universal Scene Description (USD) -> Stage with new layer
3. Right cli

[2022-01-04 20:59] dj-mcg commented on #1946
Thanks @williamkrick - will this be backported to 2022?

Logged internally as Pixar Jira MAYA-3182

[2022-01-04 21:00] dj-mcg commented on #1947
This is internal Pixar Jira MAYA-3184

[2022-01-04 21:53] gracekumagai opened #1951 "[MAYA-123513] Channel Box: Creating a group and undoing it give Illegal handleUndo() error."
**Describe the bug**
Creating a group and undoing it with the channel box open, breaks the channel box (where it does not update or draw correctly even after it has been closed and re-opened).

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open a new file in Maya 2022
2. Navigate to Create -> Universal Scene Description (USD) -> Stage with new layer
3. Right click on the proxy shape -

[2022-01-05 18:10] gracekumagai opened #1955 "[MAYA-120891] Selection highlight sticks after selecting the proxy shape"
**Describe the bug**
If you select the proxy shape in the wireframe display mode and clear your selection, the selection highlight is still displayed for its children. This does not occur in the smooth shaded mode.

If you select one if its children, the selection highlight still displays for all the other children (even if the selection is cleared). If you select each child, it seems to reset the

[2022-01-05 18:27] gracekumagai opened #1956 "[MAYA-121618] Manipulator does not draw over the last selected object when multi-selecting maya and usd objects"
**Describe the bug**
When selecting multiple maya and usd objects in the viewport, the manipulator is drawn over the last selected maya object. We would expect it to be drawn over the last selected object. It works as expected when only selecting usd objects or only selecting maya objects.

The same behaviour occurs when clicking + dragging to perform a multi-select.

**Steps to reproduce**
Steps

[2022-01-06 01:36] nxkb opened #1959 "[vp2] preview shader textures do not show up properly in viewport 2.0"
**Describe the bug**
Assets with preview shaders that have textures do not display properly in viewport 2.0.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Make a USD proxy shape (I'm using AL) that loads attached `asset-prpNikeShoes.usd` file
2. View asset in vp2
3. See that the proxy shape displays all one color

**Expected behavior**
I want the preview shader's textures to display

[2022-01-07 20:13] JGamache-autodesk commented on #1959
Usually good to compare with a [working version from ArKit](https://devimages-cdn.apple.com/ar/photogrammetry/PegasusTrail.usdz).

The problem is a typo in the material definition of your asset. The output name of `UsdPrimvarReader_float2` is `result`, not `results`. You might as well replace `token outputs:glslfx:surface.connect` with `token outputs:surface.connect` while you are editing the file

[2022-01-10 17:18] williamkrick commented on #1741
Hi @Vsevolod1983, I took a look at this one today. In the `Arnold (Hydra)` render settings the default value for `Selection Outline` (cut off in my image) is 4.0, which turns on selection outline for selection highlighting. In `GL (Hydra)` the default value is 0 and so the objects draw with full highlight.

Is it possible that you have the default outline value set for `Arnold (Hydra)` and that is

[2022-01-10 17:37] santosg87 commented on #1758
@aaronn this issue should now be fixed on Maya 2022.3 - are you able to give it a shot on that version and confirm? :)

cheers!

[2022-01-10 17:43] santosg87 commented on #1861
Marking this issue as closed for now. as we have tested it internally. @Tylius feel free to re-open if this is still persisting.

[2022-01-10 17:43] #1861 closed

[2022-01-10 17:51] santosg87 commented on #1542
Marking this as closed based on the above comment :)

[2022-01-10 17:51] #1542 closed

[2022-01-10 17:55] santosg87 commented on #1451
Hi @neilrubie, this is something we will still have to discuss, due to the priority on all the other work we are getting to. Moving this to the backlog for now. we will re-visit it soon.

[2022-01-10 17:58] santosg87 commented on #1169
marking this one as closed, based on the conversation above. :) if this is still a problem, feel free to re-open it @eddiehoyle  :)

[2022-01-10 17:58] #1169 closed

[2022-01-10 18:00] santosg87 commented on #1325
hi @dalorin this should be fixed on 0.15.0, are you able to confirm it works on your side as well? :)

cheers!

[2022-01-10 18:03] santosg87 commented on #947
this should be working as of mayaUSD 0.15.0

marking this issue as closed for the time being, feel free to re-open if it is still a problem on your side @jmalaska.

[2022-01-10 18:03] #947 closed

[2022-01-10 18:07] santosg87 commented on #1543
Marking this one as closed, based on the conversation. :)

[2022-01-10 18:07] #1543 closed

[2022-01-10 18:08] santosd commented on #608
I tested with Maya 2022.2 using Maya USD build 0.13.0 and I am getting the looks when I create a usd file from what I exported. Could you test 2022.2 using the same workflow I am using? Attached is a video showing my results:

https://user-images.githubusercontent.com/29235905/148816258-3c8a998c-2e00-4aff-80c6-688bff6812fd.mp4

.

[2022-01-10 18:18] stevkalinowski commented on #608
I believe the breakage is on File > Import.  In the video you use "Stage" whereas we need File > Import to work.  I tested just now using Maya 2022.2 USD 0.13.0 and still have the issue.

[2022-01-10 18:20] santosd commented on #1933
Hello @DaveLi78,
We currently don't have have support for other languages for Maya USD. So I understand that you may not be seeing any Chinese translation. However, when you say that it is completely impossible to edit and create the USD Layer in the Outline view. Can you further explain what is happening? Would it be possible to attach a screen capture or a video of what you are seeing on your en

[2022-01-10 21:17] santosd commented on #608
I see, thank you for clarifying that. I thought the issue was with Creating a stage from the file not with import. I tested the import and do see the issue in Maya PR131 and Maya 2022.2.

@JGamache-autodesk do you know if adding import translation for DX11 shaders is something that would require Maya side changes or is this something that could be fixed on the Plugin side?

[2022-01-10 21:59] JGamache-autodesk commented on #608
We currently import/export materials that could be rendered in USD standalone with the right Hydra plugin. In the case of a dx11Shader material I can not see how this could be rendered.

If you are looking for a transport mechanism that offers Maya-specific lossless Import/export: look for test/lib/usd/plugin/mayaShaderTranslation.cpp and test\lib\usd\translators\testUsdImportCustomConverter.templ

[2022-01-10 23:06] stevkalinowski commented on #608
We don't need the rendering to look correct, or even the texture maps.  I just at a minimum need the material node to be named correctly, that's it.

[2022-01-11 01:17] DaveLi78 commented on #1933
Hello @santosd，
Thank you very much for your attention. When I use the Chinese version, right-clicking on stagesShape in the outline editing view does not show the USD layer editor and create a new Prim, which makes me unable to perform subsequent operations. The appearance of these problems does not exist in the English version of the same platform. I will attach a picture reference, the red area

[2022-01-11 09:08] Vsevolod1983 commented on #1741
Hello @williamkrick !
Yes, it seems to be working with this parameter set to 0.
Thank you!

[2022-01-12 08:10] #1741 closed

[2022-01-12 08:15] Vsevolod1983 opened #1975 "Maya To Hydra Settings's labels are partially cut off"
**Describe the bug**
We noticed that labels for Render Settings are partially cut off. Is it possible to do anything with that ?

![image](https://user-images.githubusercontent.com/7079246/149089174-c8b09648-0af4-4973-8b95-4795c8e5c607.png)

**Steps to reproduce**
1. Open Render Settings for render delegate
2. Notice that several labels are cut off.

[2022-01-12 14:33] womanyoyoyo-adsk commented on #1975
We've logged this internally. Thanks.

[2022-01-12 18:51] nxkb commented on #1959
Awesome, thanks for catching that @JGamache-autodesk. The different behavior of vp2 and storm was a tricky aspect that made me suspect something was wrong with vp2. I've updated and it works well now.

We added that glslfx specifier to our assets for specificity and future proofing because it seems to be what is recommended [here](https://graphics.pixar.com/usd/release/api/class_usd_shade_material

[2022-01-13 21:53] gracekumagai commented on #1848
Hey @williamkrick, thank you for the feedback. We are going to look into using UsdPreviewSurface instead of glslfx with Maya.

[2022-01-17 17:52] santosg87 commented on #1763
HI @gracekumagai this issue should be fixed on the latest version of the plugin, are you able to confirm and close? :)

[2022-01-17 18:08] santosg87 commented on #1770
Thanks for the info Marcelo!

I am able to reproduce your case on our side as well. it seems to be indeed related to how you are targetting the session layer here. I will investigate this a bit more and log an internal issue as needed.

thank you!

[2022-01-17 18:13] santosg87 commented on #1925
thank you for the info @daviddeacon #1045 is currently on our backlog, I will raise the issue to the team and see if this can be given a higher priority.

I'm closing this one for the time being, as it is a duplicate issue.

cheers!

[2022-01-17 18:13] #1925 closed

[2022-01-17 18:14] santosg87 commented on #1045
note that this issue was brought up by a different user as well on #1925.

[2022-01-17 18:20] santosg87 commented on #1691
Closing this issue, as it seems to be a duplicate. we can track any changes on this work through #1307

[2022-01-17 18:20] #1691 closed

[2022-01-17 18:44] santosg87 commented on #1959
@nxkb based on the conversation above, can we close this issue?

[2022-01-17 18:48] santosg87 commented on #1761
@gracekumagai this issue should be fixed on the latest version of plugin, are you able to confirm?

[2022-01-17 19:21] santosg87 commented on #1860
closing this one, as it should be fixed now - as this was a beta feature, we removed the mentions and UI from 2022. :)

[2022-01-17 19:21] #1860 closed

[2022-01-18 13:35] williamkrick commented on #1532
@jufrantz I believe this on is fixed now, please re-open if you still have issues.

[2022-01-18 13:35] #1532 closed

[2022-01-18 13:35] williamkrick commented on #1752
@gracekumagai I believe this is working correctly now, please let us know if you find more issues!

[2022-01-18 13:35] #1752 closed

[2022-01-18 13:36] williamkrick commented on #1955
@gracekumagai I believe this is working correctly now, please let us know if you find more issues!

[2022-01-18 13:36] #1955 closed

[2022-01-18 13:37] williamkrick commented on #1537
@jufrantz I believe this is fixed by https://github.com/Autodesk/maya-usd/pull/1906, please re-open if you still have issues.

[2022-01-18 13:37] #1537 closed

[2022-01-18 17:21] gracekumagai commented on #1763
Hi @santosd, this seems to be fixed now! Thank you!

[2022-01-18 17:21] #1763 closed

[2022-01-18 17:34] gracekumagai commented on #1761
Hey @santosg87, from the two issues in this ticket:
1. I'm still running into the crash with the same repro steps
2. This issue seems resolved! When trying to display the child of a hidden parent, it seems to have the same behaviour as native Maya :)

I'm testing with:
maya2022.update3
maya-usd dev at 807a118

[2022-01-18 17:40] gracekumagai commented on #1955
It seems to be working on my end - thank you!

[2022-01-18 19:02] gracekumagai opened #1991 "[MAYA-121225] Performance issue when lots of models are selected"
**Describe the bug**
When testing the performance of common set dresser workflows, we noticed that there is a very big slowdown when the user has the root of a heavy city set selected (or similarly, a group that contains lots of models). The set has thousands of models with varying complexity (hero buildings, hero props, etc). Unfortunately, the set we used to test is a production asset so I canno

[2022-01-18 20:30] williamkrick commented on #1991
Hi @gracekumagai,

I logged MAYA-121225 to track this one. I'm testing with a heavy scene internally which takes me ~3s to select the root in the outliner. I'm guessing that the bottlenecks you are seeing are similar to the ones I am, but without a sharable scene I can't be sure. I think my test is similar enough, but the possibility of a significant difference exists.

With that said, I'm reprodu

[2022-01-20 14:37] sshklifov opened #2005 "MayaUSD 0.15 seems to come with the wrong USD version"
Under releases, mayaUsd 0.15.0 is compiled against USD 21.08, but in the highlights it is stated that 21.11 is used. Checking pxrConfig.cmake or pxr.h shows that the USD version is 21.08.

Just wanted to give a heads up.

[2022-01-20 17:27] kxl-adsk commented on #2005
You are correct. At that time we adopted 21.11 in our mainline testing but not yet for Maya 2020 and 2022. Next release will most likely come with 21.11.

Thank you, I fixed it.

[2022-01-20 17:27] #2005 closed

[2022-01-20 18:50] psql opened #2006 "fatal error on Maya launch with MayaUSD_0.15.0_Maya2022.3_OSX"
**Describe the bug**
This version crashes Maya 2022 on OSX with a fatal error

**Steps to reproduce**
Launch Maya, crashes when loading the mayaUSD plugin (last visible plugin in the splash screen readout)
Had to delete the directory from `/Applications/Autodesk/mayausd` to be able to launch Maya again.

Fatal error when loading from Plug-in Manager too

![image](https://user-images.githubusercont

[2022-01-20 19:10] psql commented on #1488
I'm seeing the same issue, even with `exportskels=auto` enabled

[2022-01-21 06:42] sparklabo opened #2010 "runtime error - /usr/autodesk/arnold/maya2020/hydra/mayaUsdPlugInfo.json couldn't be read"
**Describe the bug**
I am testing the pre-built USD plugin for Maya 2020, and the recent versions(from 0.10.0 to 0.15.0) are showing this error and does not allow me to load the plugin.
[code]
Note: I removed Arnold from Maya to use Renderman without conflicts.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Download the current Release (from 0.10.0 to 0.15.0), for Maya 2020.4 Linux 64

[2022-01-21 10:34] kxl-adsk commented on #2010
Since you removed Arnold, I would expect this file to not be read: `/usr/autodesk/arnold/maya2020/hydra/mayaUsdPlugInfo.json`. Can you move/rename it so it doesn't get loaded?

[2022-01-22 07:34] sparklabo commented on #2010
the file doesn't exist, and that is why the process cannot read the file. Is there a code looking for the file?

[2022-01-23 17:57] kxl-adsk commented on #2010
Can you find mtoa mod file? We believe it is setting `MAYA_PXR_PLUGINPATH_NAME` to this unexistent `json` file.

We have something to fix as well here...we convert this line to a warning and not an error - https://github.com/Autodesk/maya-usd/blob/600c31abcd68ef3fe0047b28fb5f33f6edd0872f/lib/mayaUsd/utils/plugRegistryHelper.cpp#L77.

[2022-01-23 23:20] sparklabo commented on #2010
Thank you for the description and also the change of the code. As your advice, there was a mtoa.mod file existing in a sneaky location, and removing the file eliminated the error with 0.15.0.

[2022-01-24 19:01] #2010 closed

[2022-01-25 20:58] dgovil opened #2029 "Maya USD not parsing multiuse argument fully anymore"
We just tried a build of our fork from c04f5490609fbe9de7bad683d5ce7993be832edf and noticed that our multiuse argument is no longer getting parsed by the exporter anymore.

Our only changes in our fork are described in this old (rejected) PR here for reference, and we're building against USD 21.11
https://github.com/Autodesk/maya-usd/pull/1081

I haven't run a git bisect yet, but it looks like the

[2022-01-25 21:08] dgovil commented on #2029
Oh I see, I think the use of the new guideDictionary was something I didn't catch.
I think I can update that and be back in business. Let me try that and close this out if it fixes it.

[2022-01-25 21:35] dgovil commented on #2029
Yep, okay my bad for missing that addition. Adding it into the guide dict worked great. I'll close this out. :)

[2022-01-25 21:35] #2029 closed

[2022-01-27 13:28] williamkrick commented on #1991
I traced the performance problem back to a workaround I did for a USD issue.

The USD issue: https://github.com/PixarAnimationStudios/USD/issues/1516
The workaround: https://github.com/Autodesk/maya-usd/pull/1897

The plan now is to temporarily disable the workaround https://github.com/Autodesk/maya-usd/pull/2034, until MayaUSD is shipping with USD that has a fix for the underlying issue. I'm goin

[2022-01-28 19:42] gracekumagai opened #2045 "[MAYA-124897] When xformOp:translate:pivot is set, the scale manipulator does not draw at its location"
**Describe the bug**
When xformOp:translate:pivot is set, the scale manipulator does not draw at its location. It looks like the scale transformation is still applied as expected. The translate and rotation manipulators are drawn at the xformOp:translate:pivot location.

**Steps to reproduce**
Steps to reproduce the behavior:
First, create a prim with xformOp:translate:pivot set

![image](https://

[2022-01-28 19:56] gracekumagai opened #2046 "[MAYA-122305] Modify -> Center Pivot tool does not preserve the prim's position"
**Describe the bug**
When using the Modify -> Center Pivot tool on a prim with an uncentered pivot does not preserve the prim's position. The same behaviour can be observered:
- when a prim has an uncentered rotate pivot and a rotation applied about that pivot
- when a prim has an uncentered scale pivot and the prim is scaled

**Steps to reproduce**
Steps to reproduce the behavior for the rotate p

[2022-01-28 19:58] gracekumagai commented on #2046
Also, when using the Modify -> Center Pivot tool on a prim with xformOp:translate:pivot authored instead of xformOp:translate:rotatePivot and xformOp:translate:scalePivot, it looks like the code is still IP as it prints the following and does not modify the pivot:
[code]

[2022-01-31 19:27] nxkb commented on #1959
@santosg87 yep, ok to close. I just wanted to make sure you thought about this question internally:

[2022-01-31 20:00] #1808 closed

[2022-01-31 20:03] santosd commented on #1687
Hello @csyshing, I wanted to let you know that we have fixed this issue on our end. Feel free to test and let us know if you come across any other issues. I am going to go ahead and close this ticket out for the time being.

[2022-01-31 20:03] #1687 closed

[2022-02-01 12:45] suekieza opened #2052 "[MAYA-121681] / [MAYA-126141] Cannot add new [Def1]"
**Describe the bug**
# Error: RuntimeError: file C:\appnet\applications\maya\2022-x64\Maya2022\Python27\Lib\site-packages\maya\app\ufe\outlinerSupport.py line 27: Cannot add new [Def1] under  [prop]. It is defined on another layer. Please set [seq010_sh010_manifest.usda],[seq010_manifest.usda] as the target layer to proceed. #

Why cant I create a new def under the "scope prop"(see image)? I would

[2022-02-03 15:57] williamkrick commented on #1991
All the changes I have planned for this one are now up on github, with #2058 still to be merged.

With all of these changes I think the scene navigation workflows will all be fast (framing the camera, manipulating the camera, switching between AE and channel box). Any editing workflows will be slower. The changes I made improve selection and de-selecting performance a little, but I don't think any

[2022-02-03 23:25] KoljaHuebschmann opened #2070 "USD Export "mergeTransformAndShape" flag issue with constraints?"
**Describe the bug**
Currently I ran into the issue with "mayaUSDExport" and the "mergeTransformAndShape" flag.
If an object with an shape has an constraint the "mergeTransformAndShape" flag is ignoring that object.

**Steps to reproduce**
Here a snipet to reproduce that issue:
[code]

The script writes this usd content (simplified):
[code]

**Expected behavior**
With the "mergeTransformAndShape"

[2022-02-04 10:49] kxl-adsk commented on #2070
I was curious about this one and I believe the issue comes from the fact that Maya adds a parent constraint under `cube_b`. Then during translation, we have a code that checks for exportable children and if there are more than 1...the code can't do the merge: https://github.com/Autodesk/maya-usd/blob/d268a25cd7eae42a47da85d32128e7eb01c5d3ed/lib/mayaUsd/fileio/writeJobContext.cpp#L135

The workarou

[2022-02-06 10:04] KoljaHuebschmann commented on #2070
Thanks  for looking into this and your quick reply!

Finaly I was able to check the code.
So technicaly any "shape transform" would keep the shape node if its not only one child node (with some exception, skipping "non render shapes" aka "intermediateObjects" or maya defaults).

This makes it more worse if you excpect "mergeTransformAndShape" will do what it says.
For example: I parent `cube_a` un

[2022-02-06 10:18] kxl-adsk commented on #2070
Not sure if you happen to read this note about Gprims in [USD Terms and Concepts](https://graphics.pixar.com/usd/release/glossary.html#usdglossary-gprim):

[2022-02-07 14:40] #1758 closed

[2022-02-07 16:19] KoljaHuebschmann commented on #2070
No have not read/known this before and brought the topic into our pipeline meeting.
You are right, this makes it much more complex to implement and in the gprim under gprim case wrong from a USD standpoint. Thanks for the clarification!

Will close the ticket.

If this topic will come up more often, maybe a "forceMergeTransformAndShape" flag would be a nice feature in addition and a hint in the do

[2022-02-07 16:19] #2070 closed

[2022-02-07 17:41] santosd commented on #1307
Hi @Xaia there was a change that went in recently that seems to have fixed this issue on my end. Would you be able to build the latest and test again? Otherwise we can wait until the next release and you can test at that point to see if it is working for you
![namespaceReference](https://user-images.githubusercontent.com/29235905/152842112-07478076-4fbe-43f1-aa14-2fa5a28355d8.gif)
.

[2022-02-07 18:24] santosg87 commented on #2046
I am able to reproduce this issue on our side as well. it looks like the xFormOp for piovt adds a transformation to the object space somehow. investigating this a bit deeper

[2022-02-07 19:21] santosd commented on #1951
Hello @gracekumagai I tested this in a newer build in PR129 and the issue is not visible there. We added some Channel box functionality in the next Maya release and that is where the fix for this will show up.

[2022-02-08 18:49] gracekumagai commented on #1951
Thanks @santosd! Feel free to close out the ticket.

[2022-02-08 21:19] gracekumagai commented on #1951
Hi @santosd, we were wondering if there's a plan to backport the channel box fixes for Maya 2022?

[2022-02-09 15:40] santosd commented on #1951
Hi @gracekumagai, at this time we are not planning on backporting those changes into Maya 2022.

[2022-02-09 19:59] womanyoyoyo-adsk commented on #2052
Hi @suekieza. I am able to reproduce and have logged this issue as MAYA-121681.

[2022-02-10 13:18] paulbaa opened #2085 "[MAYA-121636] As artists, we would like to be able to parent prims underneath 'scopes'"
Currently, we are not able to parent existing prims underneath Usd-scopes in Maya. This is desired behaviour, so we can author our existing scenography with scopes at any point. Creating new prims underneath a scope works.

Open Maya 2022.3
Create a new empty USD stage
Create a scope
Create a (sibling) xform
parent the xform underneath the scope, either by middle-mouse drag, 'P' or edit >parent
ER

[2022-02-10 13:45] suekieza commented on #2052
cool cool

[2022-02-10 23:26] gracekumagai opened #2093 "[MAYA-124571] Rename command missing features"
**Describe the bug**
The rename command is listed as one of the ufe aware commands. However, we discovered that it is missing a few features when porting our internal tools to work with ufe.

1. If you try to rename an object to its current name, it increments the suffix (id) at the end (ex: renaming "Sphere1" to "Sphere1" results in "Sphere2". In native Maya, it would result in "Sphere1". (It loo

[2022-02-10 23:39] gracekumagai commented on #1765
Hey @santosd - I wanted to let you know that I re-tested in maya 2022.update2 and maya 2023 PR132 and I'm no longer able to reproduce :) I wonder if it was an artifact of #1764.

Feel free to close it out if the investigation is wrapped up on your end too - thanks!

[2022-02-11 15:46] santosd commented on #1765
Thank you @gracekumagai for the reply on this one. I will go ahead and close it out.

[2022-02-11 15:46] #1765 closed

[2022-02-14 10:25] stkrake commented on #1381
Possible cause and solution outlined here: [discussions/2084#discussioncomment-2153701](https://github.com/Autodesk/maya-usd/discussions/2084#discussioncomment-2153701)

[2022-02-14 11:11] ghostvfx-jimmy commented on #1307
I hate to break it to you, but the clip actually shows the bug. The issue is not wether or not it's getting a reference group, but the fact that the referenced geometry is not assigned a namespace prefix. This means that a second import will change the name of the object (adding a suffix).

So instead of just being named `pPlane13` it should have been called `colorTest:pPlane13`

[2022-02-14 15:45] ainaerco opened #2102 "Instances roundtrip issue"
**Describe the bug**
At the moment some instances produce extra shapes when exported to usd and imported back into Maya.
USD data itself looks as expected.

**Steps to reproduce**
1. Create a cube
2. Duplicate Special (Choose Geometry Type: Instance)
3. Move instance
4. Select cube1 and cube2
5. Export selection to usd
6. Create a new scene
7. Import exported file
8. pCubeShape1Shape and pCubeShap

[2022-02-14 19:51] santosd commented on #1307
Hi @ghostvfx-jimmy, I do see that. It looks like there was a little more support added for namespaces but we are not fully there yet. The ticket we have logged internally remains open and we will be taking a look at the issue.

[2022-02-15 04:00] csyshing commented on #1624
Putting a note here: https://github.com/Autodesk/maya-usd/pull/1980 should help to improve the loading performance.

[2022-02-15 14:22] williamkrick commented on #1624
I've passed this one to our internal QA to test the async texture loading performance and stability. Once we feel it is ready I'll switch the behavior so that the async loading is on by default.

For now you'll have to set the optionVar value to get the performance improvement:

`cmds.optionVar(iv=("mayaUsd_DisableAsyncTextureLoading", 0))`

[2022-02-15 20:40] seando-adsk commented on #1773
Are you asking for a MayaUsd plugin mechanism to or something from Maya?

From Maya, I would suggest looking at the ```callbacks``` command in Maya. There are various menu item hooks, like ```addRMBBakingMenuItems``` which you can use to add items to the context menu when RMB over an object in the viewport. We are using this hook in the mayaUsd plugin to add some menus.

There is also a new hook a

[2022-02-16 14:25] quentinBirrer opened #2108 "[0.16.0] USD library mismatch"
**Describe the bug**
The USD provided with the installer executable have USD library mismatching with USDPixar-21.11, and look to be preventing using an external USD version.
Having our environment pointing to an external USD prevent MayaUsdPlugin to load.
[code]

**Steps to reproduce**
Change the USD path in the mayausd.mod to an external USD-21.11 build.

**Expected behavior**
0.14.0 was fine sw

[2022-02-16 15:50] bentoogood commented on #1739
Hi - just following up as we are testing the new 0.16.0 release in Maya 2022 and are experiencing this same error.

Are you able to confirm whether it is due to be addressed, or an immovable limitation?

thanks

[2022-02-16 20:21] seando-adsk commented on #2108
@quentinBirrer As part of USD v21.11 Pixar introduced a new prefix for the libraries ```libusd_``` on Linux/Mac and ```usd_``` on Windows. When we built USD v21.11 we reverted back to the previous behavior by setting ```PXR_LIB_PREFIX="lib"``` on Linux/Mac and ```PXR_LIB_PREFIX=""``` on Windows.

There is also have a corresponding variable in the maya-usd repo ```USD_LIB_PREFIX```

Sean

[2022-02-17 03:10] mlfecho opened #2111 "[MAYA-122129] Attribute Editor: Does not display array-type attributes on usd scopes"
**Describe the bug**
The Attribute Editor does not display array-type attributes on usd scopes. These array attributes are, however, present, and queryable via the Usd API. Additionally, you must change tabs in the Attribute Editor to refresh and reflect newly created attributes.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open a new file in Maya 2022
2. Navigate to Create -> Unive

[2022-02-17 07:13] spatulaG commented on #473
Hello, I am still not able to view attributes in maya 2022, wonder if there's a solution to that?:)
Rosy

[2022-02-17 10:54] suekieza commented on #2108
Hey,
So are you saying we need to rebuild our USD pixar build without the "usd_", will this not cause issues with other DCC's?

Sue

[2022-02-17 12:21] Lucas3Dspain opened #2112 "Installing mayaUSD plugin in a studio"
**First of all this is more like a question than a feature request, I didn't know where to post it.**
My Issue is that we are trying to use the mayaUSD plugin in a studio production environment. So we had to install the plugin manually on every workstation and now I'm wondering what is gonna happen when we want to update to the next version. Will we need to reInstall manually on every computer aga

[2022-02-17 14:26] seando-adsk commented on #2112
Yes that is something supported by Maya plugins.

This help page: https://help.autodesk.com/view/MAYAUL/2022/ENU/?guid=Bifrost_MayaPlugin_install_bifrost_for_maya_load_from_custom_location_html
gives directions on how to do that for the Bifrost plug-in, but it is the same for the MayaUsd plugin.

Basically it involves copying the MayaUsd folder from one of the machines it is installed on to a netw

[2022-02-17 18:39] seando-adsk commented on #2111
Great thanks for the update.

@santosg87) Can you test "you must change tabs in the Attribute Editor to refresh and reflect newly created attributes" and log internally if needed.

[2022-02-17 18:42] seando-adsk commented on #2108
If you are not rebuilding MayaUsd and simply want to use our MayaUsd binaries with your own compiled USD, then yes you will need to build USD without the "usd_" prefix. If you are building your own MayaUsd then you can set "USD_LIB_PREFIX" (default is "usd_") to whatever prefix you used to build USD.

BTW, it is probably a better/safer practice to build MayaUsd against any custom USD version to en

[2022-02-17 23:12] gracekumagai commented on #324
Hello! We were wondering if there have been any updates on this ticket?

We saw that Sean had mentioned that there's a new hook in Maya to add new menu items to the context menu in the Outliner in the latest PR and we were wondering if there are any hooks to handle drag and drop?

Thank you!

[2022-02-18 00:13] PolyHound opened #2120 "Having trouble building for Maya2019"
**Describe the issue**
In the begining I got Unicode Errors, so i put in --redirect-outstream-file=false flag to avoid those problems...
( "cp949" Errors... )
after putting --redirect-outstream flag in i didn't get any unicode Errors
I found and checked solutions for ascii errors, but not this one.

However what i'm getting now is

C:\myUsdBuild\include\pxr/imaging/hd/renderIndex.h : error C2220:

[2022-02-18 00:34] PolyHound commented on #2120
forgot to write python version
Trying to compile in python 2.7.15 with conda -- same goes with pxr usd build

Just a little question with python.
 I tried to compile with Python 2.7.15 because Maya2019 works in 2.7.
But is it find to build  pxrUSD and this plugin with Python 3.7.7 for Maya2019?

[2022-02-18 03:03] dgovil opened #2121 "[MAYA-121806] Flat lighting not used in Maya 2022.3"
**Describe the bug**
Maya 2022.3 has a change in how flat lighting is represented with the USD Preview Surface
![image](https://user-images.githubusercontent.com/4443090/154609607-5159a184-64c9-4cf9-bbb2-97b6777f86e5.png)

**Steps to reproduce**
1. Created a sphere and assigned usdPreviewsuface shader with texture on diffuse color (attached test.ma)
2. Enable “Use Flat Lighting”

**Expected behavi

[2022-02-18 05:33] PolyHound commented on #2120
I kind of figured it out by changing ""\myUsdBuild\include\pxr/imaging/hd/renderIndex.h"" file encoding into utf-8 and build well.

But when I load in to maya..

Freeze in creating usd stage from file

error: file: c:/program files/autodesk/maya2019/scripts/others/pluginwin.mel line 317: initializeplugin function failed (al_usdmayatestplugin) //

Attributes in USD not showing and lots of errors...

[2022-02-18 15:04] seando-adsk commented on #2120
Are part of our preflight system we are building MayaUsd using Maya 2019 and USD v21.05, so it should work for you.

I haven't seen a problem with renderIndex.h, but there was a problem with an invalid char in strategyBase.h that was fixed [here](https://github.com/PixarAnimationStudios/USD/commit/a16b0f093d3ab99ffe7ae524e145ec7f8fc88544). Perhaps renderIndex.h has a the same invalid char.

You wi

[2022-02-18 16:38] JGamache-autodesk commented on #2121
Hi @dgovil , can you try the environment variable `MAYAUSD_VP2_USE_V1_LIGHT_API=1` to see it it fixes the issue you are having?

[2022-02-18 20:18] PolyHound commented on #2120
Yes the build went successful and I added MAYA_MODULE_PATH=C:\mayaUSD\install\RelWithDebInfo
I didn,t put in directly in system i added the variable using python and turn on maya by subprocess

I've build /20.11/21.05/21.08 in latest dev branch in python 2.7 and none of them worked...

I.ve tried setting qt location manually == this time plugin just dont load... ( Unable to dynamically load maya p

[2022-02-21 11:00] quentinBirrer commented on #2108
When building against our USD, the mtoh plugin fails to load in Maya.
Any lead why that could be ?
[code]
The previous build against USD-21.08 and MayaUSD 0.14.0 was working fine for us.

[2022-02-21 17:48] KoljaHuebschmann opened #2127 "Maya crash when destructive deleting a prim"
**Describe the bug**
When destructive deleting a prim while the prim is selected and a Kind set on the prim, maya crashes.
This happens easy if you want to use the ufi module with selection based tools.

**Steps to reproduce**

if you run this code, maya will crash:

[code]

Causing the crash are these lines:

[code]
if no Kind is set, it did not crash in my tests or if I dont select the prim I wa

[2022-02-21 19:56] ppt-adsk commented on #2127
Thanks for the bug report with the great repro steps and initial analysis.  Logged internally as MAYA-121822.

[2022-02-22 05:59] PolyHound commented on #2120
As I said up I've build /20.11/21.05/21.08 in latest dev branch in python 2.7 and none of them working...

Using vs2017 tested on cmake and ninja both same result
All build went successful and I added MAYA_MODULE_PATH=\install\RelWithDebInfo [ mayaUSD Path ] and I see the Plugin in maya plugin manager but I get lots of errors

- testPlugin doesn't load
// Error: file: .../Maya2019/scripts/others/p

[2022-02-22 15:17] seando-adsk commented on #2120
@PolyHound Can you try running the **tests** to make sure they are passing. Just add the flag ```--stages=test``` to your build.py command.

If they are passing then your build output is good so we need to figure out why it won't load. Are you able to load the ```mayaUsdPlugin``` in Maya or do you get the **initializePlugin** error? If you cannot load this plugin then one thing to check is to make

[2022-02-22 19:07] seando-adsk commented on #2120
The AL plugin and AL test plugin **cannot** be loaded at the same time. You should not need to load the Test plugin, it is for running the unit tests.

If you want to build with Qt, then for Maya 2019 you need to use Qt 5.6.1. If it works you should see the message, "Building with Qt features enabled" in your build log.

If you load just the **mayaUsdPlugin** does it work? If not, can you disable

[2022-02-22 19:48] PolyHound commented on #2120
Good to know it was not a problem for testPlugins

I've disabled all autoLoad and loaded just mayaUsdPlugin ( plugin in adsk/plugin ) and got this error on load

// Error: file: C:/USD/mayaUSD_21.05/install/RelWithDebInfo/plugin/adsk/scripts/mayaUsdMenu.mel line 433: Invalid flag '-optionVarChanged' //

I think the error comes up when i hover to "Select"(next to "Create") tab

testing with "Kitche

[2022-02-22 20:59] seando-adsk commented on #2120
What exact version of Maya 2019 are you using? We support 2019 Update 3. The flag ```optionVarChanged``` was added in 2019.2.  It could be that script error is throwing off the proper registration of the plugin. Can you try with 2019.3 or at least edit the file ```C:/USD/mayaUSD_21.05/install/RelWithDebInfo/plugin/adsk/scripts/mayaUsdMenu.mel``` and comment out the lines with the ```optionVarChang

[2022-02-22 21:04] PolyHound commented on #2120
I'm working with maya 2019.3.1 the whole time so i guess i should go and comment out that line

and i'll try build with qt again

[2022-02-22 21:42] ppt-adsk commented on #2127
Hi @KoljaHuebschmann, thanks again for reaching out.  I have good news and bad news: the good news is that I fixed the bug (fairly easy, low-risk fix).  The bad news is that the fix is in Maya, not in the maya-usd plugin, so it will require either a back-port to Maya 2022, or that you adopt a later version of Maya.  We'll update this bug when the fix is out.  Cheers.

[2022-02-22 21:49] KoljaHuebschmann commented on #2127
Thanks for the  quick answer and the upcomming fix implementation!
No problem, as a hotfix ill already implemented "theunselect before deleting prims" workaround.

[2022-02-22 21:50] PolyHound commented on #2120
Yes!!! Finally I think its working Thank you!!
Layer Editor opens and stage import option show up.
Before closing, this is my first time building somthing and Beginner for USD, so I have few questions.

- Can I delete build folders including pxrUSD buildFolder? // Its a big folder so if they are just for building can I delete it?

- Is it ok removing testPlugins? and how can I remove them?  // sin

[2022-02-22 22:08] seando-adsk commented on #2120
That is good news.

- As long as you don't need to make any changes or rebuild USD, then yes you should be able to delete the folders ```C:/USD/pxrUSD_21.05/build``` (this is the largest) and ```C:/USD/pxrUSD_21.05/src```. But do **not** delete the bin/lib/plugin folders, you need these for running.
- You are right you don't need the tests anymore. You can delete ```AL_USDMayaTestPlugin.mll```. Yo

[2022-02-22 22:14] PolyHound commented on #2120
Ok, got it! Thank you once again.

[2022-02-23 10:36] PolyHound commented on #2120
This questions is not about building but got some question playing around with my build plugin

Is usdPlugin maya2019  only supports import/export and simple transform edits?

I cant find how to change varients or change usdTree from outliner or making new "def" or "xform" objects and reference objects. I found varient could be change in import Hierarchy View but cant be changed after it is import

[2022-02-23 13:27] sun-frog commented on #1268
@alandann Indeed, maya 2019's MArrayIteratorTemplate.h has missing iterator traits, which is fixed in 2020 onward.

Thank you, this pointed me on the right direction when I stumbled on this issue, while debugging.
I have submitted a pull request to bump up the maya api version check to 2020.

[2022-02-23 14:45] seando-adsk commented on #2120
Yes you are correct, the support in Maya 2019 is limited. All the context menu functionality that we added to prims in the Outliner (to add new prims, change variants, etc) needs Ufe v2 which is only in Maya 2022 (or later). Same reason there is no Attribute Editor support - it needs Ufe v2.

The only way to do what you want in Maya 2019 would be by using the Pixar Usd python API and limited pytho

[2022-02-23 15:04] seando-adsk commented on #2108
In USD v21.11 we added MaterialX, so its possible this is somehow related. Maybe hydra has visible dependency on MaterialX? Or if you are mixing MayaUSD compiled against USD+MaterialX with USD compiled without it doesn't work?

On Windows there is an excellent tool called "Dependency Walker" or the newer rewrite called "Dependencies" that is very helpful in debugging these kinds of problems.

Sean

[2022-02-23 16:11] santosd commented on #2120
Hi @PolyHound, thank you for logging this issue. Since @seando-adsk was able to answer the original question, I am going to go ahead and close this issue out. However, if you have any further questions regarding workflows, feel free to log a [discussion](https://github.com/Autodesk/maya-usd/discussions) or if you come across a bug or issue feel free to log another [issue](https://github.com/Autode

[2022-02-23 16:11] #2120 closed

[2022-02-23 18:22] santosd opened #2139 "[MAYA-122477] Textures disappear when manipulating a prim when Async Texture Loading is enabled."
**Describe the bug**
If I have Async Texture Loading enabled and I create a stage from the ALab scene. After all of the prims and textures are loaded if I rotate the decor_helmet_head01_0001 prim the texture will disappear. It only happens on the first move, unless you undo the first move and move the object again.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Make sure that Asyn Tex

[2022-02-23 18:25] williamkrick commented on #2139
https://github.com/Autodesk/maya-usd/pull/1980 is the change that introduces async material loading.

[2022-02-23 20:46] ppt-adsk commented on #324
Hi @gracekumagai, can you provide us with workflow details and examples of what you're trying to do?  We want to make sure we understand the requirements well.  For example, do we need to give the plugin a drag enter event, to provide feedback to the user for drop availability?  Given a single drag, will there ever be a need for more than one drop action that the user would need to select interact

[2022-02-24 10:48] santosg87 commented on #1688
@eddiehoyle we have a fix for this issue merged now. are you able to test and confirm?

[2022-02-24 17:31] santosd opened #2142 "Textures appear different when using Async Texture Loading in the Nvidia Attic Scene"
**Describe the bug**
When the Nvidia Attic Scene is loaded with Async Texture Loading enabled the textures appear different than when the stage is loaded without Async Texture Loading.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Make sure that Async Texture Loading is enabled.
2. Create a stage from the Nvidia Attic Scene. Notice the shading on the beams how it is dark one side.
3.

[2022-02-24 19:51] eddiehoyle commented on #1688
Hi @santosg87, I've since moved to another company so don't have access to the tickets original environment for testing. I'll follow up here if I run into this issue again. Thanks for taking a look!

[2022-02-25 16:45] sepux commented on #1358
Yes plus one on this one. Especially with bigger assets is nice to have a bbox representation of your stage. Like for example the Moana Island

[2022-02-28 19:36] santosd commented on #1779
Hi @gracekumagai, We have implemented a fix for this issue, could you try this out building the latest to see if all is well on your end.

[2022-02-28 21:13] gracekumagai commented on #1779
Yay! @santosd - I went through my test cases listed above and the load state seems to be updating as expected. Thank you!

[2022-02-28 21:27] santosd commented on #1779
Excellent! Thank you for confirming, I will go ahead and close this one out.

[2022-02-28 21:27] #1779 closed

[2022-02-28 22:01] gracekumagai commented on #1946
Thanks @williamkrick! I tested this on our end and it seems to be working as expected.

I wanted to follow up on Dan's question - what is the feasibility of this fix being backported to 2022? Thanks!

[2022-02-28 23:29] gracekumagai opened #2150 "[MAYA-121937] Crash when renaming 2 nodes to a name that contains an invalid character"
**Describe the bug**
Maya crashes when renaming 2 nodes to a name that contains an invalid character.

Here's the top of the stack trace
[code]

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open a new file in Maya 2022
2. Navigate to Create -> Universal Scene Description (USD) -> Stage with new layer
3. Right click on the proxy shape -> Add new prim -> Capsule
4. Right click on the p

[2022-03-01 15:37] santosg87 commented on #2150
thanks for logging this @gracekumagai I see the issue on our side as well. I logged it internally as MAYA-121937

[2022-03-04 18:41] santosd commented on #2150
Hi @gracekumagai, This has been resolved in the latest if you would like to build the latest and test again. I checked it out on my end and all is working well.

[2022-03-04 18:41] #2150 closed

[2022-03-04 22:52] gracekumagai commented on #2150
Hi @santosd, thanks for the fix! I tested it on my end too and it is working as expected. Have a great weekend!

[2022-03-07 16:04] ChokmahBinah opened #2163 "MPxSubsceneOverride and HD (Hydra)"
Hello,

I have created a custom node node using MPxSubsceneOverride() implementation.
It works really well using Viewport 2.0, but nothing appears when using GL(Hydra).

Is there a way to make this kind of custom locators display using GL (Hydra) ?

I don't know how to do for now.

Using Viewport 2.0 :
![image](https://user-images.githubusercontent.com/33164632/157071093-139ca786-bc26-4e6a-9b91-e8

[2022-03-11 15:15] santosg87 commented on #1761
for the crash, i believe the changes are required on the Maya side, so this would have to be included on a maya update. :)

[2022-03-11 17:44] santosd commented on #1949
Thank you for reporting this @gracekumagai I was able to repro and logged it internally as MAYA-122119.

[2022-03-11 17:58] santosd commented on #1946
The backport of this issue is being worked on.

[2022-03-11 20:01] JGamache-autodesk commented on #608
The name of the material node is the Maya shading group name. We do have code that tries to reconcile [shading group names](https://github.com/Autodesk/maya-usd/blob/dev/lib/mayaUsd/fileio/shading/shadingModeExporterContext.cpp#L443) that do not match the name of the surface shader node, but it requires the surface shader to get exported, which is not the case.

[2022-03-11 20:49] santosd commented on #2111
Logged the AE refresh issue internally MAYA-122129.

[2022-03-11 21:55] gracekumagai opened #2180 "[MAYA-104046] - Attribute Editor: Xform ops names can be cut off"
**Describe the bug**
Long xform ops names are cut off in the attribute editor

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open a new file in Maya 2022
2. Navigate to Create -> Universal Scene Description (USD) -> Stage with new layer
3. Right click on the proxy shape -> Add new prim -> Capsule
4. Select the Capsule
5. Create xformOp:translate:rotatePivot and xformOp:translateScaleP

[2022-03-12 00:13] gracekumagai opened #2181 "[MAYA-122145] Cannot copy and paste prims"
**Describe the bug**
Copy (& cut) and paste does not work with prims. We would like to be able to copy and paste prims within the same stage and across stages in different Maya files.

Atm, it prints the following in the script editor when I press Ctrl+c on a prim:
`// Warning: file: /dist/sw/maya/2022.update3/scripts/startup/cutCopyPaste.mel line 223: Nothing is selected. // `

**Steps to reprodu

[2022-03-14 15:43] santosd commented on #2181
Logged this internally as MAYA-122145.

[2022-03-15 10:18] paulbaa opened #2185 "Export root without a ‘kind’"
We want to be able to export geometry from Maya as USD, which then gets further consumed in a component authoring stage.

For that, the exported geo should not have any ‘kind’, as the ‘component’ kind would be authored above that export at a later stage.

Currently, exporting from maya (2022.3, windows) forces is to set a kind. We would like to be able to choose to not set one.

[2022-03-15 16:37] santosg87 commented on #1933
Hi @DaveLi78,

we managed to narrow down the issue and a fix should be available in future Maya builds.
the problem seems to be due to a case sensitive argument that blocks the chinese resource files from loading the necessary USD fles.

for the time being, there is a possible workaround to get things working in chinese, unfortunately it involves modifying things on the Maya installed folder, so y

[2022-03-15 16:37] #1933 closed

[2022-03-15 22:59] Lucas3Dspain opened #2189 "[MAYA-122423] center to view (press F) not working as spected"
**Describe the bug**
When I have the usdPrpxyShape isolated and I select a prim inside the usdPrpxyShape, the center to view will fit all the proxyShape and not the selected prim.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Select mayaUsdPrpxyShape and isolate it (Ctrl +1)
2. Clear selection
3. Select a prim from inside the mayaUsdPrpxyShape
4. Press F to center prim to view.

If s

[2022-03-15 23:27] spiffmon commented on #1200
Just came across this bug, and wanted to ask if the current design addresses the "render and proxy representations getting out of sync" problem that @radon199 mentioned at the outset?  That's one of the problems for which the [proxyPrim relationship](https://graphics.pixar.com/usd/dev/api/class_usd_geom_imageable.html#a5be4a4143e2b9f89f9bea44d27639a92) exists, i.e. when someone is manipulating a _

[2022-03-16 03:43] J-Mo63 commented on #2185
I believe the functionality you're after was just merged in PR https://github.com/Autodesk/maya-usd/pull/2106

[2022-03-16 16:05] gracekumagai opened #2193 "Cannot constrain prims"
**Describe the bug**
Constraints (under the Animation menu) do not work with prims. We would like to be able to constrain prims to other prims or native maya nodes.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open a new file in Maya 2022
2. Navigate to Create -> Polygon Primitives -> Sphere
3. Navigate to Create -> Universal Scene Description (USD) -> Stage with new layer
4. Right

[2022-03-16 16:27] gracekumagai opened #2194 "[MAYA-124403] Changing purpose doesn't update viewport on prims that are not sharing the proxyShape draw purpose"
**Describe the bug**
On prims not marked as instanceable, toggling their purpose from proxy->render or proxy->guide does not update the viewport until the selection changes.

This works as expected with prims marked as instanceable

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open a new file in Maya 2022
2. Navigate to Create -> Polygon Primitives -> Sphere
3. Navigate to Create ->

[2022-03-17 10:34] DaveLi78 commented on #1933
Thank you very much for your reply, I used this method to successfully fix the error in the Chinese version, a great discovery.
----- 原始邮件 -----
发件人：George Santos ***@***.***>
收件人：Autodesk/maya-usd ***@***.***>
抄送人：David卫 ***@***.***>,  Mention ***@***.***>
主题：Re: [Autodesk/maya-usd] [MAYA-121365] Chinese version (Issue #1933)
日期：2022年03月16日 00点38分

Hi @DaveLi78,
we managed to narrow down the issu

[2022-03-17 16:03] scratchapixel opened #2196 "Compiling maya-usd using Visual Studio 2019: "could not find instance""
Hi there)

I have been trying to compile the plugin for a while (looking for solution myself) but without any luck. I started a command prompt window from Visual Studio 2019. When I type the command:

    C:\Program Files (x86)\Microsoft Visual Studio\2019\Community>python d:\libraries\maya-usd\build.py ..._

I keep getting

    _cmake -DCMAKE_INSTALL_PREFIX="D:\libraries\maya-usd-build\install\Re

[2022-03-18 11:33] scratchapixel opened #2199 "Can't load MayaUSD plugin in Maya 2022:"
**Describe the issue**
I seem to have a similar issue to this one:

https://github.com/Autodesk/maya-usd/issues/1389

Using Maya 2022 and trying to load the pre-built plugin MayaUSD. I used the wizard to install them here:

C:\Program Files\Autodesk\MayaUSD\Maya2020\0.16.0_202202052333-1c49ce6\

I set the MAYA_MODULE_PATH to C:\Program Files\Autodesk\MayaUSD\Maya2020\0.16.0_202202052333-1c49ce6. T

[2022-03-18 14:37] ppt-adsk commented on #2199
Hi @scratchapixel, the environment variable for the Python path is actually PYTHONPATH, not PYTHON_PATH.  Make sure you have that all checked out.  Here's another similar discussion:
https://github.com/Autodesk/maya-usd/issues/1615

[2022-03-18 17:13] mlfecho commented on #1400
To add another data point, we're seeing similar behavior with the vp2 render delegate when using UsdPreviewSurface with a texture driving opacity, even when the texture is fully opaque. I suspect it's the same underlying problem.

This is @csyshing 's repro with no authored displayOpacity, and instead a fully-opaque texture driving UsdPreviewSurface's diffuseColor and opacity:
[usdPreviewSurface_t

[2022-03-18 21:04] seando-adsk commented on #2196
@scratchapixel I think you have found a bug in build.py script. It is making an assumption about the generator when one isn't supplied: https://github.com/Autodesk/maya-usd/blob/dev/build.py#L247

I can think of three options:

1. In our internal builds we use Ninja by adding `--generator Ninja`.
2. Tell build.py the correct Visual Studio generator. I think this will work `--generator "Visual Stud

[2022-03-18 22:08] seando-adsk commented on #2199
One thing that can help us find the problem is if you can post the output of the commands: `getenv "PATH"` and `getenv "PYTHONPATH"` from the Script Editor in Maya.

Sean

[2022-03-19 17:31] MChenLiang opened #2202 "Failed to run 'cmake --build . --config RelWithDebInfo --target install -- -j16'"
**Describe the issue**
Compilation using Python failed。

**Build log**
[build_log.txt](https://github.com/Autodesk/maya-usd/files/8309736/build_log.txt)

**Specs:**
 -  Windows 10
 - gcc version 11.2.0 (GCC)
 - Maya 2022
 - Maya USD commit  dev at  d734a4275c47270d3450a8e768487c70cb803281
 - Pixar USD commit release at 857ffda41f4f1553fe1019ac7c7b4f08c233a7bb

**Additional context**
I have complet

[2022-03-21 16:27] santosd opened #2206 "[MAYA-122280] Textured Control is not connected for USD data"
**Describe the bug**
In the Maya Viewport, the Texture (on\off) ![image](https://user-images.githubusercontent.com/29235905/159304428-551f2f51-5676-4dd4-9ed4-c8da6f927daa.png) control doesn't affect USD data.
In an effort to have USD data work seamlessly across Maya, we would like to have the Texture Control connected for USD data as well.

**Steps to reproduce**
Steps to reproduce the behavior:
1

[2022-03-21 16:33] santosd commented on #2206
Logged internally.

[2022-03-21 16:52] seando-adsk commented on #2202
There is a small mistake in your build.py line. You have two entries for `--build-args` with the 2nd one coming at the end (after the workspace location). Try moving that option and combining it with the first one you have where you set CMAKE_MAKE_PROGRAM (you shouldn't really need that since you are using the `--generator` flag.

Sean

[2022-03-21 18:13] santosg87 commented on #2142
@santosd are you able to confirm the changes and close it?

thank you! :)

[2022-03-22 09:16] scratchapixel commented on #2196
Thanks Sean for the feedback. I will close it for now and will give it another go later, trying your solution and eventually looking for an update. Thanks again for the swift and useful reply.

[2022-03-22 09:16] #2196 closed

[2022-03-22 09:19] scratchapixel commented on #2199
Sean. For now I have installed Maya 2022.3 which comes with MayaUSD so that I could get started right away. Sorry just didn't have the patience to work this problem out)(. I am about to reconfigure the USD build after I have installed Maya 2022.3 so hope this won't cause any additional friction. Thanks again for your help (yes I meant PYTHONPATH and not PYTHON_PATH). But I will give it another go

[2022-03-22 09:19] #2199 closed

[2022-03-22 13:59] #2202 closed

[2022-03-22 14:24] seando-adsk commented on #2202
@MChenLiang Were you able to build MayaUsd successfully?

[2022-03-22 14:27] seando-adsk commented on #2196
@santosd Can you please log this in JIRA so we can make sure it gets fixed.

[2022-03-22 16:51] santosd commented on #2196
Logged the issue internally as: [MAYA-122322](https://jira.autodesk.com/browse/MAYA-122322)

[2022-03-23 00:40] JoshkVFX commented on #1338
Just ran into this issue myself, I've got an 'asset' USD file that sublayers in all my asset tasks, but when I reference it in at the shot level it brings nothing in

If I was able to specify a specific prim I could workaround this issue, but for now I'll have to use Solaris

[2022-03-23 01:19] womanyoyoyo-adsk commented on #1338
Hi just an update on this issue. We are currently designing a[ Composition Arc Authoring UI](https://github.com/Autodesk/maya-usd/discussions/2179). Capabilities will include:

- View existing arcs that are authored on the selected composed prim with respect to the editTarget.
- Edit existing authored arcs. This includes the arc path, the target prim, and its list editing operation.
- Author new a

[2022-03-23 14:11] jcoelho88 opened #2208 "Maya USD Import Help"
Hello,

I want to be able to import my USD assets with variant selection via python.

When importing with the import dialog there is a option to open a hierarchy view and select the variants on what ever prim you want.

The command pops up in the script editor when its ran but I do not see how any of the options chosen in the Hierarchy view is being applied.

Currently an import command I use coul

[2022-03-24 16:50] sylvieChen opened #2210 "[EMSUSD-158] usdPreviewSurface shader draws black in VP2"
**Describe the bug**
Hi,
we find usdPreviewSurface shader draws black in VP2 when the object is animated.

we find some workarounds:
- uncheck the `consolidate world` seems to fix the issue
- or set the opacity value to 0.99 seems to fix the issue

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a usdPreviewSurface shader, set diffuse color to any color.
2. assign the shader to a

[2022-03-24 17:59] santosd commented on #2142
I retested this issue and this seems to be resolved so closing this issue for the time being.

[2022-03-24 17:59] #2142 closed

[2022-03-24 18:04] santosd commented on #2139
Hi @williamkrick I retested this issue using the latest changes and this issue is still happening. Should we reassign this issue to try to get it fixed or set this in the backlog for the time being?

[2022-03-24 18:07] williamkrick commented on #2139
Yes lets log something internally and see if we can get it scheduled.

[2022-03-25 14:15] egorchatsperasoft opened #2213 "NVidia Attic sample produces some meshes with stange visualizing"
**Describe the bug**
win10 Maya2022.3 usdMaya 0.16.0 from githus installer
Attic scene from Nvidia

![Capture](https://user-images.githubusercontent.com/101147738/160136705-684700d6-01ee-4a0e-9e5f-170d1917c236.PNG)
/Root/Geometry/stars_527/stars Mesh primitive is invisible, but warns with such strange message, when selected.

in usdMaya 0.13.0 it produced incorrect VP2-imaging, which looks like ta

[2022-03-25 14:28] santosg87 commented on #2194
hi @gracekumagai I have tried this workflow in a few different ways and with a few different usd files and formats, and i cannot seem to reproduce it on our side.

I noticed that you also have a step to create a sphere on the process. is there any other tranform of selecting i should do with the polySphere that maybe i am missing? :)

[2022-03-25 14:59] santosg87 commented on #2185
@paulbaa are you able to build with a recent version of the plugin to test and confirm this works for you as expected? :) otherwise, those changes should be on the next available release :)

[2022-03-25 17:39] paulbaa commented on #2185
Great looking forward to it, thank you!

[2022-03-25 19:52] santosd commented on #1766
Hi Grace, a fix for this has been merged if you would like to build with the latest changes and retest. I tested on my end and I see that the collapse issue is fixed and didn't notice any regressions. I will go ahead and close this ticket out for now, but feel free to let me know if you find anything and we can reopen if needed.

[2022-03-25 19:52] #1766 closed

[2022-03-28 21:22] santosd commented on #2139
Logged it internally.

[2022-03-29 19:01] vlasovi commented on #122
The issue seems obsolete, closing.

[2022-03-29 19:01] #122 closed

[2022-03-29 19:06] vlasovi commented on #23
@KelSolaar I'm wondering if this issue is still valid for you, or if we can close it?

[2022-03-29 19:10] vlasovi commented on #93
@cfmoore007 I'm wondering if this issue is still valid for you, or if we can close it?

[2022-03-29 19:13] vlasovi commented on #236
@pmolodo I'm wondering if this issue is still valid for you, or if we can close it?