[2020-03-02 20:27] kxl-adsk commented on #95
Indeed this looks to be a duplicate. Will keep #157 since there are more conversations and reference to PR.

[2020-03-02 20:27] #95 closed

[2020-03-02 20:34] kxl-adsk commented on #77
@BigRoy Can you validate, this should be already fixed (and available in dev branch)

[2020-03-02 20:37] kxl-adsk commented on #77
OK, I was too quick with this one. You will need to wait for the next update to Maya 2019.

[2020-03-02 20:38] elrond79 commented on #227
Basically, by just applying a top-level rotation; so that if opening a scene with "upAxis = Z", the z-axis (as defined in the USD) is rotated so that it displays as aligned with maya's up-Axis.  This will make it appear "right side up" in maya's viewport.  You can look at how usdview handles it for an example.

Of course, this is a potentially "dangerous" operation, as a point defined as being at

[2020-03-02 20:42] #32 closed

[2020-03-02 21:56] ChokmahBinah commented on #314
I have rebuildt USD with patch_for_USD_for_pdb.txt.
Then rebuilt Maya USD.
Then I launched Maya an dactivated mtoh plugin (with hdxPrman dll).
Maya crashed again.
I noticed that at the crash time it tried to launch It.
It seems strange to me. (This fact occured last times too, I forgot to give you this information)
Here the Maya crash log :

[MayaCrashLog200302.2249.log](https://github.com/Autodes

[2020-03-02 22:06] kxl-adsk commented on #314
Weird, I was hoping to see lines at which this crash is happening, but it's not there.
[code]

You can notice that for modules in maya-usd, you get a `Line XX`...but not for hdxPrman. Can you look in c:\Program Files\USD\plugin\usd\ and check if there are .pdb files?

BTW. When building USD, you are pointing it to build in c:\Program Files\USD ?

[2020-03-02 22:17] ChokmahBinah commented on #314
Yes when building USD I am pointing it  to build in c:\Program Files\USD
And no .pdb files in c:\Program Files\USD\plugin\usd\

(I hope I don't do something wrong)

[2020-03-02 22:20] kxl-adsk commented on #314
OK, this explains why we don't see the lines. You will have to investigate what went wrong since I'm using exactly the same patch and have .pdb files.

[2020-03-02 23:34] ChokmahBinah commented on #314
Perhaps I don't use the patch correctly. I'll check about this.

[2020-03-02 23:56] ChokmahBinah commented on #314
Sorry, I ha ve this error messages when checking the patch file :

![image](https://user-images.githubusercontent.com/33164632/75728888-764b4080-5ce9-11ea-89a0-5acec58a329f.png)

I feel a bit  lost °_° haha ^^

[2020-03-03 08:27] DanEnglesson commented on #32
Thanks Krystian!
I haven't had time to check it out yet in dev, but this is great! Many thanks!

Dan

[2020-03-03 08:39] GilbertHuang84 opened #322 "Add support for xgen"
Xgen is an industry level tool, which can help artist to generate hair with a nice look in few steps. It is well known by the industry, and easy to learn. Currently the xgen just support alembic, which is an industry format for DCCs. That is a pity, it can not support such a fantasy format like USD.

If we can have xgen supporting USD, it would be very nice.

[2020-03-03 13:16] santosg87 commented on #35
HI @emilche thanks for logging this - This might be something that is fixed on most recent builds. I was able to export my animation both on verts and blend shapes, and could confirm that the animation data was indeed exported. :)

would you be able to test this again using a more recent version of the mayaUsd plugin?

Cheers!

[2020-03-03 13:29] santosg87 commented on #258
we have this logged internally as MAYA-103621.

[2020-03-03 13:45] cfmoore007 commented on #269
I should also clarify, I was testing w/ the AL proxy node.  Not the Maya USD proxyShape

[2020-03-03 13:45] santosg87 commented on #309
we can reproduce this on our side as well.

it is logged as MAYA-95166

[2020-03-03 13:56] santosg87 commented on #269
@cfmoore007 this seems to be only during the session (which is the behavior of issue #83 ). if you start a new session of Maya and try opening that same scene, your changes will be lost.

[2020-03-03 14:22] kxl-adsk commented on #22
@KelSolaar I'm wondering how we should proceed with this one. If someone is building maya-usd using build.py, then highly likely he will need the mod file we are generating currently. I see your point about studios with an environment resolver. Would splitting one mod file into two (USD and Maya-USD) would work? (FWIW. we can as well separate mtoh and put into a separate mod file)

[2020-03-03 14:32] santosg87 commented on #155
I can reproduce this on our side as well.

it seems the viewport needs to be refreshed in order to draw.

one possible workaround here would be to to use the mel command "ogs -reset" to force the update. :)

[2020-03-03 16:34] pilarmolinalopez commented on #309
hi @santosg87 , we were planning to take a look at this too. is that okay?

[2020-03-03 16:57] santosg87 commented on #309
Definitely okay :)

[2020-03-03 19:21] cfmoore007 commented on #269
Right.  In the AL plugin case, what I'm seeing written to the session layer is incomplete :
`
select -r AL_usdmaya_ProxyShape ;
# get selected proxy shape
proxyShape = cmds.ls(selection=True)[0] +"Shape"

# get session layer identifier ( identifiers=True is required for this )
sessionLayer = cmds.AL_usdmaya_LayerGetLayers(proxy=proxyShape,sessionLayer=True,identifiers=True)

# query session layer

[2020-03-03 19:32] ChokmahBinah commented on #314
Hello again Krystian,

I cloned a fresh USD-master, tried again your patch.

Patch check was fine.
But now I have two errors when applying it :
![image](https://user-images.githubusercontent.com/33164632/75811429-b3b4da00-5d8c-11ea-94f1-bc17b36efcac.png)

[2020-03-03 19:37] cfmoore007 opened #324 "[MAYA-111421] UFE Outliner Context : Add drag/drop capability"
**Is your feature request related to a problem? Please describe.**
We have various drag/drop workflows in our existing in-house USD Outliner, we would like the capability of with the new Context feature from https://github.com/Autodesk/maya-usd/pull/303

**Describe the solution you'd like**
An ability to add a callback to handle drag and drops onto the outliner with specific mime types

**Describe

[2020-03-03 22:23] kxl-adsk commented on #314
Just do `git status` and you will see that patch was applied, i.e.
[code]

I used dev branch, but should be ok as well with master (20.02)

[2020-03-03 23:11] ChokmahBinah commented on #314
Indeed I get the same messages using git status.

No now I should rebuild USD using Prman plugin right ?

[2020-03-04 00:29] mattyjams commented on #257
@kxl-adsk This is unfortunately not resolved by #315. The problem is reproducible with `mayaUsdProxyShape` as well.

Here's the same test scene from #291: [CubeModelProxy.zip](https://github.com/Autodesk/maya-usd/files/4284346/CubeModelProxy.zip)

And then here's some Python to run in the script editor to exhibit the problem:
[code]

Running the test above with the Pixar batch renderer (`VP2_RENDE

[2020-03-04 02:29] kxl-adsk commented on #257
Thank you...it will require some investigation then.

[2020-03-04 02:31] kxl-adsk commented on #314
Yes, please. Now you should have pdb's in the folder and callstack should include `Line XX` for hdxPrman.dll.

[2020-03-04 08:06] KelSolaar commented on #22
I'm a bit out context as I'm at home but I think that having a separate mod file would help! Worse case it would simply mean culling the USD one upon building and no more patching, the former being much easier than the latter.

[2020-03-04 16:38] cfmoore007 opened #327 "[MAYA-109887] VP2RenderDelegate: support per-instance data via inheritance"
**Describe the bug**
It appears that inherited displayColors are not supported currently with the VP2 Delegate, while HdSt/Hydra ( mtoh ) seems to support this fine.

Attached is an example asset that uses PxrSurface shaders, but still has displayColor defined.  Another file inheritedDisplayColor_noPxrMtls.usda is included to rule out any influence from the PxrSurface definition.

We tested this w

[2020-03-04 19:26] ppt-adsk commented on #316
If it is the same as https://github.com/Autodesk/maya-usd/issues/238
then I venture the same suggestion to look at https://github.com/Autodesk/maya-usd/commit/6cf32fbdc9334741bf83de3423cbbe59a7fca5a6

[2020-03-04 19:30] HdC-adsk commented on #327
@cfmoore007 Thanks for reporting the issue. A quick look reveals two issues.

* The "payload" node is instanceable and in this case the instancer is where we can fetch the color data from, but not the mesh node. This is not implemented yet in HdVP2Instancer.

* The material requires color data from the mesh, and the current implementation doesn't pass the color to the shader, causing random draw i

[2020-03-04 19:36] HdC-adsk commented on #327
@cfmoore007 Is this a scene that we can use to create internal render tests on our side?

[2020-03-04 20:49] ChokmahBinah commented on #314
Hello again Krystian,

I found time to build usd with Prman.
I tested runnin mtoh plugin with prman and it crashed again.
And I have pdb files in ..\plugin\usd now.

But It seems I cannot read them. Do I need a specific tool to do that ?

Here is the pdb file :

[hdxPrman.zip](https://github.com/Autodesk/maya-usd/files/4289591/hdxPrman.zip)

But, more strangely, the second time I tried to load mto

[2020-03-04 20:58] ChokmahBinah commented on #314
I noticed another fact :
I ran a viewport render with NC Renderman Plugin for Maya. (A torus to test something really simple).
And then when I ran Prman(Hydra) it rendered a torus in black (with or without RM light or standard Maya light). So It renders something.

I will continue to investigate, note another behaviors if it can help.

[2020-03-04 21:27] cfmoore007 opened #330 "Selection by Kind"
**Is your feature request related to a problem? Please describe.**
It would be great to have a different selection modes for USD prims, specifically by Kind ( i.e : component vs Xform ).

This is essential in the selection of large sets, and even out convenience with smaller assets such as the one attached.

**Describe the solution you'd like**
Option to change selection style ( similar to Maya's

[2020-03-05 10:48] Acidpix opened #331 "OSError: [Errno 2] No such file or directory"
Hi i try to build maya plugins but i have an error and i try to fix this but i don't understand how it's wrong :

python build.py --maya-location /usr/autodesk/maya2020 --pxrusd-location /opt/USD  --devkit-location /opt/devkit/devkitBase  /usr/local/workspace

 Building with settings:
      Source directory          /root/maya-usd
      Workspace directory       /usr/local/workspace
      Build di

[2020-03-05 19:08] tryptik opened #332 "Selection of large items imposes high redraw cost"
**The Problem**
Selecting a prim with a high number of children (like a city block) introduces lag while Maya draws the green wireframe for the to indicate the selection highlighting.

**Possible Solutions**
There are a couple of alternatives that come to mind:
- Draw the shapes in a manner similar to USDView. I'm not sure this would save time, but it may faster than layering on the wireframes or

[2020-03-05 21:27] HamedSabri-adsk commented on #331
@Acidpix please follow the issue template. It is very hard to tell what the problem is without looking at the `build_log.txt`

[2020-03-06 02:15] ZbadhabitZ opened #333 "Unable to compile on macOS Catalina"
For many users who come from a background in mobile development (including more focused on the Xcode/ARKit component of USD files), the instructions to install the Maya plug-in (alongside the USD plug-in) are incredibly complex and multi-stepped.  A suggestion to offer some sort of precompiled suite (a .pkg of sorts) would be immensely helpful.  Apple offers precompiled USD binaries for use with m

[2020-03-06 06:49] ZbadhabitZ opened #334 "Unable to compile on macOS 10.15.3 - Boost Symbols Not Found"
During the build process, the following error can be noted;

[code]

The Boost component is noted to be installed, as was required during the build process for Pixar's USD tools, but cannot seem to be found

**Build log**
(see attached)
[build_log.txt](https://github.com/Autodesk/maya-usd/files/4296854/build_log.txt)

**Specs:**
 - macOS 10.15.3
 - Xcode 11.3.1
 - Maya 2020
 - Maya USD commit SHA

[2020-03-06 06:49] ZbadhabitZ commented on #333
(Disregard this issue, will submit as a more concise feature request).

[2020-03-06 06:49] #333 closed

[2020-03-06 09:39] Acidpix commented on #331
Hi , Sorry i dont see the issue template.
OS : Centos 7.7
Compiler : gcc 6.3.1
Maya 2020
Maya USD commit : 176f60e217559f971cc961ef27f126cd52c60626
Pixar USD Commit : be1a80f8cb91133ac75e1fc2a2e1832cd10d91c8

[build_log.txt](https://github.com/Autodesk/maya-usd/files/4297508/build_log.txt)

[2020-03-06 13:45] santosg87 commented on #332
Hi @tryptik, thanks for logging this.
question - how are you selecting the root prim on that case? through the viewport, or the outliner? I have seen a similar behavior when selecting thigns on the viewport.

[2020-03-06 14:32] Acidpix commented on #331
I Found , sorry it my GCC and Cmake was wrong install

[2020-03-06 14:32] #331 closed

[2020-03-06 19:30] santosg87 opened #335 "mtoh crashes maya when an empty proxyShape node is present"
**Describe the bug**
whenever a user tries to use GL (hydra) as a render delegate in Maya. if a ProxyShape node without a primPath exists, moth will crash maya. this does not happen on VP2.0.

**Steps to reproduce**
Steps to reproduce the behavior:
1. create an empty proxyShape ("createNode mayaUsdProxyShape")
2. without changing the prim path, switch the current viewport renderer to GL (Hydra)
3.

[2020-03-06 21:57] HamedSabri-adsk commented on #334
Hi @ZbadhabitZ,
Catalina is still at experimental stage for us. Can you post here how you are building USD?
Thanks.

[2020-03-06 22:02] ZbadhabitZ commented on #334
Absolutely.  I am receiving the aforementioned error when running the following;

`/Applications/Autodesk/maya2020/Maya.app/Contents/bin/mayapy build.py --generator Ninja --build-args=-DCMAKE_MAKE_PROGRAM='/Users/brandon/Downloads/ninja' --maya-location /Applications/Autodesk/maya2020 --pxrusd-location /Users/brandon/Projects/Pixar/BUILD/USD ~/Desktop/BUILD`

[2020-03-06 22:11] HamedSabri-adsk commented on #334
I actually meant pixar USD itself. I assume you used "build_usd.py" to build it?

Also, you don't really need to build maya-usd project using mayapy as it is shown in doc:

https://github.com/Autodesk/maya-usd/blob/dev/doc/build.md#5-how-to-use-buildpy-script

[2020-03-06 22:15] ZbadhabitZ commented on #334
I'm a bit confused, then.  The instructions do say to use mayapy on macOS, toward the bottom, under **Additional Build Instruction** and the _Python_ section.

I installed the Pixar USD toolkit using the following;

[code]

I am able to successfully use the USD tools, per testing with _usdview_, which launches the relevant GUI successfully when referencing an existing local USD file.  Thanks!

[2020-03-06 22:26] HamedSabri-adsk commented on #334
`I'm a bit confused, then. The instructions do say to use mayapy on macOS, toward the bottom, under Additional Build Instruction and the Python section.`

correct, this only applies to Pixar USD only and not Maya USD as per explanation under **Additional Build Instruction/Python**

Also before that, there is a section about boost that you are missing when building USD and is most likely why you ar

[2020-03-06 22:40] ZbadhabitZ commented on #334
Thanks for the replies.  When following your guidance (I've also removed the existing built USD binaries from my PATH, for posterity), I run the following;

`/Applications/Autodesk/maya2020/Maya.app/Contents/bin/mayapy USD/build_scripts/build_usd.py $HOME/Projects/Pixar1/BUILD/USD --build-args boost,"--with-date_time --with-thread --with-system --with-filesystem"`

This results in the error;
`ERRO

[2020-03-06 23:03] ZbadhabitZ commented on #334
Subsequent update:  I uninstalled both Boost and Boost-Python from my system (via brew uninstall boost-python and brew uninstall boost).  I was then able to install the Pixar USD tools via command line using mayapy (no usdview).

When then attempting to install the Maya USD plug-in, per this command,
`python build.py --maya-location /Applications/Autodesk/maya2020/ --pxrusd-location /Users/brandon

[2020-03-06 23:05] HamedSabri-adsk commented on #334
No problem. Ugh right. We have a PR ready that removes the `if isMayaPython:` method in `build_usd.py` but it is not in dev yet.

So here is what you need to do before building the USD project:

1- delete `if isMayaPython` statement ( line 1811-1824
https://github.com/PixarAnimationStudios/USD/blob/40c813421425c47aa84f4572b4798fbb3430984e/build_scripts/build_usd.py#L1811

2- run `export PYTHONPATH

[2020-03-06 23:11] HamedSabri-adsk commented on #334
That's a problem. You do want to build USD **with** `usdview` because if you don't then "usdGenSchema" won't be created which is a necessary tool for generating schemas and this failure message confirms it: `Schemas generation failed`

I bet, if you look at your `$HOME/Projects/Pixar/BUILD/USD/bin` you won't see `usdGenSchema` :)

[2020-03-07 00:40] ZbadhabitZ commented on #334
Thanks for following up.  I have completely restarted my USD install, using your guidance regarding mayapy.  USD installs successfully, and I can confirm `usdview` functions normally, but when attempting to install the Maya plug-in, I run into the same references error regarding the dlopen.

I am using this command;
`python build.py --maya-location /Applications/Autodesk/maya2020/ --pxrusd-locatio

[2020-03-07 03:11] kxl-adsk commented on #314
I was off the last two days. Now that you have pdb's...can you give me the crash log?

[2020-03-07 08:47] ChokmahBinah commented on #314
Hello Krystian,
Don't worry Krystian, I understand now.
I thought we had to read the pdb file directly to see the log. Now you mention it I realize the pdb files add messages to Maya crash log. I can see them.

So here is the last one :

[MayaCrashLog200307.0943.log](https://github.com/Autodesk/maya-usd/files/4301583/MayaCrashLog200307.0943.log)

Thanks you I learned something new :)

[2020-03-07 11:58] kxl-adsk commented on #314
Looking at the call stack and the place in HdxPrmanRenderDelegate where the crash happens (i.e. destructor) - you will have to bring this up on USD mailing list.

Maya to hydra may have a different pattern than other applications, where it creates and destroys render delegates during its initialization. But there shouldn't be anything wrong in doing so, and render delegate destructor should proper

[2020-03-07 12:24] ChokmahBinah commented on #314
OK, so I should transfert this log to Pixar USD mailing ?
I'll do so.

Thank you a lot ^^

[2020-03-07 15:03] HamedSabri-adsk commented on #334
Catalina is still at the experimental stage. I will build things on Catalina sometimes this week to see if I can reproduce the problem and fix it.

[2020-03-07 19:08] ZbadhabitZ commented on #334
I was able to successfully build the Maya plug-in by disabling System Integrity Protection (booting into Recovery Mode and running `csrutil disable`), then restarting and attempting the build.  While not an ideal solution, it did seem to allow for Python to load the necessary dependencies and complete the build.

Regretfully, even after setting my Maya environment variable to point to the install

[2020-03-08 01:21] ZbadhabitZ commented on #334
Subsequent update; I have succeeded in fully building and installing the Pixar USD tools, Maya USD plug-in, and can now import/export USD files in Maya 2020 on macOS Catalina.  In case it is helpful, these are the full steps I took, per your expert guidance and support;

**1) Ensure Prerequisites Are Installed**
- Verify installation of Xcode
- Verify installation of Maya 2020
- Install Python-bas

[2020-03-08 13:13] Xaia opened #336 "[MAYA-105624] Wrong object translations after importing."
**Describe the bug**
Weird translations on the Bot geometry after importing. Opening the same file as a Stage works just fine.

**Steps to reproduce**
1. Export Gaffer bot from Gaffer
2. Import bot.usd in maya

**Expected behavior**
No translations on the geometry.

**Attachments**
![hYqhWpXZPN](https://user-images.githubusercontent.com/60515654/76163505-ee30c500-6146-11ea-9d8d-931c8c78010d.gif)

[2020-03-08 13:21] Xaia opened #337 "[MAYA-122498] MTOH: Rotated mesh display issue"
**Describe the bug**
Hydra viewport rotates the shading back to original place. Model somehow stays in place. Check the GIF attached.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Switch to MTOH
2. Open Kitchen as Stage
3. Rotate it 90 degrees
4. Turn on the lights

**Expected behavior**
Well, I would expect model to stay in place.

**Attachments**
![svUQ0USqTf](https://user-images.g

[2020-03-08 13:25] Xaia opened #338 "Hiding objects and Changing variants UfeCmd error"
**Describe the bug**
Getting this error while trying to hide or change the variants in the Kitchen set.

 `# Error: AttributeError: file C:\Program Files\Autodesk\Maya2021\Python\lib\site-packages\maya\internal\ufeSupport\ufeCmdWrapper.py line 39: 'module' object has no attribute 'ufeCmd' #
`

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open Kitchen set stage
2. Try to hide / change

[2020-03-08 13:33] Xaia opened #339 "Arnold not rendering the stage"
**Describe the bug**
Arnold not rendering the stage. Only way to render with arnold at this point is through Standin procedural.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open kitchen set as a stage
2. Add lights
3. Try to render

**Expected behavior**
Render object with shader assigned.

**Attachments**
![VAu9Lg38ZD](https://user-images.githubusercontent.com/60515654/76163817-c2

[2020-03-08 13:37] Xaia opened #340 "[MAYA-105820] Exported Instances are not importing"
**Describe the bug**
Exported Instances as USD are not importing at all. Stage works just fine.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create instances
2. Export as USD
3. Import USD

**Expected behavior**
I should be able to import Instances as Maya native and be able to edit them.

**Specs (if applicable):**
 - Windows 10
- Maya Beta PR113

[2020-03-08 13:42] Xaia opened #341 "Selected instanced object is slowing down 5x the viewport"
**Describe the bug**
Selected instanced object is slowing down the viewport (MTOH and VP2)

**Steps to reproduce**
Steps to reproduce the behavior:
1. Bring in instanced stage with or without animation
2. Select the object

**Expected behavior**
There should be no such big slowdowns.

**Attachments**
![VhBB107mbt](https://user-images.githubusercontent.com/60515654/76163962-086ca200-614b-11ea-8e62-

[2020-03-08 13:50] Xaia opened #342 "Framing in outliner is not working"
**Describe the bug**
Framing in outliner is not working. Going straight to selected object in the viewport is impossible.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Bring the kitchen set
2. Select object in the viewport
3. Focus the outliner
4. Press F to frame the object in outliner

**Expected behavior**
I should be able to frame the object in outliner like normal maya native ob

[2020-03-08 14:57] HamedSabri-adsk commented on #336
@Xaia Can you provide the ascii format(bot.usda) that was exported from Gaffer?  Thanks.

[2020-03-08 15:02] Xaia commented on #336
@HamedSabri-adsk
sure!
there you go

[gafferTest.zip](https://github.com/Autodesk/maya-usd/files/4303377/gafferTest.zip)

[2020-03-08 15:03] HamedSabri-adsk commented on #336
@Xaia Great. Thank you!

[2020-03-08 15:18] kxl-adsk commented on #342
Thank you for reporting. This is something we are currently working on.

[2020-03-08 15:20] kxl-adsk commented on #341
@Xaia This is using VP2 render delegate? (not mtoh)

[2020-03-08 15:22] kxl-adsk commented on #339
@Xaia which version of `mtoa` you were using? FWIW. As a workaround, you can use arnold render delegate with `mtoh`.

[2020-03-08 15:22] Xaia commented on #341
@kxl-adsk
It's both, MTOH and VP2

[2020-03-08 15:24] Xaia commented on #339
@kxl-adsk
The one available for Maya Beta PR 113 which is MTOA 4.0.3 if I am not mistaken.

[2020-03-08 15:26] kxl-adsk commented on #341
Selection is handled very differently in VP2RenderDelegate vs mtoh. We may decide to split this into two separate issues.

[2020-03-09 14:35] HdC-adsk commented on #341
@Xaia Thanks for reporting the issue.

This is not selection performance but the selection highlight wireframe draw performance.

I notice that there is a USD point instancer in the scene in the recording. I don't think VP2 has the support yet. Is it possible to share us with the scene? Thanks.

[2020-03-09 15:36] seando-adsk commented on #342
Internally this was logged as: MAYA-96174 - UFE: outliner framing doesn't behave properly
It will be fixed in the next Maya beta.

[2020-03-09 18:22] santosg87 commented on #340
thanks for logging this. I can also reproduce this on my side. it seems to be a problem on the import side specifically, as the geometry shows up as expected when using a proxyShape.

[2020-03-09 18:27] santosg87 commented on #339
@Xaia tthe current support for arnold indeed depends on the standin workflow in order to render. (or using the mtoh render delegate as @kxl-adsk mentioned). :)

with that said, I can see the workflow you mention as something useful for sure. thanks for bringing this up

[2020-03-09 19:10] santosg87 commented on #73
I can reproduce this issue on our side as well using PR113 Maya build on all platforms.

[2020-03-09 19:37] Xaia commented on #341
@HdC-adsk
yes, this is an instanced animation.
file is too big to upload here, link to gdrive instead:
https://drive.google.com/file/d/1KvqjAG3sXCgfrhnXkvUtiePpdIWmbRjf/view?usp=sharing

[2020-03-09 19:43] HdC-adsk commented on #341
@Xaia Thanks for sharing.

[2020-03-09 19:53] Xaia opened #344 "MTOH issues with lights intensity and wrong look"
**Describe the bug**

I know this is not big of a deal since non of the maya lights are even close representation of an actual lighting but maybe in the future we will get some nice preview in the viewport so I am reporting this.

- Lights intensity is completely different than what VP2 is displaying.
- Arnold lights obviously are not working
- There is no penumbra causing the back light too look

[2020-03-09 21:01] HamedSabri-adsk commented on #220
@TechArtistG
I have update the build doc to make it more clear what version of USD to use.
https://github.com/Autodesk/maya-usd/pull/346
Does this help?

[2020-03-09 21:38] radon199 commented on #330
I second this request. I brought it up as an option in one of the previous charter meetings.

Our current Maya plugin allows us to select by kind. This is important for us as layout artists work generally with a whole asset at once at first and they want to be able to select both individual meshes and assets in the viewport.

Currently in the maya plugin ( and just maya in general when working wit

[2020-03-10 12:08] suesauer opened #348 "Can't switch over to mtoh in maya2020, instant crash"
**Describe the bug**
1.Installed usd for Maya 2020, mtoh crashes Maya see video and image,
2.also the arnold delegate is missing completely
3.and pxrusd.so fails to load

**Steps to reproduce**
Steps to reproduce the behaviour:
Open maya, load plugins then try to switch to the hydra delegate.

**Expected behavior**
To be able to switch to the hydra delegate and load Usdpxr.os

**Attachments**
Imag

[2020-03-10 12:52] suesauer opened #349 "USD Proxy's load "empty" Maya2020"
**Describe the bug**
Load a usd asset in Maya 2020, loads empty.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open Maya 2020
2. in USD dropdown menu import a proxy
3. Loads usd asset but its empty see video below

**Expected behavior**
To load a full asset like shown in houdini, this use to work in Maya 2019.1

**Attachments**
Video:
[2020-03-10 14-45-46.mkv.tar.gz](https://github.c

[2020-03-10 14:10] fowlertADSK commented on #349
@suesauer Can you confirm that the commit you are using is correct?  You are using a dev branch build from last September?

I was watching your videos but none of the text is visible to me so it was hard to make out a few things.  I thought I saw some things in the UI that hit the dev branch much later than last September so I just wanted to double check on what exactly you were using.

[2020-03-10 14:17] suesauer commented on #349
Sorry at this point I had build against the latest commit, forgot to update that line.

[2020-03-10 14:24] santosg87 commented on #349
hi @suesauer, are you able able to share the barrel.usd file with us? any more info on how it was built? the fact you are getting an error on import as well points out it might be something more than just the proxyShape being empty. We would love to dive a bit deeper investigating this. :)

[2020-03-10 14:30] suesauer commented on #349
weird this barrel asset worked yesterday in Maya 2019.1. I can share the asset yes, but I know it works in houdini 18.0.348 soooo not sure its an import issue because of the asset....
FYI:
It says the file is to big... where can I save the barrel for you?

[2020-03-10 14:33] suesauer commented on #349
Heres me trying to import the kitchen set
[2020-03-10 16-33-14.mkv.tar.gz](https://github.com/Autodesk/maya-usd/files/4312960/2020-03-10.16-33-14.mkv.tar.gz)

[2020-03-10 15:34] santosg87 commented on #349
that's super strange! thanks for the kitchen set video. it does seem like it's something on the plugin side - that hard crash shouldn't be happening at all. I don't think we will need to test your asset in this case.
one thing i noticed, is that your mayaUsd plugin is a bit out of date compared to your pixar USD.

when you import your proxyshape - are you getting any messages on the terminal windo

[2020-03-10 15:36] kxl-adsk commented on #348
@suesauer Any chance that you are pointing to a different USD version (in the mod file) than what you built maya-usd plugin with?

[2020-03-10 23:17] elrond79 commented on #238
closing this since it's a dupe of #316, and that one has a bit more details...

[2020-03-10 23:17] #238 closed

[2020-03-10 23:19] elrond79 commented on #316
It was a dupe - I haven't confirmed whether unloading any plugins makes this go away, but did confirm that properly enclosing this in a try/finally (where the finally calls `maya.standalone.uninitialize()`) does - so I think that https://github.com/Autodesk/maya-usd/pull/242 should fix this, and I'm currently working on that...

[2020-03-11 00:19] elrond79 commented on #316
I think this was a dupe of #238.  I did check to see if unloading the renderSetup plugin made a difference, though, and it didn't.  I'll try working on this some more later...

[2020-03-11 13:13] santosd commented on #344
Hello Xaia, thank you for reporting this. I have verified this is occurring in cut 202003092115 of PR113 build for me as well.

[2020-03-11 16:37] santosg87 commented on #344
leaving this marked as unassigned for the time being as we discuss the next steps.

[2020-03-11 16:59] santosd opened #350 "[MAYA-122481] Crash performing Preview Render with Hydra enabled"
**Describe the bug**
When using Hydra in the viewport if you click the preview render button. Maya will crash.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open a USD Scene through the "Create > Universal Scene Description (USD) > Stage From Existing Layer..." menu.
2. Change the viewport renderer to Hydra. "Renderer > GL (Hydra)"
3. Click on the icon for "Render Current Frame" or g

[2020-03-11 17:20] santosd commented on #350
Even easier repro steps no need to open a USD scene:
1. Select Hydra as the Viewport renderer.
2. Render Current Frame and crash.

This is happening when running a Render Current Frame using Software Render and Maya Vector. It Doesn't occur with Arnold or Hardware renderers.

[2020-03-11 18:19] santosd commented on #338
I checked this in PR113 and I am able to Make Visible and Invisible. However, I am not able to change the Variance when I am using the Hydra Viewport renderer. If I am in VP2 I am able to change the variants without issues. The error I am seeing is one that is already logged:
`# Error: RuntimeError: file ...\Python\lib\site-packages\maya\app\ufe\outlinerSupport.py line 54: Collection not found, or

[2020-03-11 18:22] santosg87 commented on #81
note that this should be fixed on the latest Maya PR builds. :)

[2020-03-11 18:31] santosd commented on #337
I took a look at this and was also able to replicate in PR113. It seems in hydra that the cage selection cage is moved but the shading doesn't update. Another thing to note is that rotating after shading is turned on or off updates the selection. However, if you switch between VP2 and Hydra after that it goes back to showing the issue.

[2020-03-11 19:02] santosg87 commented on #164
I can reproduce this on our side as well. this might be related to the session layer when modifying the objects, as they both reference in the same usd file.

I can also reproduce this behavior by creating 2 stages using the same usd file (instead of doing a duplicate)

[2020-03-11 19:22] santosd commented on #335
Marking as reproduced since this was logged by QA.

[2020-03-11 19:39] santosg87 commented on #267
As @ppt-adsk pointed out, there is some more work needed here. :)

[2020-03-11 19:46] santosg87 commented on #78
HI @BigRoy, are you able to validate this? it should be fixed on the current dev branch with the PR113 maya build. :)

[2020-03-11 20:47] ChokmahBinah commented on #314
Hello Krystian,

I come back with very few news since I send a message on USD mailing list.
No answer for now except this :
Filed as internal issue #USD-5921

I 'll come with news if I have some, and still continue to investigate until then :)

[2020-03-11 20:49] kxl-adsk commented on #314
@ChokmahBinah should we close the ticket here? We don't have much more to do for now. You can always reopen with new information if needed.

[2020-03-11 21:12] ChokmahBinah commented on #314
I think you are right, I prefer coming back with real informations if i get some.

Thank you for all your help Krystian :)

[2020-03-12 02:00] santosg87 commented on #35
Closing this one based on the amount of information available, and considering this works in our testing. if needed we can re-open this later. :)

[2020-03-12 02:01] #35 closed

[2020-03-12 02:04] santosg87 commented on #348
@suesauer I also noticed that your MayaUsd seems to be quite old. it might be helful to buld it at a more recent commit. :)

[2020-03-12 12:53] santosd commented on #308
Hello @cfmoore007, I tested this out on the latest beta release PR113 and was not able to reproduce, so it seems to me that the issue has been resolved. Could you download the latest beta version and see if you are still seeing the issue?

Thank you.

[2020-03-12 15:21] aka-anoop commented on #334
Followed the above, However, While using DevKit to build *UFE*
## 2019
USD Version: v20.02

The following works as long as I don't pass the devkit path to build UFE. As soon as --devkit-location is passed, I get the following
[code]
Here is the build command used
[code]
### Log
[build_log.txt](https://github.com/Autodesk/maya-usd/files/4324945/build_log.txt)

I had to pass `--build-args="-DCMAKE_W

[2020-03-12 15:35] cfmoore007 commented on #308
I just tried with the latest maya-usd dev and PR113.

1) AL Proxy Shape ( Still Broken )
The renamed prim is missing from the viewport and the UFE prims in the outliner.  Same results as I posted above.

2) Maya Proxy Shape ( Fixed )
![PR113_renameAfterSave](https://user-images.githubusercontent.com/2152250/76538241-62c07800-6455-11ea-9cb8-02c5ae28d002.png)

[2020-03-12 18:08] santosg87 commented on #339
I was able to test this internally, and it is something we are working on. it should be fixed on the next beta :)

[2020-03-12 21:32] HdC-adsk commented on #341
On a NVIDIA Quadro M2000 card I can see a 2x slow down when displaying selection highlight. The scene drawing performance is bound on GPU according to Maya profiler, and when selection highlight is displayed there are nearly 2x GPU workloads (normal shaded + green wireframe), so I think the 2x slowdown makes sense.

@Xaia Can I ask about your machine config, esp. GPU? We will need this info to rep

[2020-03-12 22:23] Xaia commented on #341
@HdC-adsk
I am running maya on 2x GTX 1070 8gb, Ryzen 9 3950x, 64gb 3600mhz memory and samsung gen3 m.2 hdd.

[2020-03-13 19:42] santosd commented on #341
I took a look on a machine with an Nvidia Quadro 5000 and in the viewport when I turn on the frame rate, I am seeing a little more than 2x slower when I have the USD instanced object selected. Without selection I see a frame rate of about 15.2 and with the selection I see a frame rate of about 5.6 Here is the [profile](https://github.com/Autodesk/maya-usd/files/4331343/ds_instancingProfileTest.txt

[2020-03-13 20:13] santosd commented on #308
@cfmoore007 thanks for the information. I had tested this on the Maya proxy not the AL one. I will mark label this issue as AL so it can be looked at on that end. Thanks again.

[2020-03-13 20:57] santosd commented on #285
Took a look at this in PR113 and am able to reproduce the issue which doesn't show the proxy with purpose. However, setting the `HD_VP2_RENDER_DELEGATE=0` env doesn't work for me. Switching to Hydra as the renderer in the viewport doesn't work either. @kxl-adsk I am wondering do I need to have the pxr usd plugin installed for that to work?

[2020-03-13 21:06] mattyjams commented on #285
Hey @santosd, sorry for the confusion. I'm not sure where I pulled that variable name from, maybe mistakenly from a lazy grep that found an include guard rather than the actual env var name, but it should have been:

`VP2_RENDER_DELEGATE_PROXY=0`

Since the Pixar batch renderer moved to mayaUsd, I don't *think* you'll need the pxr plugin built.

[2020-03-16 10:41] suesauer commented on #348
I will rebuild all this week this week to see if there is some environment issues, and report back

[2020-03-16 11:48] suesauer commented on #349
### When loading the plugin:
AL_USD
// Error: file: /usr/autodesk/maya/scripts/others/pluginWin.mel line 317: initializePlugin function failed (AL_USDMayaTestPlugin)
PXR_USD
# Error: file: /usr/autodesk/maya/scripts/others/pluginWin.mel line 317: ImportError: file <maya console> line 1: No module named UsdMaya #
// Error: file: /usr/autodesk/maya/scripts/others/pluginWin.mel line 317: initializePl

[2020-03-16 12:22] suesauer commented on #349
### some more info:

cmake version 3.15.4
Python 2.7.5 (default, Aug  7 2019, 00:51:29)
gcc (GCC) 6.3.1 20170216 (Red Hat 6.3.1-3)
ninja-1.9.0.post1
pyyaml 3.10
pyside 1.2.4
pyopengl 3.1.0
jinja2 2.10.1

centos-release-7-7.1908.0.el7.centos.x86_64
Maya 2020
Maya devkit 2020

pixar master v19.11

[2020-03-16 13:59] seando-adsk commented on #177
Internally this is logged as: MAYA-101356 - UFE: Hiding (Ctrl+H)/unhiding (Shift+H) prims doesn't work

[2020-03-16 16:19] santosg87 commented on #349
just to make sure I understand and I'm not assuming anything - after rebuilding, you are still seeing the problem. with the sync commit 38185d2 - is that correct?

[2020-03-16 16:29] santosg87 commented on #350
marking this one as unassigned as we decided the next steps.

[2020-03-16 19:45] santosg87 commented on #285
@santosd this one can be reproduced in maya as well, but it takes a few more steps. :)
you can see this behavior by selecting the "triangle" prim and changing the purpose on the AE in maya. note that you might need to run "ogs -reset", as it you will need to force the viewport to update to see the changes.

I can reproduce this as well on the latest Maya beta. the only purpose that seems to draw o

[2020-03-16 19:48] santosg87 commented on #285
![nodraw_purpose](https://user-images.githubusercontent.com/3026529/76794535-96750800-679d-11ea-8daa-7d080197a7c3.gif)

[2020-03-16 19:54] pilarmolinalopez commented on #177
Thanks, @seando-adsk !

[2020-03-17 00:10] fdan opened #360 "Any plan to offer compiled plugins?"
Hi, just wondering, is there any plan to provide compiled versions of the plugins?

As we are now looking to increasingly support remote work, it would be really nice if it was comparitively easy for people to install these plugins at home.

Is there a timeline for Maya to ship with these?  And also compiled versions here on gitub?  Cheers.

[2020-03-17 00:13] kxl-adsk commented on #360
Something we are aware of and looking into. Hopefully, very soon you will see an update on this.

[2020-03-17 00:15] fdan commented on #360
Awesome, sounds good!

[2020-03-17 09:57] suesauer commented on #349
yup still seeing it.

[2020-03-17 10:24] agelosc opened #361 "Failed verification: ' shader ' -- Coding Error in GetFallbackShader at line 266"
When I create UsdReferenceAssebly and load an usd file (ie. Hello World from the pixar tutorials ) I get this error in maya:
`Failed verification: ' shader ' -- Coding Error in GetFallbackShader at line 266 of <localpath>\maya-usd\lib\render\vp2RenderDelegate\render_delegate.cpp`

This error is issued in all Scene Assembly modes except Full.

 - Windows 10
 - Maya 2020
 - Built few days ago with t

[2020-03-17 11:27] santosd commented on #285
Thank you @mattyjams and @santosg87 for the help in replicating.

[2020-03-17 20:57] mrharris commented on #360
I just noticed 0.1.0 was released as a binary

I just want to confirm - this includes only the `adsk` plugin? I can only see the ability to

- Create -> USD -> Stage from existing Layer
- File -> Import / Export USD

So things like the AETemplate for mayaUsdProxyShape is empty, and there is no outliner context menu. Is this expected?

Upon loading the plugin, I also hit
[code]

Thanks for the bina

[2020-03-17 21:59] ChokmahBinah opened #363 "mtoh crash when loading"
Hello there,

I posted a message here some times ago, about some crashes during mtoh loading.
After doing some test with pdb patch
I was suggest to ask Pixar USD forum about it, but here is the answer I got :

Thanks @ChokmahBinah -- we don't maintain mtoh here, please file an issue on the Autodesk project page here: https://github.com/Autodesk/maya-usd and hopefully someone there can help you out

[2020-03-17 22:22] kxl-adsk commented on #363
Let’s continue the conversation in the original issue you opened (it has all the details) and close this one. In that issue, please provide the information on how you reported this to Pixar (so I can help add more details to the discussion if necessary).

[2020-03-17 22:31] ChokmahBinah commented on #363
OK I'll do that.

Thank again @kxl-adsk :)

[2020-03-17 23:14] #363 closed

[2020-03-17 23:18] ChokmahBinah commented on #314
Hello again,

Here is the discussion copy on Pixar USD project:

Hello everybody, and thank for all the work done around.
Description of Issue

I builted Pixar USD and Maya USD plugin.
The AL_USDMayaPlugin or mayaUsdPlugin work fine. (As far as I know)
But when loading mtoh.mll Maya often craches.
I ask for some help on the Maya USD mailing list.
After searching for errors with pfb files, and givi

[2020-03-18 15:03] kxl-adsk commented on #314
Added more details to https://github.com/PixarAnimationStudios/USD/issues/1134#issuecomment-600674573

[2020-03-18 19:23] santosd commented on #361
Hello @agelosc, I tried this out in the latest Maya (PR113) and maya-usd I was not able to replicate the issue. I used the Hello World example from Pixar and when I bring that usd file in I don't get any errors. I also tested in Maya 2020 using the latest [builds](https://github.com/Autodesk/maya-usd/releases). Would you be able to give this a try on the latest build and and see if you are still g

[2020-03-18 19:28] ChokmahBinah commented on #314
Thanks you a lot @kxl-adsk
I have read the message on Pixar Discussion Group. More precise indeed ! ^^
I will continue to investigate at my level ;)

[2020-03-18 19:35] santosd commented on #266
This is something that can be seen in the viewport:

1. Bring in a usd file into Maya (Create > USD)
2. Create a polygon primitive.
3. Already there should be a noticeable difference in the shading between the polygon object and the usd proxy.
4. ![image](https://user-images.githubusercontent.com/29235905/76999982-f4d0f080-692d-11ea-999d-16da7851d8a4.png)
5. Turn off color management and things ge

[2020-03-18 22:41] wtelford commented on #360
Hey mrharris,

Thanks for pointing this out. The complete native integration of the Maya USD plugin depends on new API  (collectively know as UFE) built in to Maya. UFE first shipped in 2019 and also with 2020. The shipped versions of this api enables things like outliner and direct manipulation in the viewport.

The AE integration and Outliner context menu work requires additional UFE API's which

[2020-03-18 22:48] elrond79 commented on #116
Well, I just built recently on windows, and didn't see this pop up, so it's either been fixed or can't be reproduced. Closing.

[2020-03-18 22:48] #116 closed

[2020-03-19 02:43] mhamid3d opened #366 "[MAYA-102675] userExportedAttributesUI | cannot import name QStringListModel"
The ```userExportedAttributesUI``` python file is trying to import ```QStringListModel``` from ```PySide2.QtGui```. On PySide2 I found that this class in fact lives in ```QtCore``` instead.

Steps to reproduce the behavior:
1. Open any version of Maya using PySide2, open Script Editor
2. Run the following code in a python tab:
[code]

This code yields the following error:

```# Error: ImportError:

[2020-03-19 04:54] santosg87 commented on #349
thanks for the info. we are still investigating this.

would you be able to give a try with the packaged release and see if the same is happening there for you too?
it can be found here:
https://github.com/Autodesk/maya-usd/releases/tag/v0.1.0

I'm wondering if there are any env vars that could be affecting it on your side.

cheers!

[2020-03-19 06:27] santosg87 commented on #107
Hi @hongloull. I believe this is now fixed on the mayaUsd plugin. would you be able to validate and maybe close this? cheers!

[2020-03-19 07:51] agelosc commented on #361
Thank you for having a look. I compiled and tried the binaries of yesterday's release but the Pixar Maya plugin was not included so I can't check the pxrUsdReferenceAssembly since it belongs to it. I'm still trying to understand which branch and release is best to pull so please let me know if I've missed something.

[2020-03-20 16:56] kxl-adsk commented on #166
Fixed by #354 , @cfmoore007 can we close this issue?

[2020-03-20 17:34] pilarmolinalopez commented on #166
yes, we can. Thanks @kxl-adsk !

[2020-03-20 17:41] agelosc opened #373 "[MAYA-104979] maya's file command for USD Export always writes .usd extension, even if .usda is passed"
The USD Export through maya's file command writes a .usd file even if a .usda filename is passed in maya's file command argument. The resulting file is named as filename.usda.usd.

This is an example command that I've used to export:
`cmds.file("<path>/filename.usda", type="USD Export",options="defaultMeshScheme=catmullClark;mergeTransformAndShape=1;exportVisibility=1;exportColorSets=1;exportUVs=1

[2020-03-20 17:46] #166 closed

[2020-03-20 18:43] mdelasa commented on #267
We logged this internally as MAYA-101339.

[2020-03-20 18:44] mdelasa commented on #268
This has been logged internally as MAYA-104008

[2020-03-20 18:52] mdelasa commented on #74
Logged internally as MAYA-103762

[2020-03-21 04:22] santosg87 commented on #373
thanks for logging this!

I was able to reproduce this on our side as well.
interestingly enough, the cmd is the exact same used when exporting through the UI - that however provides the proper result.

we will investigate this further.
than you!

[2020-03-23 15:58] santosg87 commented on #373
marking it unassigned as we investigate things further :)

[2020-03-23 19:02] HdC-adsk commented on #153
@santosg87 I just tried but failed to reproduce this issue. Can you reproduce it?

[2020-03-23 20:40] fowlertADSK commented on #373
I took a quick look at this is also a problem with the Pixar plugin.  It must be a problem because we have file translators that can handle multiple file extensions where typically you just have one.  E.g. Maya has separate Maya ASCII and Maya Binary translators, which is why .ma and .mb show up as separate choices in the dropdown menu of the file dialog, where we have put .usd/.usda/.usdc/.usdz a

[2020-03-23 20:49] santosg87 commented on #262
Hi @dj-mcg can this one be closed, since the PR was merged on #315

[2020-03-23 20:58] dj-mcg commented on #262
I'm fine with it as long as @mattyjams <https://github.com/mattyjams> approves
- thanks!

On Mon, Mar 23, 2020 at 1:49 PM George Santos <notifications@github.com>
wrote:

[2020-03-23 21:07] mattyjams commented on #262
Yup, we addressed this with the changes in #315. Ok to close, thanks @santosg87!

[2020-03-23 21:32] #262 closed

[2020-03-24 13:22] santosd commented on #348
Hi @suesauer, I wanted to check back to see if you had any success with the rebuild. I also wanted to see if you had any luck with the [binaries](https://github.com/Autodesk/maya-usd/releases) we released for Maya USD.

[2020-03-24 13:33] santosd commented on #314
Hi @kxl-adsk, should this one be closed at this point since Pixar is taking a look on their end? Thank you.

[2020-03-24 15:32] suesauer commented on #348
Yup all good now, loads and doesn't crash. Mind you I still need to add the Arnold delegate back into the mix ,so will see if that was what was causing issues.

[2020-03-24 15:42] #348 closed

[2020-03-24 15:51] suesauer commented on #348
Seems totally fine now even when I add Arnold delegate in Thanks guy's

[2020-03-24 15:54] suesauer commented on #349
I figured this one out. It was fighting with my Houdini env vars for pxr.  Just so you guy's know

[2020-03-24 15:54] #349 closed

[2020-03-24 18:00] kxl-adsk commented on #314
Yes, now is a good time. Thx for catching it @santosd

[2020-03-24 18:00] #314 closed

[2020-03-24 19:56] santosg87 commented on #265
adding the pxr label, as this requires the pxr-USD unit tests

[2020-03-25 14:39] santosd commented on #264
Tested this on my end using the InstancerDrawText.ma file that the script refers to and I noticed that that particle instancing is not currently supported with USD because Maya doesn't understand what the usd node is it will not add it to the instancer and when the top transform node is added, it shows up in the instancer, but it does not draw anything in VP2. This also doesn't draw in Hydra, but

[2020-03-25 16:08] HdC-adsk commented on #264
@santosd Thanks for validation. Based on the above comment, shall we remove the vp2RenderDelegate label because we don't need workflow change?

[2020-03-25 16:55] seando-adsk commented on #258
MAYA-103621 deals with the first error (enum.py). We have logged a separate issue (MAYA-103421) logged for the getUsdAttributeValueAsString error. These are two different problems.

[2020-03-25 18:31] mattyjams commented on #264
Hey @santosd and @HdC-adsk! Sorry, but I'm not quite following the results you're seeing on your end.

If you open the [InstancerDrawTest.ma](https://github.com/Autodesk/maya-usd/blob/dev/plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/InstancerDrawTest/InstancerDrawTest.ma) scene file using the Pixar batch renderer (`VP2_RENDER_DELEGATE_PROXY=0`), you definitely should see something in the viewport with

[2020-03-25 18:52] santosd commented on #263
I was able to repro the issue in my own scene using Maya USD it currently doesn't support making a USD element a live surface so we will need to prioritize this one.

[2020-03-26 04:03] the2h-ljm opened #385 "Windows10 Maya 2018.5 build success but cannot load plugin"
hi, I successed compiling pxrUSD and mayaUSD on VS2015, but cannot import plugin in Maya2018.5

**USD build command:**
python build_scripts\build_usd.py  D:\lib\USD-20.02-boost-vs2015  --build-args boost,"--with-date_time --with-thread --with-system --with-filesystem"

**mayaUSD build command:**
python build.py --maya-location="C:\Program Files\Autodesk\Maya2018" --pxrusd-location="D:\lib\USD-20.0

[2020-03-26 06:25] fdan commented on #360
Nice to see the release!

However, couple of questions.  For a variety of reasons we're stuck on Maya 2018 for now.  I take it the adsk plugin won't work with 2018 due to UFE.

Is there any possibility of getting the Pixar an AL plugins built for download?  We compile these in-house already for linux, but now home users want them on Windows, and we don't have the infrastructure to investigate a ne

[2020-03-26 13:11] seando-adsk commented on #268
This will be fixed in the next Maya beta.

[2020-03-26 14:01] suesauer opened #386 "mtoh plugin wont load"
**Describe the bug**
moth Crashes Maya 2020 when I turn it on

**Steps to reproduce**
Steps to reproduce the behavior:
1. open maya 2020
2. try to load mtoh plugin in the plugin manager

**Expected behavior**
To be able to turn on the mtoh plugin

**Attachments**
`unable to register command AL::maya::utils::CommandGuiListGen: (kFailure): Unexpected Internal Failure
Stack trace:
  /home/suesauer/Do

[2020-03-26 18:52] seando-adsk commented on #385
In your path "D:\lib\mayaUSD-2018-20.02\install\RelWithDebInfo" can you verify the contents of the mayaUsd.mod file. Make sure the paths (especially for USD) were configured and looked correct.

From within maya can you get the path (using getenv). Make sure your USD build is there.

[2020-03-27 01:54] the2h-ljm commented on #385
Thanks for the reply. I was using Multiverse plugin and had a conflict with maya usd.
I will close this issue.

[2020-03-27 01:54] #385 closed

[2020-03-30 18:12] pilarmolinalopez commented on #268
I can confirm this is fixed now. Thanks!

[2020-03-30 18:16] santosg87 commented on #81
Marking this one as closed, for now, as it seems fixed, based on our testing, using the most recent dev-branch plugin.

[2020-03-30 18:16] #81 closed

[2020-03-30 19:59] santosg87 commented on #386
@suesauer thanks for logging this. do you still see this behavior when using the pre-compiled binaries that were posted?

[2020-03-30 20:59] santosg87 commented on #203
closing this one as there have been no response for some time.

@scott-wilson please reach out if this is still a problem.

[2020-03-30 20:59] #203 closed

[2020-03-30 21:40] martin-pw opened #394 "[MAYA-104134] USDZ import not always working with 0.1 precompiled USD plugin"
I am having mixed results with usdz import using the 0.1 precompiled USD plugin.

usdc always works, usdz only sometimes works, depending on the workflow. Details:

**Windows**
 - Loading a usdc file via the File->Import menu works
 - Loading a usdz file via the File->Import menu works
 - Dragging a usdc file into the Maya viewport works
 - Dragging a usdz file into the Maya viewport does not work

[2020-03-30 21:45] martin-pw commented on #394
Sample file attached.

[smarties.zip](https://github.com/Autodesk/maya-usd/files/4405663/smarties.zip)

[2020-03-31 07:27] suesauer commented on #386
Hey there,
It seems this keeps happening because of Houdini envs and Mayas env fighting. I have separated all pathing now. (No USD in main env paths) And that seemed to solve the problems. Its a bit of a shame as usdview cant simply be called in the terminal.

[2020-03-31 07:27] #386 closed

[2020-03-31 12:35] Pirminus opened #397 "missing: USD_LIBRARY_DIR"
Hey there!

I tried to build USD for maya and stumbled across an error I'm not able to fix.

So basicly what my steps were:

x) get latest pixar usd branch 20.2 and build it with

`python build_usd.py --python --usd-imaging --usdview --openimageio --opencolorio --alembic --draco --materialx C:\USD-Master --build-args boost,"--with-date_time --with-thread --with-system --with-filesystem"`

with suc

[2020-03-31 13:19] santosd commented on #361
Hi @agelosc, Initially I thought you were doing this on the Maya USD plugin and not the Pixar one. To clear up some of the confusion: The current plan is to take the Pixar plugin and the Animal Logic plugin and work together to make one plugin (Maya USD). The goal is to eventually cover the Pixar and Animal Logic workflows using the Maya USD plugin. However, if there are issues in the Pixar plugin

[2020-03-31 14:37] HamedSabri-adsk commented on #397
Hi @Pirminus , you don't need to set the env variables for PYTHONPATH  and PATH in order to build mayaUsd.

Both PATH and PYTHONPATH are automatically adjusted inside the project to point to the correct USD location. See cmake/usd.cmake.`

[2020-03-31 14:41] Pirminus commented on #397
hi @HamedSabri-adsk, thanks for the fast reply. I'm forcing a rebuild of the whole Pixar USD Repo which is gonna take a few more minutes then I'll try it without setting the env variables.

[2020-03-31 16:06] Pirminus commented on #397
yeah, so I did not change any env variables and the same error still appears

Could NOT find USD (missing: USD_LIBRARY_DIR) (found version "0.20.2")

[CMakeCache.txt](https://github.com/Autodesk/maya-usd/files/4410219/CMakeCache.txt)

[build_log.txt](https://github.com/Autodesk/maya-usd/files/4410218/build_log.txt)

[2020-03-31 18:19] HamedSabri-adsk commented on #397
There are couple of things that I am trying to understand:

I am not sure if I understand the link to AL's FindUSD.cmake. We use the FindUSD.cmake module under cmake/modules.

On Windows, the shared libraries don't have the "lib" prepended to them.  You should be able to see usd.dll under C:\USD-Master\lib.

When you build USD with --usdview, usdGenSchema  should be automatically generated for you

[2020-04-01 12:24] Pirminus commented on #397
yeah, I was confused by some other repositories I found online from AL's github and yes I see a directory named 'lib' inside USD-Master.

So I did a build the USD just with the args you wrote and it succeeded but the error still shows up as soon as building the autodesk usd plugin.

One thing did change, the usdGenSchema was created, so its only the missing USD_LIBRARY_DIR.

Build Command:
`python

[2020-04-01 13:11] suesauer opened #399 "Error: 'module' object has no attribute 'MayaReference'"
**Describe the bug**
Using
`from Al.usd from schema`
No longer works to create MayaReference

**Steps to reproduce**
Steps to reproduce the behavior:
`
import logging
import os

import AL.usd
help(AL.usd.schemas.maya)

def _AddToVariantAsset(assetName, assetDir, VariantSetNames):
    #Add Variant
    assetFilePath = os.path.join(assetDir, assetName)
    stage = Usd.Stage.Open(assetFilePath) # Asse

[2020-04-01 13:31] kxl-adsk commented on #399
@suesauer MayaReference was moved to mayaUsd and is shared by all plugins. See following regression tests which show you how to include and use it https://github.com/Autodesk/maya-usd/blob/dev/test/lib/usd/schemas/testMayaUsdSchemasMayaReference.py#L21

[2020-04-01 13:40] suesauer commented on #399
Thanks will check it out

[2020-04-01 15:29] HamedSabri-adsk commented on #397
@Pirminus could you post what you have in your ENV path? I wonder if you have another path to USD in your global environment path.

[2020-04-01 16:09] Pirminus commented on #397
yeah sure, echo %PATH% from cmd gives me:

[code]

[2020-04-01 17:53] kxl-adsk commented on #360
@fdan sorry for the delay in response.

We currently have no plans to distribute Pixar and AL plugin binaries. While I understand that this is not ideal in the situation you are describing, we want to encourage the testing of a single plugin and collect feedback about gaps. This will help us prioritize the work.

[2020-04-01 18:14] suesauer commented on #399
Works a treat thanks

[2020-04-01 18:14] #399 closed

[2020-04-01 18:42] santosg87 opened #401 "[MAYA-96058] using mel command to Rotate/Translate/Scale USD data without creating a manipulator will wipe previous values"
we noticed this recently while testing other workflows with the proxyShape.

It seems that when using mel commands to add to a transform operation, the mel command will clear previous value and overwrite it with the absolute value in the command, which is not expected. the proper behavior would be to have the command add the new values to the current existing values.

the workaround is fairly simp

[2020-04-02 13:25] HamedSabri-adsk commented on #397
Hmm, this is pretty strange behaviour...  I guess it is time to print out some stuff to see what is happening.
From your log I can see the `USD_INCLUDE_DIR` is populated correctly but not `USD_LIBRARY_DIR`.
[code]

Can you print out ${USD_LIBRARY},${USD_LIB_PREFIX},${USD_LIB_SUFFIX} right after line 53 in FindUSD.cmake?

[code]

[2020-04-02 13:35] Pirminus commented on #397
yes sure, here it is:

[code]

[build_log.txt](https://github.com/Autodesk/maya-usd/files/4421377/build_log.txt)

[CMakeCache.txt](https://github.com/Autodesk/maya-usd/files/4421376/CMakeCache.txt)

[2020-04-02 13:55] HamedSabri-adsk commented on #397
There is your problem right there.  :)
You are on Windows and yet the variables are populated with Linux values which is strange.
.a is a static library and on Linux all libraries are prefixed with lib
[code]
This is what you should get
[code]
Can you confirm that you are running the build.py script from X64 Visual studio command prompt?

Also, I would get rid of "C:\MinGW\bin;" from the global EN

[2020-04-02 14:47] Pirminus commented on #397
yeah, it did successfully compile MayaUSD! removed the MinGW from the ENV settings & made sure I was running from x64 command prompt

thanks alot for your patience and time @HamedSabri-adsk , really much appreciated!!

just one more thing before this issue can be closed:

What would be the difference in building the maya-usd plugin with the usd-master build without opencolorio,draco, materialx etc

[2020-04-02 15:23] santosg87 commented on #401
this one is logged internally as MAYA-96058.

marking it as unassigned while we decide on the next steps.

[2020-04-02 16:04] santosg87 commented on #394
Hi Martin, thank you for logging this.

I am also able to reproduce this behavior on our side. we will investigate this further.

changing the assignment for now as we decide on the next steps.

[2020-04-02 16:41] fowlertADSK commented on #394
FYI for @santosg87
I already have a fix that is in: https://github.com/Autodesk/maya-usd/pull/396
But I have not tested Martins Maya batch workflow, only the dragging onto Maya problem.

[2020-04-02 16:55] santosg87 commented on #394
that's awesome to hear! I will keep an eye for it when the changes are in :)

[2020-04-02 17:08] HamedSabri-adsk commented on #397
@Pirminus glad it works.

At the moment, you don't need to build USD with opencolorio,draco, materialx APIs. The only requirement are the boost flags which hopefully soon will be gone :)

Please refer to the requirement table in the build doc for the latest instructions.

https://github.com/Autodesk/maya-usd/blob/dev/doc/build.md

[2020-04-02 18:13] #397 closed

[2020-04-03 06:09] fdan opened #403 "PointInstancer issues in maya-usd"
Hi, I've use the precompiled maya-usd plugin on OSX, Maya 2020 to open a usd stage that contains some referenced geo and also a point instancer.  The latter doesn't seem to be supporte?

[2020-04-03 08:48] kxl-adsk commented on #403
@fdan By supported you mean it doesn't render correctly in the viewport or something else?

[2020-04-03 08:55] fdan commented on #403
Yeah, it doesn’t show in the viewport, I just see the prototypes at the origin.

The set I’m using loads correctly in usdview, LOPs, Pxr Usd Maya, Renderman etc.

[2020-04-03 08:56] fdan commented on #403
This is just from referencing the usd - I couldn’t find any documentation on this plugin so maybe I’m using it wrong.

[2020-04-03 09:05] kxl-adsk commented on #403
Can you share with us your test file? I just tried with City set from Pixar (http://graphics.pixar.com/usd/downloads.html) and didn't notice any issue.

[2020-04-03 11:24] Xaia commented on #338
@santosd
Hi there!
I have installed fresh PR114. Same problem. It is not working on both Hydra and VP2.
![sx2DDRSIeD](https://user-images.githubusercontent.com/60515654/78355722-78394580-75ae-11ea-98e6-b5b7bb224e0a.gif)

[2020-04-03 14:37] seando-adsk commented on #258
This has been fixed in Maya and will be available in the next beta.

The problem here is the usd file contains a **BasisCurves** prim type /myFurryThing/curve_0. That prim has an attribute basis with token type with a set of allowed tokens. But this attribute has a value that is **not** in the set of allowed tokens. In this case the value is "" (empty string) so it appears as if the attribute has

[2020-04-03 19:58] juanfernandez commented on #334
Hello, i'm trying to compile MayaUSD plugin in almost 1 week, I've done a fresh start of macOS Catalina 10.15.4 installation with nothing more that Maya 2020, Xcode, Python2.7+ Python-based dependencies, I was follow every step that ZbadhabitZ suggested and only got errors plus errors.

The common error start here:

CMake Warning at lib/CMakeLists.txt:18 (add_library):
  Cannot generate a safe run

[2020-04-03 20:15] fdan commented on #403
I just tried the City set, and I get the same issue.  Here's a screenshot, and the script editor output.  This is Maya2020 on OSX 10.14

[code]

![image](https://user-images.githubusercontent.com/1701261/78401162-d6643800-7643-11ea-9dce-21c648a2525c.png)

[2020-04-03 20:19] fdan commented on #403
Ah, I just realised the correct (?) way to load USD is via Create -> Universal Scene Description (USD) -> Stage from existing layer.

That results in the point instancer being loaded correctly.  I'm not sure if it's supposed to or not, but referencing it via File -> CreateReferene does not.

[2020-04-03 20:25] kxl-adsk commented on #403
`File -> CreateReference` will trigger an import of USD into the Maya data model. So what you have found is a current bug (or more likely limitation) in our USD import.

Viewing USD natively is done via `Create -> Universal Scene Description (USD) -> Stage from existing layer`.

[2020-04-03 20:26] kxl-adsk commented on #403
Please update the description (we ask people to fill the template and provide full steps to reproduce the issue; this way we could reproduce it much easier).

[2020-04-03 20:33] fdan commented on #403
Actually there's still issues.  Even with the Create option, the point instancer prototypes are visible

![image](https://user-images.githubusercontent.com/1701261/78402531-7327d500-7646-11ea-8002-4be421eca1bc.png)

Here's what it looks like in usdview
![image](https://user-images.githubusercontent.com/1701261/78402603-9783b180-7646-11ea-8076-3427d2f47cf0.png)

[2020-04-03 20:37] kxl-adsk commented on #403
Let's log them separately and please provide a test file for us.

[2020-04-03 20:40] fdan commented on #403
Sure, I'll open a new ticket for that.

Couple more questions on this issue though, is there any documentation whatsoever for this plugin?  And the blue outliner icons that show the hierarchy, sometimes they show and sometimes they don't, how do I reveal them?  i.e. now I can't inspect the hierarchy

![image](https://user-images.githubusercontent.com/1701261/78403056-7374a000-7647-11ea-8de5-eac679

[2020-04-03 20:44] kxl-adsk commented on #403
We have an issue in the outliner which was causing this refresh bug. This has been fixed and will be available in the next Maya beta build.

[2020-04-03 20:48] ppt-adsk commented on #403
Until you get the fix, if you collapse then expand, there's a fair chance you'll get the Outliner display hierarchy back.

[2020-04-03 20:48] HamedSabri-adsk commented on #334
Hi @juanfernandez

Please ignore the warnings ( Cannot generate a safe runtime search ) there should not be a problem. I am already aware of them and should have them fixed hopefully soon.

I believe your problem is because you don't have Xcode CommandLineTools installed. :)
Once you install Xcode CommandLineTools , you should see c/c++ compilers working and that should solve your problem.

[code]

[2020-04-03 20:52] fdan opened #404 "[MAYA-105120] PointInstancer prototypes load as visible"
**Describe the bug**
When I load a set with a point instancer, the instances show correctly in the viewport, but the prototypes are also visible.  They should not be.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Download and unzip my attache set
2. Bring into Maya via Create -> Universal Scene Description (USD) -> Stage From Existing Layer and navigate to `assets/set/world/model/mod

[2020-04-03 21:06] fdan commented on #403
Ahah, cheers, yes that collapse/expand trick did bring it back.

[2020-04-03 21:06] #403 closed

[2020-04-04 01:02] juanfernandez commented on #334
Hello Ahmed Sabri-adsk, sorry for the delayed response... I was trying your suggestions and still have errors.

Programs installed:

Command_Line_Tools_for_Xcode_11.4
qt-opensource-mac-x64-5.12.7

Build command:

python build.py --maya-location /Applications/Autodesk/maya2020/ --pxrusd-location $HOME/Projects/Pixar/BUILD/USD/ --devkit-location /opt/local/devkitBase/maya2020 --qt-location /Users/jf

[2020-04-04 01:44] HamedSabri-adsk commented on #334
Hmmm, very strange.  Looking at your previous and recent logs in more details and everything seems normal. I don't see anything wrong with your clang compiler and your build flags/settings looks correct to me.  I will try to have a closer look at your log and see what I find.

[2020-04-04 01:50] juanfernandez commented on #334
Thank you so much!

[2020-04-04 21:29] fdan opened #406 "Boost filesystem not found in Pixar Usd core build"
**Describe the issue**
I have built the Pixar Usd libraries (19.11 release) on Windows10 using their build script, as follows, which completes without issue.

`python build_usd.py --no-imaging --no-alembic --no-draco --no-materialx --no-katana --no-houdini --no-tests "C:\usd\build"`

However when running the build script for the maya-usd repository, it seems to expect boost filesystem in the usd b

[2020-04-05 01:55] fdan commented on #406
After installing boost 1.61 (compiled libraries for windows), and setting $BOOST_ROOT manually, the build worked.

[code]

However I'm running into this problem trying to load the plugin in maya.  As per the docs, I have set MAYA_MODULE_PATH to point to the directory containing mayaUSD.mod.  When I try to load it maya, I get the following error:

[code]

The file `C:/usdmaya-19.11/install/RelWithD

[2020-04-05 02:08] fdan commented on #406
Here's the mod file if it helps.  The directories all seem to contain the right files to me.

I have very little experience debugging c++ builds in visual studio / windows so I'm at a bit of a loss how to investigate.

[code]

[2020-04-05 05:21] fdan commented on #406
It seems my other issue is answered here:

https://github.com/Autodesk/maya-usd/issues/26

If what I read is true, the pixar plugin is not supported for maya 2018?  Weird because we're using it in linux without issue.

[2020-04-05 09:38] kxl-adsk commented on #406
We are not aware of any issue with Pixar plugin and Maya 2018. Even issue you referenced is closed and the user was able to build and run it - https://github.com/Autodesk/maya-usd/issues/26#issuecomment-524368619

We may have to tweak the docs a bit, but these build args are required when building USD:

It will be easiest for us to help if you can rebuild USD with it and then stop modifying $BOOST

[2020-04-05 13:48] fdan commented on #406
Ahah, thank you, that resolved the issue.  I was mistakenly passing on those boost build args to the maya-usd build, not the core usd build.

I can now build and load the Pixar plugin fine in Maya2018, thanks!

[2020-04-05 13:48] #406 closed

[2020-04-06 13:57] santosg87 commented on #342
@Xaia this should be fixed on our most recent beta - would you be able to validate and close it? :)

[2020-04-06 13:57] santosg87 commented on #339
@Xaia this one should be fixed on PR114, would you be able to validate and close it?

[2020-04-06 13:59] Xaia commented on #342
@santosg87 yes! I already checked it. Working like charm!

[2020-04-06 13:59] #342 closed

[2020-04-06 14:00] santosg87 commented on #146
@BigRoy this should be fixed now in PR114, would you be able to validate it?

there is a pre-built version of mayaUsd included in the PR114 just as it was with PR113. :)

[2020-04-06 14:11] santosg87 commented on #342
thank you! :)

[2020-04-07 02:10] santosg87 commented on #107
Marking this one as closed for now based on the above comment and internal testing.  @hongloull please re-open if this is still a problem :)

[2020-04-07 02:10] #107 closed

[2020-04-07 15:04] santosd commented on #366
I was able to reproduce this in PR114 with the Pixar plug. I think this one is definitely specific to the pxr plug-in. Maya USD doesn't contain userExportedAttributesUI from what I can see. Will speak with the team to see what we can do about this issue.

[2020-04-07 15:23] santosd commented on #361
Hi @agelosc , I tested this out on my end using the pixar plugin and Maya PR114 and I am not seeing that error message when I create a reference assembly and then load a prim such as the sphere from the hello world tutorial. All seems to be working well on my end using a recent build. Unfortunately I'm not sure what the issue could be on your end, possibly an issue in the build process?

[2020-04-07 17:29] agelosc commented on #361
My apologies for the confusion. I realise now that I didn't write which reference proxy correctly in my first post.

Since this is not reproducing should I mask this as internal? Either way thank you for having a look at this.

[2020-04-08 14:06] santosd commented on #338
Hi @Xaia,
I tested again and on my end and am not seeing the issue in PR114 at all. I checked our backlog and it seems a similar issue to this was resolved recently.

One thing I would suggest trying incase it is causing any issues is to clear the Maya preferences to see if that helps in anyway. If it still fails, let's see if it is fixed in the next build we release with the fix that was recently

[2020-04-08 14:52] santosd commented on #404
Hello @fdan, thank you for posting this issue here. I took a look at it in PR114 and was able to reproduce the issue in the latest build of the Maya USD. I will set this issue as reproduced and will get one of our devs to take a look at it.

Thank you.

[2020-04-09 12:57] santosd commented on #308
I took another look at this using the AL plugin and was able to reproduce it on that end.

[2020-04-09 13:12] seando-adsk commented on #267
This has been fixed and will be available in the next Maya beta.

[2020-04-09 13:47] santosg87 commented on #338
Hi @Xaia, I am currently investigating this - we saw the same error you mentioned on a different scene recently, we are investigating a bit deeper to try and narrow down the issue here.

Cheers!

[2020-04-09 20:27] AirWreckaStuff opened #416 "Help with "WindowsError: [Error 2] The system cannot find the file specified""
**Describe the issue**
I'm stuck trying to figure out what the missing file is.  I have already built and successfully ran the usdview sphere.usda, so was working on bringing this into Maya 2019.

I have been combing through the call list to figure out what file is being called, but I can't figure it out for the life of me.  Am I missing environmental variables, or missing a pre-requisite?

Here i

[2020-04-10 10:11] Thaelab opened #418 "Cannot see prim attributes with mayaUsd plugin, missing nodes"
Hello,
I want to test the new maya-usd release (0.1.0) with usd-20.02 on linux, but I got some problems.

**Describe the bug**
After loading the mayaUsd plugin and creating a stage from an existing layer, it seems that some nodes (USDXform) are not really created in the scene. When I select an object in a scene, even though I see the shape in the outliner, I can’t access to its attributes in the a

[2020-04-10 14:51] HamedSabri-adsk commented on #416
Hi @AirWreckaStuff , can you upload the build_log.txt? Without the looking at the full log, it is hard to say what the problem is here.

Also, do you see the same issue with VS 2017?

[2020-04-10 15:03] AirWreckaStuff commented on #416
That was the entire log, what I copied and pasted, that's why I didn't attach the log.  Ironically, today I'm getting a little further.  I will loop back with my progress.  I did a couple windows updates last night.

[2020-04-13 14:50] #416 closed

[2020-04-14 10:08] #146 closed

[2020-04-14 15:13] Xaia opened #430 "[MAYA-102232] HumanFemale.walk.usd crashes Maya on creating the stage"
**Describe the bug**
Creating the stage with HumanFemale.walk.usd kills Maya instantly.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create stage with HumanFemale.walk.usd - provided by Pixar
2. Observe

**Attachments**
![kf8YtxD7rf](https://user-images.githubusercontent.com/60515654/79241707-b3235f00-7e73-11ea-949c-d6acd038a52e.gif)

**Specs (if applicable):**
 - Windows 10
 -  May

[2020-04-14 18:32] santosg87 commented on #430
thanks for logging this @Xaia !

we are currently investigating this behavior. we have it logged internally as MAYA-102232.

[2020-04-14 18:35] santosg87 commented on #160
@radon199 Maya 2019.3 is now available. would you be able to validate and close this? :)

[2020-04-14 18:42] santosd commented on #418
Hello @Thaelab, thank you for reaching out. Unfortunately, Maya 2019.2 doesn't have the required UFE version to support that functionality. V2 of UFE is required and that has only been implemented into the lastest version of Maya. If you would like, you can try out PR114 and it should be working there.

[2020-04-14 18:48] #418 closed

[2020-04-14 22:53] HdC-adsk commented on #361
@agelosc What do you mean by "internal" in this case? Internal to whom?

The error in your first post comes from VP2RenderDelegate instead of Pixar USD. If you cannot reproduce it, I would suggest to close the issue.

@santosd , I also have a PR #431 which fixes a similar issue (shader error when running command-line render). Could you retest this case reported by @agelosc ? Thanks.

[2020-04-15 06:21] agelosc commented on #361
I was under the impression internal meant that the issue was due to local configuration and not a bug. I can reproduce the error but the comments above point to that direction. Sorry for the misunderstanding. Please go ahead and close this issue if that's the case.

[2020-04-15 11:24] HdC-adsk commented on #361
NP.  You can still reproduce the issue, so I think it is probably better to keep this bug open and I will ask you to retest once #431 is merged (not sure that PR helps in this case but it fixes a similar issue for command-line render). Thanks.

[2020-04-15 16:31] liorbenhorin opened #433 "Maya fatal error upon import of any usd file"
Hello!,
After successful load of the mayaUsdPlugin and pxrUsd ,any attempt to import a usd file is followed by Maya fatal crash.

Using the import methods from both mayaUsdPlugin and pxrUsd yields the same crash.
Building with 2019 devkit and 2019 update 2 devkit yields the same crash.

![image](https://user-images.githubusercontent.com/18227469/79362699-94929600-7f4f-11ea-87e1-c92a0e4a9f08.png)

[2020-04-15 18:15] Sushant304 opened #435 "boost filesystem"
- ========== ...  GoogleTest installed. ==========
-- Found Boost 1.70.0 at C:/USD/lib/cmake/Boost-1.70.0
--   Requested configuration: QUIET REQUIRED COMPONENTS filesystem
-- Found boost_headers 1.70.0 at C:/USD/lib/cmake/boost_headers-1.70.0
CMake Error at C:/USD/lib/cmake/Boost-1.70.0/BoostConfig.cmake:95 (find_package):
  Could not find a package configuration file provided by "boost_filesyste

[2020-04-16 09:46] kxl-adsk commented on #360
@fdan Can we close this issue?

[2020-04-16 16:41] santosg87 commented on #77
@BigRoy 2019.3 is now available, would you be able to validate and close this? :)

[2020-04-16 23:23] BigRoy commented on #77
@santosg87 unfortunately I don't think I'll have the time to do this anytime soon. Maybe next week at the earliest. Thanks for pinging me (again) though! :) Will keep it in mind when I find myself with some time on my hands.

[2020-04-17 04:58] fdan commented on #360
Hi, yes, sorry fine to close, cheers

On Thu, 16 Apr 2020 at 7:47 pm, Krystian Ligenza <notifications@github.com>
wrote:

[2020-04-17 09:44] #360 closed

[2020-04-17 15:20] santosd commented on #433
Hi @liorbenhorin, Thank you for reporting this issue. One of our developers tried this out in a similar environment (builds and OS) and they were not hitting the fatal error you are seeing. Did you by chance submit the CER (Crash Error Report)? If so please provide me the number or the email you used to submit it and I can take a look to see if it helps us determine what the cause might be.

[2020-04-17 19:12] Sushant304 commented on #433
Hi there
I am also trying to build but i got this error
 C:/boost/lib/cmake/boost_filesystem-1.70.0/boost_filesystem-config.cmake

  but it set boost_filesystem_FOUND to FALSE so package "boost_filesystem" is
  considered to be NOT FOUND.  Reason given by package:

  No suitable build variant has been found.
So could me help me with that

[2020-04-18 13:31] liorbenhorin commented on #433
Hey @santosd  - Unfortunate im still getting the crash after several more attempts to build.
Here is a CER that i submitted just now **217889116**.

Includeing bothe build logs for pixar usd and for maya-usd
[maya-usd build_log.txt](https://github.com/Autodesk/maya-usd/files/4496691/build_log.txt)
[pixar USD log.txt](https://github.com/Autodesk/maya-usd/files/4496692/log.txt)

Thanks for any help

[2020-04-18 13:41] Sushant304 commented on #433
May i ask you a favor. Could you please share me how you build the core USD
and the Maya -USD

On Sat, Apr 18, 2020 at 7:17 PM Lior Ben Horin <notifications@github.com>
wrote:

[2020-04-18 13:58] liorbenhorin commented on #433
@Sushant304  sure:

for core USD:

from x64 Native tools command prompt for VS 2017
with Python 2.7.12 in the PATH, with PySide PyOpenGL PyOpenGL_accelerate Jinja2 installed

``python build_scripts\build_usd.py "D:\development\USD_DEV\pixar\build\USD" --build-args boost,"--with-date_time --with-thread --with-system --with-filesystem" USD,"-DPXR_BUILD_TESTS=ON"``

for maya-usd

from x64 Native tool

[2020-04-18 14:21] Sushant304 commented on #433
Boost version and CMake version.

On Sat, Apr 18, 2020 at 7:43 PM Lior Ben Horin <notifications@github.com>
wrote:

[2020-04-18 16:07] liorbenhorin commented on #433
@Sushant304
Cmake 3.16.5
boost is being downloaded and built automatically by core usd, and is set to 1.65.1 (I know, that maya-usd requirements ask for 1.70.0, but i could not get the core usd to build with it...)

[2020-04-19 15:42] #435 closed

[2020-04-20 14:04] santosg87 opened #446 "modifying a usd object then adding a new selection will snap the new values to the most recent selection on new modifications"
**Describe the bug**
it seem that if a user has an active selection and modifies that (i.e scale or rotate), then adds a new object to the selection and tries to then modify the current selection, one of the objects will always snap to the original values of one of them before completing the operation. this causes both items to be locked together in the same orientation/scale.

**Steps to reproduc

[2020-04-20 15:13] Sushant304 opened #447 "Test failure on windows - AL_MayaUtilsTests"
Test project C:/workspace/build/RelWithDebInfo/plugin/al
      Start  1: AL_MayaUtilsTests
Test not available without configuration.  (Missing "-C <config>"?)
 1/11 Test  #1: AL_MayaUtilsTests ..................***Not Run   0.00 sec
      Start  2: GTest:AL_USDTransactionTests
Test not available without configuration.  (Missing "-C <config>"?)
 2/11 Test  #2: GTest:AL_USDTransactionTests .......**

[2020-04-20 15:19] HamedSabri-adsk commented on #447
@Sushant304
What version of cmake are you using? On Windows you need to pass the configuration flag ( as the error suggest ).

`ctest -C <variant>`

for example, if you are building in `RelWithDebInfo`, your ctest argument would be like this:

`ctest -C RelWithDebInfo`

[2020-04-20 15:30] Sushant304 commented on #447
I am useing 3.17.1 version of cmake

[2020-04-20 15:48] Sushant304 commented on #447
@HamedSabri-adsk
I ran the ctest agai like you said but it failed

[2020-04-20 16:13] santosg87 commented on #160
marking this one as closed based on our internal testing. @radon199 if this is still a problem, feel free to re-open :)

[2020-04-20 16:13] #160 closed

[2020-04-20 16:15] HamedSabri-adsk commented on #447
@Sushant304  can you post the full log about test failures as well as some information on maya version, branch information, etc?

[2020-04-20 16:21] Sushant304 commented on #447
@HamedSabri-adsk
I am useing Maya 2020
Here is my build log and test fail log

cmake -DCMAKE_INSTALL_PREFIX="C:\workspace\install\RelWithDebInfo" -DCMAKE_BUILD_TYPE=RelWithDebInfo -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -G "Visual Studio 15 2017 Win64" -DMAYA_LOCATION="C:\Program Files\Autodesk\Maya2020" -DPXR_USD_LOCATION="C:\USD-Master:v20.05" -DMAYA_DEVKIT_LOCATION="E:\USD\sourcecode\devkitBase" -DM

[2020-04-20 17:24] HamedSabri-adsk commented on #447
@Sushant304  Strange. How are you running these tests?

Are you using build.py script by passing the `test` to `--stages`?

e.g
`python build.py ........ --stages=test ......`

If you are running the test via build.py, -C <variant> is already setup for you:

https://github.com/Autodesk/maya-usd/blob/ec3853c600f708d011e1fca6d6b58966b2c5d2e3/build.py#L292

Can you run the test manually without the u

[2020-04-20 17:58] #268 closed

[2020-04-20 18:29] Allottho opened #448 "Can't load published plugin (release 0.1.0)"
Hi! I'm having trouble with loading plugin from the published release build: https://github.com/Autodesk/maya-usd/releases/tag/v0.1.0
After following the instructions provided in the txt file, I see this list of available plugins:
![PluginList](https://user-images.githubusercontent.com/28146743/79783958-2fbdae00-834a-11ea-8814-f1f3499265ff.PNG)
First, am I correct, that there should be more on thi

[2020-04-20 18:49] santosg87 commented on #448
Hi ther @Allottho thanks for logging this.

Regarding the first issue, that is expected. we have compiled mayaUsd which is the main plugin we are working on a daily basis and developing currently. The other plugins would need to be compiled locally. :)

Regarding the second issue you are running into - based on the image and the error you are seeing, there are two possibilities:
1. there could be

[2020-04-20 19:00] Allottho commented on #448
Thank you!
Okay, I see. As I'm not a developer, I'll ask a colleague to help me out with the build.
This path to the USD folder, it's not user-set, right?
About the language - it is possible, that cyrillic is affecting it, but the other PC I've tried this on didn't have any unusual symbols in the paths, and OS language is english, yet behavior was the same.

[2020-04-20 19:39] santosg87 commented on #448
the USD path would be set by the user - as those folders aren't there by default.
you should have something like this in the end:
USD path:
 C:/Users/MyName/Documents/maya/2020/bin/USD (here you should see "bin", "lib" and "plugin")
mayaUSD path:
C:/Users/MyName/Documents/maya/2020/plug-ins/MayaUSD (here you shoudl have "include" "lib" "plugin" and a file called "Build_info.txt" )
module:
to dynam

[2020-04-20 20:21] Allottho commented on #448
Thank you! Ah, yes, so those are the paths from the txt file, got it.
Looks like paths are correct so far.
Yes, one of the PCs (one with cyrillics) does have the onedrive active, so that could add problems as well.

[2020-04-21 14:09] santosd commented on #433
Hello @liorbenhorin,

Thank you for providing me the CER, unfortunately it didn't provide many clues as to where the issue is. I am thinking it is possible that there is an issue with the build itself. Could you try using the build from our [releases](https://github.com/Autodesk/maya-usd/releases) page. The 0.1.0 version should be the one that would work on your end. Let me know if that works for

[2020-04-21 18:31] Allottho commented on #448
Okay, this is interesting. So, looks like you actually have to set lib and bin paths into the path variable.
Not sure why it didn't work first time, probably something was wrong.
Anyway, I think this should be added to the installation instruction, maybe? Or eventually this will be handled automatically?

[2020-04-22 15:48] YKdvd opened #454 "Build with Visual Studio 2019?"
**Describe the issue**
Support for building with Visual Studio 2019.

Recent Pixar USD releases seem to support building with Visual Studio 2019, but maya-usd still seems to require VS2017 (for Maya 2020).  Is there any support for VS 2019 compiling (with the v141/2017 toolchain) in the works?

[2020-04-22 18:29] #447 closed

[2020-04-23 09:48] Allottho opened #456 "Request for documentation: scene setup for export"
As an artist, who needs to use USD by necessity and asap, I'm having trouble understanding how I can actually use the materials in the scene for export in any meaningful way. So far I managed to export some of the lambert, blinn and phong materials, but results are pretty uninspiring, as is probably expected. Also discovered, that tga and dds file formats are not supported, and only textures I was

[2020-04-23 13:06] seando-adsk commented on #454
MayaUsd is a plugin for Maya, therefore it needs to build with the Maya devkit. That means ideally when compiling you should use the same compiler version as the Maya version you are targeting. For Maya 2020 that was Visual Studio 2017. See here for more info: http://help.autodesk.com/view/MAYAUL/2020/ENU/?guid=Maya_SDK_MERGED_Setting_up_your_build_Windows_environment_64_bit_html

However I think

[2020-04-23 14:06] santosg87 commented on #448
interesting. does the mod file not include those paths for you? generally, the mod file in the documents folder should handle everything. would you be able to share the mayaUSD.mod?

thanks for logging this!

[2020-04-23 14:15] Allottho commented on #448
Here it is:

+ USD 0.20.2 ../bin/USD
PYTHONPATH+:=lib/python
PATH+:=bin
PATH+:=lib

+ MayaUSD_LIB 0.1.0 ../plug-ins/MayaUSD
PATH+:=lib
PYTHONPATH+:=lib/python
PXR_PLUGINPATH_NAME+:=lib/usd
VP2_RENDER_DELEGATE_PROXY=1

+ MayaUSD 0.1.0 ../plug-ins/MayaUSD/plugin/adsk
MAYA_PLUG_IN_PATH+:=plugin

+ MTOH 0.1.0 ../plug-ins/MayaUSD/lib
MAYA_PLUG_IN_PATH+:=maya

[2020-04-23 19:10] YKdvd commented on #454
While VS 2019 comes with the current compiler toolchain (v142), it is also possible to install the v141 (VS 2017) and v140 (VS 2015) toolchains for situations like this, so that you don't need multiple versions of the full VS IDE application.

I don't have the output or logs any more, but I believe trying to build with VS2019 was giving a "Generator / Visual Studio 15 2017 Win64 / could not find a

[2020-04-23 20:56] AirWreckaStuff opened #458 "Fatal Error when loading"
**Describe the issue**
After successful completion of USD and Maya USD builds, I'm not able to actually load the plugins.  The AL_USDMayaPlugin.mll, AL_USDMayaTestPlugin.mll and the pxrUsd.mll individually cause a fatal error when loading, shutting down Maya entirely.  The others are no issue.  This is occurring on multiple workstations, so I know there is some error with the build, but I'm not ab

[2020-04-24 09:04] Xaia opened #459 "USD stage/import not loading Nvidia Attic correctly"
**Describe the bug**
Imported or created stage is empty, although the structure is visible.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Download nvidia attic from https://developer.nvidia.com/usd
2. Load as a stage or import

**Attachments**
![EqCqSPuYSw](https://user-images.githubusercontent.com/60515654/80194909-667e1780-861b-11ea-8928-f17e87226acc.gif)

**Specs (if applicable):*

[2020-04-24 09:20] Xaia commented on #459
My bad, it works. The references are absolute and pointing to  ../../atticwork/attic_v5/
once you set up the structure, everything loads fine.

[2020-04-24 09:20] #459 closed

[2020-04-24 10:37] Xaia opened #460 "[MAYA-105968] Nvidia attic stage - super slow to load"
**Describe the bug**
I takes over 30 seconds to load simple nvidia attic usd stage.

**Expected behavior**
Quick load

**Attachments**
![GEknl2Hqh3](https://user-images.githubusercontent.com/60515654/80203922-3db04f00-8628-11ea-8217-1f5e86a5eb8b.gif)

**Specs (if applicable):**
 - Windows 10
- Maya PR114

[2020-04-24 10:42] Xaia opened #461 "Turning on and duplicating lights low performance"
**Describe the bug**
It takes forver to turn on and duplicate lights, feels like viewport is having hard time figuring it out.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Download nvidia attic scene
2. turn on lighting
3. create and duplicate some area lights

**Attachments**
![nTk5GKBjGT](https://user-images.githubusercontent.com/60515654/80204292-e199fa80-8628-11ea-98c1-620ab8702

[2020-04-24 11:53] kxl-adsk commented on #460
@Xaia Can you measure in USD view and compare? The pure load of USD assets depends on USD library. When reporting performance issues like this one, please compare first.

[2020-04-24 12:42] Xaia commented on #460
@kxl-adsk Well, it is embarrassing but I have not clue how to run usdview from MayaPR114 build.
I now that clarisse and houdini opens the file in 1 second but does not load any textures. Pretty sure this is what makes the scene load so long in Maya.

[2020-04-24 17:14] DanEnglesson opened #463 "🐛 Making sure usdExport works with scalePivot and rotatePivot"
**Describe the bug**
rotatePivot and scalePivot did not properly get applied during export. In this case it just wrote out the rotatePivot and gave an xformOp with (0,3,1) (incorrectly too) which made it not be in the place it should be.

![image](https://user-images.githubusercontent.com/454591/80237627-57b85480-865d-11ea-85cc-83214250c71c.png)

With this fix it does check the XformType, name and

[2020-04-24 18:02] kxl-adsk commented on #463
@DanEnglesson Thank you for reporting and proposing a change to fix it. I will let QA reproduce the issue. Once done, feel free to open a PR and we will discuss it.

[2020-04-26 22:24] theGlaive commented on #459
Could you please explain in more details what did you do to make it work?

[2020-04-26 22:26] Xaia commented on #459
create folder structure  ../../atticwork/attic_v5/ that's it

[2020-04-26 22:33] theGlaive commented on #459
Thanks. It works.
But how did you figure out that structure?

[2020-04-27 12:22] fowlertADSK commented on #459
You'll see some errors in the Output Window when opening the file that mention that specific relative path.  I think NVidia was going to update the file, but what I did to fix it locally was just convert the top level .usd file to be ascii and then replaced "../../atticwork/attic_v5" with "."

[2020-04-27 15:18] Xaia opened #466 "Nvidia Attic Standin rendering different than Stage"
**Describe the bug**
There are small differences between standin and stage rendering. Not sure if I should post it here but there you go.
Check the shadows, and some shading issues in the gif. Stage rendering correctly, Standin is missing shadows and shading.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Load Standin,  (turn off the stage lights), render
2. Delete standin
3. Load sta

[2020-04-27 15:27] Xaia opened #467 "Standin is affecting the Stage rendering"
**Describe the bug**
Turns out that if you have Standin hidden (and disabled lights operator) those Standin lights are affecting Stage.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Load Nvidia Attic standin, turn off lights with operator, hide the standin
2. bring nvidia Attic Stage, kill all the lights inside the Stage and render

**Expected behavior**
Hidden standin should not aff

[2020-04-27 19:44] santosd commented on #461
Hello @Xaia , thank you for reporting this, I have taken a look and was able to reproduce the issue. It also seems that the deletion of the lights seems to take quite sometime. However, I don't think this is so much related to USD as it is related to the textures in the scene. I noticed if I turn off the textures then things perform a lot better. I have similar results in a scene that doesn't cont

[2020-04-27 19:47] Xaia commented on #461
Oh I see, so it is just Maya being Maya then :) The scene is so simple and "editing" performance is so poor. I guess I never notice that problem since in production we never have textures in the viewport.

[2020-04-27 20:23] santosg87 commented on #366
it's worth giving a try on this with an older build that hasn't updated Qt to confirm.

[2020-04-28 12:12] kxl-adsk commented on #461
I'm not sold on `Maya being Maya then` - we will understand the source of this slowdown. Thx for reporting @Xaia!

[2020-04-28 12:31] Xaia commented on #461
No worries @kxl-adsk We all have the same goal here, make maya better.
I think there are hundreds of instances where VP2 is slowing down entire Maya so I am not surprised that something like this is happening here. I wish we had some performance improvements on that front since it can slow down even with simple things.

[2020-04-28 12:38] kxl-adsk commented on #461
We are actively working on instancing and consolidation performance improvements with Subscene override which should land in the next beta build. This will result in big performance improvements for VP2RenderDelegate...but unfortunately, this light creation delay didn't change.

[2020-04-28 13:11] santosd commented on #461
I have reported the issue to the team working on the Maya Viewport. They will be taking a look. Thanks @Xaia. Let us know if you run into any other issues we can help out with. Like you said we all have the same goal of making Maya better :)

[2020-04-28 13:29] seando-adsk commented on #454
What version of cmake are you using? I believe cmake < 3.14 does not support VS 2019.

Another thing to be aware of when using VS2019. You'll need to build USD using it as well. As part of the USD build it downloads and builds boost. The boost libraries have the toolchain (vc141/vc142/etc) as part of the output file names.

[2020-04-28 17:49] HdC-adsk commented on #153
@santosg87 @santosd Guys, have you been able to reproduce the issue?

[2020-04-28 18:08] Pirminus opened #473 "Missing Attribute Editor Features"
Hi Dev-Team,

whenever I select an USD object in the outline I'm missing all the USD-specific attributes in the Attribute Editor.

I have seen that there should be at last some transformation information about the selected prims like in this gif

https://user-images.githubusercontent.com/3026529/78174149-cae7f580-7426-11ea-9da3-99546559e4c1.gif

Selecting the top-most object in the Kitchen-Set-hie

[2020-04-28 19:27] seando-adsk commented on #473
@Pirminus thank you for reaching out. Unfortunately, Maya 2020 doesn't have the required UFE version to support that functionality. V2 of UFE is required and that has only been implemented into the beta version of Maya. Maya 2018, 2019, and 2020 do not support that. If you would like, you can try out PR114 and it should be working there.

[2020-04-29 11:25] DanEnglesson commented on #463
Great, thanks.

[2020-04-29 17:20] santosg87 commented on #339
marking this one as closed based on my last comment - @Xaia if this is still a problem, feel free to re-open. :)

[2020-04-29 17:21] #339 closed

[2020-04-29 19:20] santosd commented on #153
@radon199 I tried to replicate this on my end but wasn't able to on my end. It's possible I am not creating the file correctly. Would you mind attaching a file that I can test this with please. Thank you!

[2020-04-30 16:35] Xaia commented on #338
Once I run

`from maya import cmds
cmds.ufeCmd`

I can change variants and make stuff invisible.

[2020-04-30 17:22] ppt-adsk commented on #338
Can you check whether the ufeSupport plugin is loaded in Maya?

[2020-04-30 17:32] Xaia commented on #338
yes, right now is loaded. I am guessing the plugin is not loading after fresh Maya installation, although my colleague has similar issue and this command does not help.

[2020-05-04 14:12] olliRJL commented on #473
@seando-adsk what is the plan regarding the roll out of UFE v2 - can we expect that in some later Maya2020 update or Maya2021 earliest?

[2020-05-04 18:08] atkpln commented on #435
I am getting the same error,  how'd you fix this?

[2020-05-04 18:26] HamedSabri-adsk commented on #435
@Sushant304
Did you build USD with additional boost flags?
https://github.com/Autodesk/maya-usd/blob/dev/doc/build.md#boost

[2020-05-04 19:20] atkpln commented on #435
That worked,  thanks!

[2020-05-05 14:10] williamkrick commented on #157
I can reproduce something similar in MayaUSD when I use the translate manip and attempt to translate an instanced prim:

[code]

[2020-05-05 17:39] wtelford commented on #473
Hey Olli,
UFEv2 is currently only available in the Maya Beta PR's. A feature-complete Maya USD premiere experience will require a current Maya USD plugin and a new release of Maya to support it. With that in place we will evaluate what workflows and functionality can reasonably be supported in current release versions of Maya and potential future updates.

[2020-05-06 18:41] cfmoore007 commented on #157
@robthebloke / @wtelford - are there any updates on this ?  This is a major blocker for us to adopt UFE.
Thanks.

[2020-05-06 22:46] wtelford commented on #157
There aren't any updates on this other than it is a hot topic for discussion. I really want to gather requirements and expectations around this concern.

[2020-05-07 14:23] santosg87 commented on #473
based on the above comment, I will go ahead and mark this one as closed - and if we change the plans or have anyhting in mind we can re-open this. :)

[2020-05-07 14:23] #473 closed

[2020-05-07 14:27] santosg87 commented on #74
this one is fixed internally now and should be available on the next PR. :)

[2020-05-07 14:34] santosg87 commented on #77
Marking this one as closed based on our testing. @BigRoy, feel free to re-open it if it is still a problem for you. :)

[2020-05-07 14:34] #77 closed

[2020-05-07 14:35] santosg87 commented on #78
marking this one as closed based on our internal testing. if this is still a problem, feel free to re-open it. :)

[2020-05-07 14:35] #78 closed

[2020-05-07 15:25] cfmoore007 commented on #74
Excellent.  Thanks!  We'll try it out once the new beta is released.

[2020-05-07 18:55] cfmoore007 opened #487 "[MAYA-121344] VP2 Delegate : Points Schema Support"
**Is your feature request related to a problem? Please describe.**
We are trying to import usd files from the FX department, and noticed there is no Points Schema support.

Here is a simple example :
[pointCloud.tar.gz](https://github.com/Autodesk/maya-usd/files/4595124/pointCloud.tar.gz)

Right now, when we try to do this, we are presented with the following error :

Warning: in _AdapterLookup at

[2020-05-08 20:34] santosd commented on #153
Hi @radon199 I created a file on my end which I have attached and I was not able to reproduce the warning you are getting on my end and am able to select the one instance. Let me know if the file I attached works for you or not. Tested in both 2020 and PR115. If you have a file to reproduce this with, please let me know.
[tvs_oneInstance.zip](https://github.com/Autodesk/maya-usd/files/4601316/tvs_

[2020-05-14 13:23] santosg87 commented on #446
this is now fixed internally and should be available on the next PR :)

[2020-05-14 13:24] santosg87 commented on #155
this is now fixed internally and should be available on the next PR :)

[2020-05-14 13:39] santosg87 commented on #76
this is now fixed internally and should be available on the next PR :)

[2020-05-14 15:43] robthebloke opened #497 "Separate mayaUsd/ufe into its own library"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
At this point in time our internal UFE integration has deviated significantly from the ADSK implementation, and maintaining this disparity between the two is becoming an unmanageable support burden.

We need to remove mayaUsd/ufe dir from m

[2020-05-15 18:45] alelordelo opened #498 "Maya -> USDC - support for morph targets?"
Does Maya -> USDC has support for exporting morph targets controllers (not baked)?

[2020-05-18 22:27] gagnovski opened #500 "Unable to compile ADSK plugin on Windows 10 (Missing Boost::system link)"
**Describe the issue**
I'm currently trying to compile the plugin using all the recommended instructions, but can't seem to get passed an issue when it reaches to configure the Autodesk plugin. It mentions the mayaUsd target links to target "Boost::system" but the target is not found

I've attempted building USD on 20.05 and 19.11.

I've also tried building maya-usd with and without Ninja, and mad

[2020-05-18 23:47] HamedSabri-adsk commented on #500
Hi @gagnovski , this issue is already fixed in `dev` branch. Our master branch is currently way behind latest dev.

For now, please pass `system` to the list of Boost components:

https://github.com/Autodesk/maya-usd/blob/64782de5f2a3b30b69af510611528150e5879f10/lib/mayaUsd/CMakeLists.txt#L29

Hope this helps.

[2020-05-19 01:27] gagnovski commented on #500
Thanks @HamedSabri-adsk,

I tried this by changing the file below and tried to compile, however, it comes up with quite a few errors when I try to build.

I should note, I'm using a compiled version of USD 20.05 with VS 2015 at the moment. Figured 2015 was the safer bet based on the recommendations.

[build_log.txt](https://github.com/Autodesk/maya-usd/files/4647670/build_log.txt)

https://github.

[2020-05-19 13:22] HamedSabri-adsk commented on #500
@gagnovski I had a closer state of master branch as well as the logs you posted and basically there are two separate issues here:

1- current master branch currently doesn't have some important changes from dev branch as it should have. looking at your master build log, there is an error around _snprintf

`D:\tools\USD20_05\include\boost-1_70\boost/system/detail/system_category_win32.hpp(52): erro

[2020-05-19 14:13] gagnovski commented on #500
Hi @HamedSabri-adsk,

I did manage to get it compiled without errors using VS 2017, and using the dev branch.

[build_log.txt](https://github.com/Autodesk/maya-usd/files/4650907/build_log.txt)

However, I do get errors in Maya when I try to use the plugins, minus the AL one. The AL plugins appear to work just fine.

This is the error I get when I try to load the Pxr plugin (pxrUsd.mll):

Error: fi

[2020-05-19 18:17] devGitHub48 opened #504 "[MAYA-104978] Right click on a USD shape leads to an error when working with variants"
**Describe the bug**
After Creating a Stage from an existing layer, Try to change variants by right clicking on assets having variants.
An error just appears

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to 'Create'> USD > Stage From Existing Layer...
2. Import a Stage with assets with variants
3. Right Click on the asset with Variants
4. Go the Variants
5. See the error in the sc

[2020-05-19 18:26] santosd commented on #467
Hi @Xaia I am trying this out on our latest build and for me when I initially open the scene, without making any changes everything is washed out on render. If I delete the USD lights and camera it is all still the same washed out look. If I add my own lights it doesn't change. Wondering if there are any extra steps you are taking to get the proper render?

[2020-05-19 18:46] Xaia commented on #467
I do not believe I did. For sure I had both Stage and Standin with disabled lights in the scene.
I had it render "correctly" here. Try to disable the lights before you delete them.
https://github.com/Autodesk/maya-usd/issues/466

[2020-05-19 22:36] HamedSabri-adsk commented on #500
@gagnovski
maya 2018 has very limited features for USD. Without UFE ( Universal Front End ), you won't be getting much from mayaUsdPlugin.

If possible, I would recommend switching to Maya 2019 or above and build maya-usd project with UFE and QT for getting the full features.

We also have this message for developers in the log:
[code]
Hope this helps.
Cheers

[2020-05-19 23:40] stevkalinowski opened #505 "Skeleton Not Saved in Exported USD file"
**Describe the bug**
Exporting USD file does not appear to save skeleton's joints.  Or possible that the importer does not read them back in?

**Steps to reproduce**
Steps to reproduce the behavior:
* Open a file that contains a skeleton
* File > Export All
* Choose "USD Export" from file type
* Export
* File > New Scene
* File > Import
* Choose the exported file

**Expected behavior**
I would exp

[2020-05-19 23:49] stevkalinowski opened #506 "Material names on exported mesh based on shader group instead of material"
**Describe the bug**
When I export a mesh to .usd and then import the file back in to Maya, the material names are incorrect.  The shader group names have been used instead and on top of that there is a suffix _lambert one added to the end.

**Steps to reproduce**
Steps to reproduce the behavior:
* create a mesh sphere
* assign a new blinn material, name it "test_material"
* File > Export All
* Fi

[2020-05-21 11:13] HdC-adsk commented on #430
The fix for the crash is now being review. The general support for USDSkel will be implemented at some other time.

[2020-05-21 14:08] santosg87 commented on #505
Hi @stevkalinowski thank you for logging this. we are currently working on the export commands. our export put out the default options from export, which don't usually include skel, if i am not mistaken.

one workaround here would be to run the file mel cmd and add the arguments through there.
the flags are:
exportSkels=[auto, explicit]
exportSkins=[auto, explicit]

where "auto" will try to automa

[2020-05-21 18:16] santosg87 commented on #506
Thank you for logging this @stevkalinowski

I can reproduce this on our side as well.

[2020-05-21 23:18] #497 closed

[2020-05-22 13:32] JGamache-autodesk commented on #506
Not only that, but the material is now a Lambert instead of a Blinn, and all values and connections are lost.

I am looking into improving that, and insights about how much information you expect to transfer losslessly would help. I want, at minimum, to get back a Blinn and having file connections restored.

[2020-05-22 13:34] bentoogood opened #520 "primvars:displayColor always included in export regardless of shadingMode"
**Describe the bug**
My understanding from https://github.com/Autodesk/maya-usd/blob/dev/plugin/pxr/doc/README.md is that specifying shadingMode=none for USD export should skip any shading and displayColor export.
From my testing it appears that primvars:displayColor is always exported, deriving values from assigned shaders.
Specifying shadingMode as an export option does appear to result in any m

[2020-05-22 15:50] stevkalinowski commented on #506
For us maintaining as many file node connections as possible would be expected.  The attribute values would be nice too.

Maybe a stretch, but maybe also the color space setting of the file nodes as well?  sRGB or Raw for example.

[2020-05-22 15:55] stevkalinowski commented on #506
For clarification, "attribute values" I refer to values alongside the texture inputs, such as eccentricity, diffuse, reflectivity, etc.  Anything in "Common" and "Specular" sections of the attribute editor.  We use lambert, blinn, and phong.

[2020-05-22 19:20] gagnovski commented on #500
Thanks @HamedSabri-adsk for your help!

I'll see about updating to Maya 2019 in that case and see how it goes. At the very least, I have something I can work with for the time being.

If anything else comes up, I can open a new issue, but I think you've helped me enough to continue on.

Cheers!
Jason

[2020-05-25 18:05] eddiehoyle opened #522 "Visibility not respected for instanced prims"
**Describe the bug**
Changing instanced prims visibility state to `"invisible"` isn't respected, draws prim at origin instead.

**Steps to reproduce**
1. Import to Maya a layer that contains a prim with `instanceable = True` and which references some imageable data.
2. Via the `UsdGeom.Imageable` API, set the visibility attribute on the prim to `"inherited"` or `"invisible"`
3. Observe the prim be

[2020-05-25 22:20] marsupial opened #525 "MTOH draws above camera guides and gate"
**Describe the bug**
When trying to show the camera resolution/gate in the viewport, any delegate will draw on top of whatever Maya did.

**Steps to reproduce**
1. Enable film or resolution gate for the viewport camera.
2. Load **mtoh**
3. Select a delegate

**Expected behavior**
Not to draw on top of the guides

[2020-05-26 14:57] fowlertADSK commented on #373
@agelosc I spent some time figuring out why going through the file dialog does one thing but calling the command directly does something else and now understand what’s going on.  When you execute the export through the file dialog we do not immediately call the “file” command, we call the projectViewer MEL script first which eventually does a bunch of stuff before actually calling “file”.  One of

[2020-05-26 15:09] HdC-adsk commented on #361
@agelosc Is the issue still reproducible on latest code? There is a chance that #431 has fixed it.

[2020-05-26 16:30] agelosc commented on #373
Thank you for having a look at this. This looks like a hard issue to catch. Your workaround is good enough for me. Please go ahead and close this issue if you think it should be closed.

Thanks again.

[2020-05-26 16:34] agelosc commented on #361
No, you're right. This error is not showing up anymore in the build I have at the moment. Not sure if I'm supposed to close this issue or you so please go ahead and close it or let me know if I should. Thanks for having a look at this.

[2020-05-26 17:01] santosd commented on #361
@agelosc thanks for confirming that this issue is no longer happening. I have gone ahead and closed this issue.

[2020-05-26 17:01] #361 closed

[2020-05-26 18:30] williamkrick opened #528 "proxyShape does not hold a strong pointer to it's UsdStage through MayaUsdStageData"
**Describe the bug**
In `MayaUsdProxyShapeBase::computeInStageDataCached` we open or create a new `UsdStage`. The stage is saved into a MayaUsdStageData and stored in the node. `MayaUsdStageData` doesn't keep a strong reference to the stage (`UsdStageRefPtr`), instead it only holds `UsdStageWeakPtr` and relies on the stage cache keeping a strong reference to keep the `UsdStage` alive.

If somethin

[2020-05-26 20:17] #373 closed

[2020-05-27 14:04] santosd commented on #504
Hello @devGitHub48 , Thank you for reporting this, it was something that we had seen internally as well and had logged it as MAYA-104978.

[2020-05-27 15:03] devGitHub48 commented on #504
Thanks a lot @santosd

[2020-05-27 17:54] ChokmahBinah opened #529 "UnicodeEncodeError using python script for building."
**Describe the issue**
Hello there , when building usd using python script, I get an UnicodeEncodeError error message. (Since Python 3 support implementation).

**Build log**
Here is the message :
![image](https://user-images.githubusercontent.com/33164632/83049269-31fee080-a04b-11ea-82aa-a3edd01bc37c.png)

**Specs:**
 - Windows 10
 - Visual STudio 2017
 - Maya 2020
 - Maya USD Commit : 37042fdca

[2020-05-27 18:04] radon199 commented on #153
Hi @santosd

I downloaded your file and it did work, but was still failing with the latest release under dev and our files. I modified your example slightly to include two references to two asset files, both instanceable, and this causes the error and does not select in the viewport for me.

Tested against maya-2020.0.235 and maya-2019.2.8774 ( latest I have of both )

I am unable to include a tes

[2020-05-27 19:32] santosd commented on #153
@radon199, Thank you for sharing the changes you made to the file I sent. I see the error in PR114. However, I don't see the error in PR115. In PR 115 there is another issue though. Selection only selects the body of the TV and when I attempt to move it I get an error at that point.

`Coding Error: in _ValidateEditPrim at line 1270 of S:\jenkins\workspace\ecg-usd-full-windows\ecg-usd-build\usd\pxr

[2020-05-27 19:41] HdC-adsk commented on #153
I guess the issue is still reproducible on Maya 2020?

[2020-05-27 19:41] radon199 commented on #153
I forgot maya-usd can’t handle xform ops yet, that issue will go away if you use transform ops to move the TVs.

I have another issue in for that : https://github.com/Autodesk/maya-usd/issues/157

When is PR115 from? We pulled most recently on the 20th of May.

[2020-05-27 19:47] cfmoore007 commented on #76
This appears to be addressed in PR115 with our tests here.

@BigRoy is it also working for you?

[2020-05-27 19:48] cfmoore007 commented on #74
This is now fixed for us in the new beta ( using the MayaUsdProxyShape ).
Will re-test w/ the AL_usdmaya_proxyShape shortly ...

[2020-05-27 19:51] santosd commented on #153
I've attached a gif of what I am seeing. In both PR114 and 2020 I am see the warning. However the selection occurs in the viewport and I can translate the object without any issues. In PR115 I can select without warning, but translating causes an error.
![instanceSelectionError](https://user-images.githubusercontent.com/29235905/83065538-a9277b00-a031-11ea-8dd4-3bcf917caf41.gif)

[2020-05-27 20:15] radon199 commented on #153
You’ll notice that in PR114 the whole proxy is selected, which is the behavior when it fails to select the instance. When two are more instances are selected it will properly select just the UFE instance, and will not fall back to selecting the proxy.

However it sounds like it’s a maybe fixed in PR115, I’ll see if I can get a pull of that soon.

On that note I noticed that you are only getting UF

[2020-05-27 20:44] cfmoore007 commented on #269
This issue still persists in the latest beta.

[2020-05-27 21:05] cfmoore007 commented on #258
Confirmed fixed in the new beta.
Thanks!

[2020-05-27 21:13] #258 closed

[2020-05-28 12:21] HdC-adsk commented on #153
I believe the single instance selection issue has been fixed for PR115. Please validate.

Except nested instancing case, the expected behavior is to select the extract children prim.

[2020-05-28 16:43] mattyjams commented on #529
I was able to reproduce this too (with Python 2.7 on Linux). It looks like it's directly related to the `build.py` changes in #502.

I only hit this when there was a build error though, so it seems to have something to do with how the error output from the build process is getting translated between encodings when writing to the log file.

I was able to work around it for now by removing the `deco

[2020-05-28 17:36] ChokmahBinah commented on #529
Thank you a lot @mattyjams !

I'll try this as soon as possible :)

Kind regards.

[2020-05-28 17:52] HamedSabri-adsk commented on #529
@mattyjams  Sure, I will look into it later today.

[2020-05-28 18:10] agelosc opened #535 "maya reference parenting error under a pxrUsdReferenceAssembly"
**Describe the bug**
Parenting a maya reference on a pxrUsdReferenceAssembly node issues the following error:
`// Error: line 1: Cannot add node '<referenced node>' to asset because it is in a different file. //`
referenced node is the name and namespace of the referenced object.
If the referenced object is grouped (has a local transform as a parent) then the group can be parented to the pxrAssemb

[2020-05-28 22:52] radon199 commented on #153
By the child prim do you mean the child inside the master? Or a virtual child added under the instance similar to UsdInstanceProxy? Looking at santosd’s gif it seems to be selecting child prims under TV1.

If so that’s not the most helpful of behaviors from an artist perspective. When you select an instance you want the instance, not a component of the master. I think before PR115 that was the beh

[2020-05-29 01:58] murphyeoin commented on #522
So the problem is basically that the VP2 subscene API makes the following assumption:

- If there are instances specified, draw as instances.
- If there are no instances specified, draw as a single object.

The problem is that when the instance becomes invisible, HD reports that there are no instances, which maya interprets as “please render as a single object”. The problem is here:

https://githu

[2020-05-29 17:47] cfmoore007 opened #539 "[MAYA-104796] UFE : Grouping Prims Crashes Maya"
**Describe the bug**
In the latest beta, grouping prims crashes maya.

![grouping](https://user-images.githubusercontent.com/2152250/83289288-d7809400-a1b2-11ea-86d1-89fcef060039.png)

**Steps to reproduce**
Steps to reproduce the behavior:
1. load latest PR
2. using the mayaUsdPlugin, create new stage from attached file
3. in the Maya Outliner, create new Xform prim
4. drag drop /pSphere1 onto th

[2020-05-29 17:53] cfmoore007 commented on #539
I tried this based on https://github.com/Autodesk/maya-usd/pull/455

This also crashes with the following builds on window 10 :
USD         : 095e616
MayaUSD : f34c6e

[2020-05-29 18:57] fowlertADSK commented on #539
Hey Christopher.  Yes, I think what you're hitting is a problem that can be worked around with the layer editor (which I think you have access to now in the beta?)  Can you try changing the current target layer from the sessionLayer to 3_Spheres.usda and then try the parenting?

@ppt-adsk was taking a look at this, but there might be something in core USD that we need to understand better about th

[2020-05-29 20:05] cfmoore007 commented on #539
Unfortunately, it didn't work.
Before I went to create the xform prim, I selected the session layer
I created the xform prim, confirmed it was in the session layer
select-dragged and crash

[2020-05-29 20:11] fowlertADSK commented on #539
Yes, I think the crash is when sessionLayer is the active target.  You would need to change it to the 3_Spheres layer before doing the parent.

[2020-05-29 20:11] ppt-adsk commented on #539
Hey Christopher, yeah we know, get exactly the same stack trace, I'm working on it.  In my testing, what does work is parenting within a single layer.  Parent a prim in a layer from a file to another prim from that layer, works.  Parent a prim from the session layer to another prim in the session layer, works.  So not a workflow yet, but at least the problem is in the maya-usd plugin, so we should

[2020-05-29 20:18] cfmoore007 commented on #539
Sounds good. Thanks!

[2020-05-29 21:46] #74 closed

[2020-05-30 08:30] ChokmahBinah commented on #529
Hello Maya users :)
@mattyjams, I tried your workaround, but it didn't work here :s

I'll continue to investigate hoping to find something.

Thanks for your helps :)

[2020-05-30 11:59] HamedSabri-adsk commented on #529
Hello @ChokmahBinah ,  as a workaround, I suggest you pass `--redirect-outstream-file=false` to the build script. I will look into this soon. Looks like something to do with not correctly using unicode in python2.
You can read more information here:
https://pythonhosted.org/kitchen/unicode-frustrations.html

[2020-05-30 14:10] ChokmahBinah commented on #529
Hello @HamedSabri-adsk ,

The first I tried to pass --redirect-outstream-file=false to the build script It dodn't worked.

It seemed to not find Boost 1.7 library.
I moved my USD installation from 'C:\Program Files\USD"  to "C:\USD" and then it worked like a charm :)

I had the same kind of problem trying to install USD with python 3.7 binding some times ago, but I  didn't get so much feedback fro

[2020-05-30 15:19] HamedSabri-adsk commented on #529
Hmm, strange! there seems to be multiple things happening here.  Can you share how you built USD and what argument passed to `build_usd.py`?

The USD that you are currently using to build maya-usd, is it built with Python2 or 3?

I also just noticed that your system language is in French. Parfaite! :)

I need to have a look at your log file to get more information.  Can you please move back "USD"

[2020-05-31 09:58] ChokmahBinah commented on #529
Hello @HamedSabri-adsk ,

I built USD using Pixar build_usd.py :

C:\USD-master\build_scripts\build_usd.py --openvdb --prman --prman-location "C:\Program Files\Pixar\RenderManProServer-23.2" --alembic --materialx "C:\Program Files\USD" -build-args boost,"--with-date_time --with-thread --with-system --with-filesystem"

I actually built USD using Python2 due to the same kind of error (unicode error)

[2020-06-01 13:34] HamedSabri-adsk commented on #529
C'est bien!

I had a look at the "Program Files" issue and the message that made you try to move the USD folder to C:\ is a bit strange.

From your error message, it looks like "Program Files\" was somehow omitted? and therefore the cmake error message makes sense. When you build USD, there is a `pxrTargets.cmake` that is generated which is used by cmake. You can find this file under **cmake sub-d

[2020-06-01 15:51] ChokmahBinah commented on #529
Hello again @HamedSabri-adsk :)

I finally managed to compile USD with Python 3.7.4 replacing line 255 in the build_usd.py script :

![image](https://user-images.githubusercontent.com/33164632/83421728-d5c00600-a428-11ea-875e-150f0cf47c77.png)

I have a question :
Is there something to to to install maya USD with Python 3.7.4

I will check the infos you talk about too :)

Thanks in advance.

[2020-06-01 17:02] pmolodo opened #542 "Support exporting blendshapes"
**Is your feature request related to a problem? Please describe.**
We want the ability to export usd blendshapes (using the UsdSkel schema).

**Describe the solution you'd like**
An option to enable blendshape export (similar to the option to enable skinning), which causes the appropriate attributes to be authoredin the UsdSkel schema.

**Describe alternatives you've considered**
There is an old P

[2020-06-01 18:00] HamedSabri-adsk commented on #529
In order to use the Python 3 version of MayaUSD plugin, you need to have a Maya compatible with Python 3 which can be downloaded from the Beta Forum if you are a customer with privilege access.

Building MayaUSD plugin itself with Python 3 is possible with the current state of dev branch. When building maya-usd project, one needs to disable `Pixar` and `AL` plugins since they are not compatible wi

[2020-06-01 18:17] santosg87 commented on #446
PR 115 is now available. and it includes the fix for this issue. marking it as closed.

[2020-06-01 18:17] #446 closed

[2020-06-01 18:44] santosg87 commented on #335
this should be fixed now on PR115. :)

[2020-06-01 18:44] #335 closed

[2020-06-01 18:50] santosg87 commented on #267
hi @cfmoore007 this should be fixed now on the latest PR, would yo be able to validate and close this? :)

thank you!

[2020-06-01 18:52] santosg87 commented on #155
hi @radon199 this one should be fixed on the latest PR. Would you be able to validate and close it? :)

thank you!

[2020-06-01 19:04] ChokmahBinah commented on #529
Thank you a lot @HamedSabri-adsk

For all the help and these new information :)

[2020-06-01 19:28] cfmoore007 commented on #267
Sorry, I thought I already responded to this.

This is now fixed and matches what the AE returns for DAG objects.

<img width="277" alt="PR115_PrimPath" src="https://user-images.githubusercontent.com/2152250/83446370-8bd12300-a41c-11ea-8f78-0451b7ab2c65.png">

Thanks!

[2020-06-01 19:28] #267 closed

[2020-06-01 20:36] kxl-adsk opened #546 "Improve converter to support translateMayaDoubleToUsdSinglePrecision"
PR #432 introduced a new way to convert between USD and Maya. One missing piece is the ability to support `translateMayaDoubleToUsdSinglePrecision` conversions.

Logging task to capture this requirement. More design work is required for how we will introduce it in the framework without affecting interfaces and performance.

[2020-06-01 21:02] ppt-adsk commented on #539
Hi Christopher, I'm hopeful that
https://github.com/Autodesk/maya-usd/pull/545
will fix it.  Cheers.

[2020-06-01 21:06] HamedSabri-adsk commented on #529
De rein! the fix for the mysterious "UnicodeEncodeError: 'ascii'  can be found in the following PR which will be soon merged into dev. Thanks to @ppt-adsk

[code]
https://github.com/Autodesk/maya-usd/pull/545/files

[2020-06-02 00:25] cfmoore007 opened #548 "adskUsdLayerEditor not found if using custom maya-usd build"
**Describe the bug**
When using maya-usd with my own local build of the plugin, the USD Layer Editor module is no longer found.

The error returned is as follows :
`ImportError: file <maya console> line 1: No module named adskUsdLayerEditor`

It seems the MayaUSD\lib\python\adskUsdLayerEditor directory is missing from the maya-usd repo and this PYTHONPATH is missing.

**1) PYTHONPATH using Dev Bra

[2020-06-02 01:52] kxl-adsk commented on #522
@murphyeoin You mentioned trouble to prevent rendering of a single object and some tricks to prevent it from being rendered, like ZERO matrix. The typical way we achieve this is by disabling render items - see https://help.autodesk.com/view/MAYAUL/2020/ENU/?guid=Maya_SDK_MERGED_cpp_ref_class_m_h_w_render_1_1_m_render_item_html

[2020-06-02 12:30] cfmoore007 commented on #539
I posted my results on the PR.  Looks good from a usability pov.

[2020-06-02 16:03] suesauer opened #554 "RuntimeError: Failed to run 'cmake --build . --config RelWithDebInfo --target install -- -j64'"
Hey there,

**Describe the issue**
Can't seem to build USD Maya on my Linux, see log and specs below

**Build log**
[build_log.txt](https://github.com/Autodesk/maya-usd/files/4718273/build_log.txt)

**Specs:**
 - OS & version Linux 7.7
 - Compiler & version gcc 6.3.1
 - Maya version Maya 2020.1
 - Maya USD commit SHA dev 00d651a
 - Pixar USD commit SHA master 20.05

**Additional context**
Also, ho

[2020-06-02 16:10] suesauer commented on #529
thanks, Hamed I to have run into this issue

[2020-06-02 16:44] ChokmahBinah commented on #529
Hello @HamedSabri-adsk ,

I'll will try this fix as soon as possible :)

[2020-06-02 20:53] suesauer commented on #458
Do you perhaps also have Houdini Solaris running on these pc's? I find that if my build was successful but the Maya plugin doesn't want to load, it is usually an environment pathing issue.

[2020-06-03 09:15] suesauer commented on #554
Could build successfully with latest dev branch commit(fcdc32bfdc4961cdeafa3730d196a2f3b09b007e)

[2020-06-03 09:15] #554 closed

[2020-06-03 22:00] #145 closed

[2020-06-04 12:07] DanEnglesson commented on #32
Just to follow up. This has been working fine for us for quite some time now, just make sure you switch to use the MayaReference from AL_MayaReference.

Cheers,
Dan

[2020-06-04 13:14] kxl-adsk commented on #32
Thank you, Dan.

[2020-06-04 15:01] koen-v opened #561 "[MAYA-105623] The "orientation" flag on meshes appears to be ignored on import"
**Describe the bug**
When importing a mesh with the _uniform token orientation = "leftHanded"_ flag set, all the faces show up reversed in maya, ie they get imported as if they are right handed.

**Steps to reproduce**
Steps to reproduce the behavior:
Unpack the attached box.zip
Import box.geo.usd into maya

**Expected behavior**
I would expect the face vert order to be reversed on import

**Attac

[2020-06-04 15:45] ArcEarth opened #562 "Replace boost::filesystem/system with std::filesystem"
**Describe the issue**
USD is failed to build on my machine because it failed to locate `boost::filesystem`.
It is 2020, we should replace boost::filesystem and boost::system with C++17/11 standard.
The filesystem feature was already implemented in GCC 6.3 which is on the VFX platform.
And was there in Visual Studio / Clang for decades.
There is nothing blocking it from being used in Maya/USD.

**

[2020-06-04 16:15] kvroeijenstijn opened #563 "Please allow indexing of all primvars, including the normals"
While testing a large set of models, we found the size of the usd file can be significantly reduced by indexing all of the primvars. The maya exporter seems to do this for most primvars. The one we added lastly but ended up giving us big gains where the normals.

You would need to manually create the normals primvar as the system one does not allow indexing. However, this would still be a perfectl

[2020-06-04 18:27] seando-adsk commented on #562
Yupeng, the use of boost comes from Pixar's [USD repo](https://github.com/PixarAnimationStudios/USD)

We are compiling it and placing it in artifactory for use in the maya-usd repo. Boost places the toolset version in the file names, so they end up with "vc-141" since the artifact was compiled with Visual Studio 2017. Are you using Visual Studio 2019?

I believe there is a boost flag that will all

[2020-06-04 18:52] HamedSabri-adsk commented on #562
In addition to what Sean said, we currently have following dependencies to boost as well:
[code]
We have already discussed replacing these gradually in our internal meetings.

[2020-06-04 21:33] Xaia opened #566 "[MAYA-105263]Draw performance of Maya's data model for very dense meshes is faster than native USD (VP2RenderDelegate or mtoh)"
I've been stress testing USD capabilities with 50 million polygon mesh and I encountered interesting behavior.
Imported FBX file has higher frame rate than USD Stage.
In my case it is USD VP2 **63FPS** USD MTOH  **21FPS** vs MTOH FBX **55FPS** vs VP2 FBX **77-80FPS**

MTOH has some problems with displaying the entire mesh. Don't think the mesh is corrupted, tested

**Steps to reproduce**
Steps to

[2020-06-06 17:56] #562 closed

[2020-06-08 12:55] kxl-adsk commented on #566
@Xaia can you share this asset with us?

[2020-06-08 15:29] santosd commented on #561
Tested in the latest PR and I was also able to replicate the issue. When bringing it in as a USD it works as expected, but imported the faces look flipped.

[2020-06-08 16:47] kxl-adsk commented on #89
@suekieza UDIM texture support was added as part of #538. It requires the latest supported commit SHA from USD dev branch. Can you please validate and close this issue?

[2020-06-08 16:50] kxl-adsk commented on #285
@ablev-dwa PR #517 and PR #558 should have fixed it. Can you validate and close this issue?

[2020-06-08 16:54] ablev-dwa commented on #285
That is great news, thanks! I'll make a new build and try it out and report back.

[2020-06-08 17:07] kxl-adsk commented on #430
@Xaia Pull Request #514 fixed the issue. Please validate the fix and close this issue. FWIW. If you rely on Maya Preview Releases, then you will have to wait for the next beta release.

[2020-06-08 17:48] williamkrick commented on #522
@murphyeoin I believe the changes in https://github.com/Autodesk/maya-usd/pull/570 will fix this issue. Can you test to confirm?

[2020-06-08 17:58] santosd commented on #535
Hi @agelosc I took a look at this and was able to replicate the issue in the pxr plugin.

[2020-06-08 19:44] santosd commented on #525
@marsupial I tested this out in PR115 and I was not able to replicate the issue. However, I am occasionally hitting a crash when enabling mtoh after enabling the display of the resolution gate.

[2020-06-08 20:17] marsupial commented on #525
If you're building from dev, this is no longer an issue and can be closed (#526 & #567).
Just started testing PR115 last week, and am not seeing a crash related to this.

[2020-06-08 20:28] santosg87 commented on #505
marking this one as closed, as it is supported on the commands. :)

[2020-06-08 20:28] #505 closed

[2020-06-08 20:38] santosd commented on #525
Thank you @marsupial I will go ahead and close this out. I will see if others are hitting a crash on my end and if so I will log an issue for that.

[2020-06-08 20:38] #525 closed

[2020-06-08 20:44] santosd commented on #467
Even disabling the lights before deleting didn't help on my end. I will keep testing to see if I can get it to work. I am seeing only the extremely washed out render on my end.

[2020-06-08 23:56] murphyeoin commented on #522
Fantastic - thank you @williamkrick  and @kxl-adsk - we will test right away!

[2020-06-09 11:13] Xaia commented on #566
@kxl-adsk yes, here you go. The mesh is not final and there are some issues with the branches. After deleting them, frame count difference don't change though.
https://wetransfer.com/downloads/1b69893cc9cf63da8e666f208eda469820200605113727/34a041

[2020-06-09 12:47] kxl-adsk commented on #539
@cfmoore007 can we close this one given you already validate it?

[2020-06-09 12:56] cfmoore007 commented on #539
Yes.  All good here.  Thanks!

[2020-06-09 13:10] #539 closed

[2020-06-09 13:50] williamkrick commented on #404
@fdan #570 which fixes this issue has been merged. Can you test it to verify?

[2020-06-09 16:27] kxl-adsk commented on #566
Surprising...and yes, I was able to reproduce the issue. If you don't mind, I will tweak the title a bit since what we are comparing here is drawing of something that is in Maya (importing FBX is translating meshes into Maya data model) vs native draw performance of USD (with VP2RenderDelegate or Hydra Storm is using mtoh).

[2020-06-09 16:29] Xaia commented on #566
No worries, glad I can help! Don't abuse the model too much ;)

[2020-06-09 19:08] kxl-adsk commented on #2
FYI. We are actually testing PF for GitHub pull requests. More info will be available soon.

[2020-06-09 19:17] kxl-adsk commented on #334
@juanfernandez We have been able to successfully build on Catalina. Do you still have build issues or this ticket can be closed?

[2020-06-09 19:21] kxl-adsk commented on #454
@YKdvd Were you able to resolve this issue?

[2020-06-09 19:28] kxl-adsk commented on #458
@AirWreckaStuff When you move files, you have to update the mod file. Given that you are discovering the plugins, I'm guessing you did that. The crash could mean issues with discovered USD version (vs compiled one) OR devkit mismatch.

I see you have mtoa in the search path...could it be that you have another USD library in your search paths?

[2020-06-09 19:29] kxl-adsk commented on #500
@gagnovski I believe this issue can be closed?

[2020-06-09 19:30] kxl-adsk commented on #529
@ChokmahBinah Were you able to validate the fix?

[2020-06-09 20:28] juanfernandez commented on #334
I'm trying again to build USD in Catalina, I was never to be able to fix
the build issue.

El 2020-06-09 15:17, Krystian Ligenza escribió:

--

Atte.
Juan Fernandez
Software Engineer

Links:
------
[1] https://github.com/juanfernandez
[2]
https://github.com/Autodesk/maya-usd/issues/334#issuecomment-641518339
[3]
https://github.com/notifications/unsubscribe-auth/AAHFCLQQ4ZOR6GV2VBEICGTRV2DGDANCNFSM

[2020-06-10 00:15] Xaia opened #579 "MTOH Stage draw problems with mesh 50M+"
**Describe the bug**
I tested another mesh with 52M+ tris and turns out black sploches I had was because of the polygon count.
I brought the same mesh with lower poly count and it displays correctly.

**Attachments**
MTOH Stage 52M tris

![image](https://user-images.githubusercontent.com/60515654/84213157-318d2d80-aac0-11ea-80c7-4e9a5f8892ed.png)

MTOH Stage 14M tris
![image](https://user-images.g

[2020-06-10 00:44] ablev-dwa commented on #285
I can now see geometry with an assigned purpose.
Verified on PR115 and a build from today's dev branch.

[2020-06-10 00:44] #285 closed

[2020-06-10 01:26] kxl-adsk commented on #579
On your first image, I see selection highlighting. I don't see it in the second one. Can you re-check again 52M tris version without selection highlighting?

[2020-06-10 05:01] agelosc commented on #535
I transitioned to the al_usdmaya plugin as I understand that the pxr assembly will eventually be deprecated. Please feel free to close this issue, unless you want to investigate this for your own reasons.

Thank you for having a look.

[2020-06-10 11:20] Xaia commented on #579
@kxl-adsk the mesh was not selected, it looks like that imported for some reason. Here is reimported new version with basic shading.
![image](https://user-images.githubusercontent.com/60515654/84262024-21f00200-ab1d-11ea-9d5c-dfba9348a840.png)

[2020-06-10 11:39] Xaia commented on #579
and here is the model: 14M abc (needs to be converted) and 52M usd
https://we.tl/t-XdWw7DSaSc

[2020-06-11 20:13] marsupial opened #589 "WANT_UFE_BUILD scattered throughout build process"
**Describe the issue**
**WANT_UFE_BUILD** can wind up controlling vtable layout and availability of functions.
Currently it's usage is scattered throughout CMake and headers in mayaUsd, hdMaya, mayaToHydra, AL-usdmaya.  Usually as **PRIVATE** sometimes as **PUBLIC** (#583).

Seems better to be held in a spot where all sub-projects consume the value, and anyone building against a distribution can i

[2020-06-12 19:47] williamkrick commented on #566
I spent some time understanding this today with this workflow:

1. Import the fbx file into Maya, tumble and measure performance. I get around 150fps.
2. Export the file to USD.
3. In a new scene create a mayaUsdProxyShape and set the file to be the newly created USD file. I get around 50fps.

What I found was the shading done by USD is significantly different from the shading done by Maya. By def

[2020-06-15 14:35] santosd commented on #404
@fdan I tested it out on my end with the new changes and this seems to be working well after the merged changes. Please give it a try and let me know or feel free to close this issue out.

[2020-06-15 14:56] fdan commented on #404
Cheers, I haven’t had a chance to confirm unfortunately but trust you folks that it’s solved.

[2020-06-15 14:56] #404 closed

[2020-06-15 18:52] mattyjams commented on #263
Hey @kxl-adsk, sorry for the extremely delayed response here, but I'm just starting to dig into this to try to unblock some internal user testing of the VP2.0 render delegate.

I could definitely bring down and/or refactor the closest point delegate into something that should work for both the Pixar batch renderer and the VP2.0 render delegate, but there's a tricky hitch for the latter.

Ultimatel

[2020-06-17 00:08] eddiehoyle commented on #522
Hi @williamkrick, confirming the changes in #570 fixed this. Thanks for your help!

[2020-06-17 00:11] #522 closed

[2020-06-17 12:07] ababak commented on #562
In my case, the error is the same but the full error text explains it a bit:
[code]
So the reason it fails is `boost_filesystem-vc142-mt-x64-1_70.lib (64 bit, need 32)`

Are there any more or less simple workarounds?

[2020-06-17 13:27] ppt-adsk commented on #562
@ababak if you're compiling in a Windows cmd shell, please make sure you've sourced the proper compilation setup script from Visual Studio.  On my machine, this is
"C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\VC\Auxiliary\Build\vcvars64.bat"
Hope this helps.

[2020-06-17 14:51] seando-adsk commented on #562
@ababak When you built USD did you pass in extra boost flags? For MayaUSD we build USD with the extra build args "boost, --with-date_time --with-thread --with-system --with-filesystem"

[2020-06-17 15:18] ababak commented on #562
@ppt-adsk I am building inside a docker container and I am sourcing the same setup script I've been using when building the USD itself.
@seando-adsk No extra boost flags were used when I built the USD.

I've fixed this error by specifying `--generator="Visual Studio 16 2019"`
[code]

[2020-06-17 15:39] seando-adsk commented on #562
@ababak I'm surprised you were able to build MayaUSD successfully if your USD build didn't have boost filesystem/system. You can see [here](https://github.com/Autodesk/maya-usd/blob/dev/lib/mayaUsd/CMakeLists.txt#L29) that they are required packages.

[2020-06-17 20:23] ababak commented on #562
@seando-adsk It did. Just somewhy it requested a 32-bit variant while there was only a 64-bit one.

[2020-06-18 06:26] ababak commented on #562
Here's my docker build project for reference: https://github.com/ababak/usd-build

[2020-06-18 19:31] ChokmahBinah opened #596 "Bug when deselecting a stage item."
**Describe the bug**
Selection highlighting don't update when deselecting any stage item after selecting it.
The selection highlighting desactivated only after rotating the perp view.
(The problem occurs using mtoh or Viewport 2.0)

**Steps to reproduce**
Steps to reproduce the behavior:
1 - Load a stage.
2 - Select any item from the stage.
3 - Deselect it.
4 - Rotate View.

**Expected behavior**

[2020-06-21 22:55] gagnovski commented on #500
Hi @kxl-adsk,

Yep, we can close this one.

Thanks!
Jason

[2020-06-21 22:55] #500 closed

[2020-06-24 17:43] stevkalinowski commented on #505
I just tried the mel command in PR115.  Maya hard crashed.

[2020-06-24 18:09] stevkalinowski commented on #505
Using a more simplified scene, I can get it to export without a crash.  However, when importing the bones don't come back in.  If I click on Hierarchy view in the Import options I can see that the joints are not there.

Not sure if this is also something only done in mel, I attempted this but still didn't work.

file -import -options ";importSkels=auto;importSkels=auto" -type "USD Import" "d:\\tes

[2020-06-24 18:51] stevkalinowski commented on #505
I tested in PR115 and there is no crash.  I have issues but I'll make a new case.

[2020-06-24 20:03] ppt-adsk opened #601 "testUsdExportStripNamespaces test TF_RUNTIME_ERROR to Python exception detailed error string lost"
In
https://github.com/Autodesk/maya-usd/pull/595
the TF_RUNTIME_ERROR to Python translation tested by testUsdExportStripNamespaces loses the detailed error string.  Before this pull request, the detailed error message was preserved.  The automated test was weakened to allow the more generic error string, but this should be fixed.

[2020-06-25 21:55] stevkalinowski opened #603 "No restTransforms in USD file when exporting skeleton"
**Describe the bug**
If we export a mesh skinned to a skeleton, and the skeleton is not animated, it seems the restTransforms is not stored in the USD file.  The problem is that when we import the USD file back into Maya all its joints are at the origin.

**Steps to reproduce**
1 Open shared Maya scene referenced below.
2 Run mel command to export "file -force -options ";exportSkels=auto;exportSki

[2020-06-25 21:57] stevkalinowski commented on #506
If it helps, I've uploaded a sample scene "character_export.zip" to Activision's sharepoint drive.

[2020-06-26 01:03] koen-v opened #604 "Please add some features to make the uv / st primvars recognizable as such."
Currently it is hard to filter out all the primvars that represent uv sets and impossible to know the order they had in maya in usd files exported from maya.

For the uv sets, would it be possible to set the type to "texCoord2f[]" instead of the float2[] they currently have, that would identify them as uv sets. Secondly would it be possible to add some customData to the primVar to know the index t

[2020-06-29 17:18] mattyjams opened #607 "pxrUsdPreviewSurface opacity support broken following PR #574"
**Describe the bug**
Following the merge of #574, the `pxrUsdPreviewSurface` shading node now uses the fragment graph XML from the VP 2.0 render delegate instead of its own version. One important difference there is that the render delegate version uses an `opacity` property instead of a `transparency` property. There were no changes to `pxrUsdPreviewSurface` or its shading node override to accoun

[2020-06-29 19:15] stevkalinowski opened #608 "DX11shader not saved in USD file, mesh will have no "Looks" associated with it."
**Describe the bug**
If a mesh object has a "dx11shader" applied to it, when exporting a USD file there will be no material or shader saved.

**Steps to reproduce**
1. Open attached scene.
2. Export All, choose a filename.
3. Open the file in "usdview", notice there is no material on the sphere.

**Expected behavior**
I would expect at least the correct material name to be saved in the USD file.

[2020-06-29 20:28] stevkalinowski opened #610 "Skinning Lost when exporting or importing."
**Describe the bug**
If I export a usd file with joints and skinning, when I import the usd back into Maya the meshes do not have skin clusters.

**Steps to reproduce**
1 open the sample scene in the attached zip
2 run this export mel command.
file -force -options ";exportSkels=auto;exportSkins=auto;exportUVs=1;exportColorSets=1;defaultMeshScheme=none;animation=0;eulerFilter=0;startTime=0;endTime=

[2020-06-29 21:56] HdC-adsk commented on #607
@mattyjams Thanks for reporting the issue.

The intention of the change to the render delegate version of UsdPreviewSurface.xml is to generate the opacity vertex buffer, which we can directly fill with the floating point `primvars:displayOpacity` data. Then in CPU side we can avoid a loop to invert the displayOpacity array to transparency.

Instead of your proposal, can we do it this way?

* Extra

[2020-06-29 22:06] HdC-adsk commented on #607
I forgot that the more important reason is that we try to match the shader fragment parameter names with the `UsdPreviewSurface` property names, in order to update shader parameters without manual conversion.

My above proposal is still not changed.

[2020-06-30 08:07] suesauer opened #611 "Nested Variants not switching in Maya-USD(pxrUsdReferenceAssembly)"
Hey, guys.

**Describe the bug**
I was testing our nested references and noticed that the Maya-USD(pxrUsdReferenceAssembly) Wasnt working as expected - see attached zip -. It switches once then gets "stuck" and unable to switch any more.

Not sure if this is a bug or a known issue.

**Steps to reproduce**
Steps to reproduce the behavior:
See video

**Expected behavior**
As seen in usdview

**Attac

[2020-07-03 15:40] HdC-adsk commented on #153
@radon199 I think what you were suggesting is relevant to selection by kind (#330)?

My latest PR #620 will fix the single instance selection issue for Maya 2020 and before. I will ask you to validate when it is merged.

[2020-07-05 15:19] YKdvd commented on #454
Sorry, I missed this.  I think I was rushed the last time I tried to build these and used my existing 2017 setup on a remote machine, rather than trying 2019 again on mine.  It was rather ironic, as something that came with the most recent 2017 (I think it was CMake?) was too old and prevented build, and had to be updated.

I think they may be getting back to looking at USD again around here, so I

[2020-07-06 12:59] kxl-adsk commented on #454
Let's close it for now...please re-open if you run into trouble again.

[2020-07-06 12:59] #454 closed

[2020-07-06 13:02] kxl-adsk commented on #334
If you have any new info to add, please let us know. If you already succeeded, let's close this ticket.

[2020-07-06 16:13] yantor3d opened #624 "Namespace on root causes nested namespaces when AL_usdmaya_ProxyShape resolves a MayaReference prim"
**Describe the bug**
If an AL_usdmaya_ProxyShape node is loading a USD Stage with a MayaReference prim, and the root of the hierarchy has a namespace, the reference node will be added to that namespace, and the loaded reference will have a nested namespace.

**Steps to reproduce**
1. Add a "foo" namespace to the scene.
2. Create an AL_usdmaya_ProxyShape node; rename if "foo:asset"; set it's filepa

[2020-07-06 18:03] HdC-adsk commented on #153
@radon199 PR #620 has been merged. Could you confirm the issue has been fixed?

[2020-07-06 19:38] santosg87 commented on #610
hi @stevkalinowski thanks for reporting this. would you be able to send me your exported usd file to test? as far as I remember exporting should work for skinned geo jsut as expected. you might be seeing an issue with import. :)

[2020-07-06 19:38] santosd commented on #89
@suekieza I tested your file, on the latest internal version and it seems to be working. Please give it a try and let us know your results.

[2020-07-06 19:44] santosg87 commented on #341
@Xaia are you able to test this on PR116 and close it? the PR is available for download and should contain the fix, as mentioned by williamkrick :)

[2020-07-06 20:05] suesauer commented on #89
Cool thanks guy's will test tomorrow :D/

[2020-07-06 21:10] Xaia commented on #341
@santosg87 Just checked if something changed in the new version and I am getting worse results than in PR113.
![34pVNI35iy](https://user-images.githubusercontent.com/60515654/86643502-0b827c80-bfdd-11ea-98ba-34b7e3165348.gif)

[2020-07-06 21:20] Xaia commented on #341
Recreated the scene with 100k spheres and published fresh usd file and its actually much better. Getting 25 frames without selection and 10 with selection.
I guess old file has issues.
Cheers!

[2020-07-06 21:36] #341 closed

[2020-07-07 00:00] mattyjams commented on #607
Thanks for the notes here, @HdC-adsk. I just implemented your proposed solution in #626. Let me know what you think!

[2020-07-07 16:20] mattyjams commented on #607
Addressed by #626. Thanks again, @HdC-adsk!

[2020-07-07 16:20] #607 closed

[2020-07-08 17:40] devGitHub48 opened #635 "[MAYA-105317] Crash while using PR116"
**Describe the bug**
After using the USD Layer Editor, I tried to do a File new and it crashes

**Steps to reproduce**
Did the quick tutorial  (http://help-beta.autodesk.com/view/MAYAUL/2021/ENU/?guid=GUID-BD0B0870-728D-41DE-B255-C943AE90165D)
Then do a new scene
Load the USD plugins
Create an empty usd stage
Create another anonymous layer
Save both layers
select first layer
Add an XForm with the

[2020-07-08 17:41] devGitHub48 commented on #635
There is a case : CaseNo:16724504.]
And a CER : CER_222829040

It seems related to this issue :  MAYA-105317 "Crash on File > New after using Mute in Layer Editor"

[2020-07-08 20:48] devGitHub48 commented on #635
New crash, same repro:

`PR116
New scene
Having the USD scene Layor open
Adding a new layer
New scene
Crash`

New CER : CER_222893860

[2020-07-08 21:31] santosd commented on #635
Hi @devGitHub48, This was something I ran into as well and had logged it internally as MAYA-105317. I have linked the issues together. I will report back once the internal issue has been fixed and see if you can test again.

[2020-07-08 21:42] devGitHub48 commented on #635
Thanks a lot.
I will continue filling the CER report in case there are new  way of crashing.

[2020-07-09 16:20] ika-rporter opened #640 "Support attribute on MayaReference prim to toggle -mergeNamespacesOnClash flag"
**Is your feature request related to a problem? Please describe.**
The  `UsdMayaTranslatorMayaReference::LoadMayaReference` function is hard coded to call `-mergeNamespacesOnClash false`. This means that if you create an `AL_usdmaya_ProxyShape` node in a namespace (eg, `my_asset_1:proxy`), that is proxy for an asset, it is not possible for the rig to load in the same namespace. To avoid an off-by-

[2020-07-09 17:23] stevkalinowski commented on #610
[skeleton_animation_test2.zip](https://github.com/Autodesk/maya-usd/files/4898421/skeleton_animation_test2.zip)

Here you go, this is what I get when exporting.  Thanks for looking into it.

[2020-07-09 20:59] santosd opened #643 "[MAYA-95500] ALDrawOverride: Data will not update shading modes on viewport unless the top node (the maya transform) is selected."
**Describe the bug**
When visualizing USD data in the viewport, changing the shading mode in the viewport menu will not update the USD data unless the top node is selected. it seems that the viewport cannot see the USD data that it needs to update until a Maya node is selected.

this is a regression from the older builds.

**Steps to reproduce**
Steps to reproduce the behavior:
Disable the VP2 Ren

[2020-07-10 17:39] HdC-adsk commented on #330
PR #641 is in review.

@cfmoore007 @radon199 Can you build and test the branch and see if it works as what you expect? Note that the UI part is coming separately, so for now you can only override the selection behavior via an optionVar mentioned in the PR.

[2020-07-10 22:03] ZbadhabitZ commented on #334
I have confirmed success on macOS 10.15/Catalina.  I have not tested this installation on macOS 11/Big Sur, but suggest closing this ticket as I was able to resolve.

[2020-07-10 22:03] #334 closed

[2020-07-10 23:34] marsupial opened #645 "Remove USD_VERSION_NUMBER and replace with PXR_VERSION"
**Is your feature request related to a problem? Please describe.**
The build system introduces a **USD_VERSION_NUMBER** when **PXR_VERSION** already exists since at least 19.11.
It just makes it more complicated and harder to read.

**Describe the solution you'd like**
Replace usage of **USD_VERSION_NUMBER** with **PXR_VERSION** and remove the CMake generation of this constant.

[2020-07-11 19:14] ChokmahBinah opened #651 "Problem building last version of maya-usd."
**Describe the issue**
Hello maya-usd team.
Since few version from dev branch, I don't manage to build maya-usd.
I tried with --redirect-outstream-file=false argument on build.py and git this error message in the buikd process :

![maya-usd_build_bug](https://user-images.githubusercontent.com/33164632/87231613-e87b1280-c3b8-11ea-9eb4-526f553c3da1.jpg)

I hope i could have some help about this.
Tha

[2020-07-12 19:13] #330 closed

[2020-07-13 10:00] xZAKHAMx opened #654 "Proxyshape.cpp and Engine.cpp failed"
**Describe the issue**
I'm Trying to build maya-usd and it fails while building Engine or ProxyShape

**Build log**
[build_log.txt](https://github.com/Autodesk/maya-usd/files/4911698/build_log.txt)

**Specs:**
 - OS & version [Windows 10 Pro]
 - Compiler & version [e.g. gcc 6.3.1]
 - Maya version [Maya 2020.2]
 - Maya USD commit SHA [e.g. dev at 00d651a]
 - Pixar USD commit SHA [e.g. dev at ebac0a

[2020-07-13 16:59] Xaia opened #656 "[MAYA-106378] Selection and transform performance VP2/MtoH"
**Describe the bug**
USD Selection and transform performance is nearly 4 times lower than native maya geo.
With attribute editor open, selection of one 500k poly model takes over 5 seconds. Turning attribute editor off, helps but it does not help with overall scene speed.
While the models are loaded really quickly, performance of translation is nearly 4 times worse than native maya geo.
Tumbling U

[2020-07-14 13:20] santosd commented on #153
I tested on my end that the issue seems fixed. Closing this issue for now.

[2020-07-14 13:20] #153 closed

[2020-07-15 09:48] suesauer opened #662 "has no member named ‘SetTaskContextData’, :HdEngine>’ has no member named ‘Execute`"
**Describe the issue**
Failed to build usd maya

**Build log**
[build_log.txt](https://github.com/Autodesk/maya-usd/files/4924271/build_log.txt)

**Specs:**
 - OS & version Centos7
 - Compiler & version  gcc 6.3.1
 - Maya version Maya 2020.2
 - Maya USD commit SHA dev at 461668a75deeb46d36cf55566b119010ff491a7d
 - Pixar USD commit SHA master 44d66c531ef3bfddf88df6e54fdeaf4ac3aba086

**Additional c

[2020-07-15 10:15] suesauer commented on #662
Also:
Cloning into 'maya-usd'...
remote: Enumerating objects: 207, done.
remote: Counting objects: 100% (207/207), done.
remote: Compressing objects: 100% (162/162), done.
remote: Total 101899 (delta 85), reused 102 (delta 45), pack-reused 101692
Receiving objects: 100% (101899/101899), 61.84 MiB | 14.06 MiB/s, done.
Resolving deltas: 100% (74778/74778), done.
Note: checking out 'fcdc32bfdc4961cde

[2020-07-16 13:10] kxl-adsk commented on #458
I'm closing this issue. @AirWreckaStuff please reopen if you continue to have issues after trying what was described in my previous comment (https://github.com/Autodesk/maya-usd/issues/458#issuecomment-641523706)

[2020-07-16 13:10] #458 closed

[2020-07-16 13:13] kxl-adsk commented on #155
I'm closing this issue since the fix was delivered and validated by QA. @radon199 if you find something missing, please reopen or log a new issue.

[2020-07-16 13:13] #155 closed

[2020-07-16 13:15] kxl-adsk commented on #430
We validated this change internally. @Xaia Not sure how much time you will need to validate it, so I'm closing it for now. Feel free to reopen or log a new issue once you get a chance to try it.

[2020-07-16 13:15] #430 closed

[2020-07-16 16:36] suesauer commented on #654
This is happening for me as well on Linux centos 7....

[2020-07-16 16:37] suesauer commented on #662
@kxl-adsk 3 of us or having this same issue on windows and on Linux

[2020-07-16 17:01] kxl-adsk commented on #654
@xZAKHAMx Based on the description, more precisely commits SHA provided in specs - looks like you are trying to use an older version of Maya USD with unsupported at that time USD 20.05. It's always good to consult build.md file for supported versions of USD - https://github.com/Autodesk/maya-usd/blob/00d651a8af3af752160531a0841579d1bc0f41ea/doc/build.md#2-download-and-build-pixar-usd

If you want

[2020-07-16 17:02] kxl-adsk commented on #662
Commented in #654 . If this is a duplicate (as it appears), please close it.

[2020-07-16 17:59] suesauer commented on #654
Yup I'm building 20.08 to get texture speed improvements

[2020-07-16 18:00] #662 closed

[2020-07-16 18:17] kxl-adsk commented on #654
@suesauer Then make sure to check PR #617

[2020-07-16 19:40] seando-adsk commented on #651
I think you've gone too far in the USD dev branch. Internally we are at [7c888ac](https://github.com/PixarAnimationStudios/USD/commit/7c888acb362f48b089a5e13149a7e3f14167b0c3) which is from Jun 15. The commit you mention e06f9996d is from Jul 3. There is an open PR #617 which we'll merge in once we update to a new USD. Ideally you should use the commit mentioned in [build.md](https://github.com/Au

[2020-07-16 19:48] ChokmahBinah commented on #651
Hello @seando-adsk ,

Thanks a lot for your answer !
Reading other threads it seems I am part of those who didn't read build.md enough ! lol
I'll take care in the futrue.

Thank you again :)

[2020-07-16 20:39] seando-adsk commented on #651
No problem. If you are able to build again can you close this issue.

[2020-07-17 10:34] ChokmahBinah commented on #651
I'll do that as soon as possible :)

Le jeu. 16 juil. 2020 à 22:40, Sean Donnelly <notifications@github.com> a
écrit :

[2020-07-18 07:51] ChokmahBinah commented on #651
Hello @seando-adsk ,

I stepped back to 7c888ac of USD dev branch ... And managed to build maya-usd ! ;)

Thank you for your help. I can close this issue then.

(ps : I'll look to #617 posted by @mattyjams to try building with USD 20.08 rc3 :) )

[2020-07-18 07:51] #651 closed

[2020-07-21 13:12] cfmoore007 opened #674 "Compile issue"
**Describe the issue**
I tried compiling this, against f937f9c ( + this PR ) with Maya Beta PR116, and received this error :

F:\Repos\maya-usd\lib\mayaUsd\ufe\UsdContextOps.cpp(363): error C2653: 'UsdUndoAddNewPrimCommand': is not a class or namespace name [F:\APPLICATIONS\MayaUSD\f937f9c-selection_highlight\build\lib\mayaUsd\mayaUsd.vcxproj] F:\Repos\maya-usd\lib\mayaUsd\ufe\UsdContextOps.cpp(36

[2020-07-21 13:21] kxl-adsk commented on #674
Thank you for reporting @cfmoore007. I'm wondering if it could be related to #593? @fowlertADSK can you comment?

FWIW. Upcoming PR117 will resolve this issue.

[2020-07-21 13:31] HdC-adsk commented on #89
@suesauer Any update so we can move on to close it?

[2020-07-21 13:32] HdC-adsk commented on #259
I tried to avoid a dedicated selection highlight item for basisCurves, but from this issue we still need it. When being selected, the dedicated selection highlight item will be drawn closer to the camera so it can cover the shaded drawing.

[2020-07-21 13:34] HdC-adsk commented on #265
@santosg87 Do we still have this issue? I think our automation relies on ogsRender so it might already be working?

[2020-07-21 14:01] fowlertADSK commented on #674
My change alone should not have caused any problems, it correctly built against Maya's PR116 and 117.  So I have not seen any build issues, but if I had to guess then I think something might have happened when Hamed refactored my new command class.

In my change I took the AddPrim code from UsdContextOps.cpp (where it could not be seen from outside the class) and moved it into its own file (that's

[2020-07-21 14:28] HamedSabri-adsk commented on #674
@cfmoore007 I believe your MayaUSD SHA (324bff0 ) that you have picked is not good. That particular commit won't compile. Please pick below commit:

Commit 8daa8f20
MAYA-104858: fix regression after UsdUndoAddNewPrimCommand was introduced.

[2020-07-21 14:35] suesauer commented on #89
As far as I can see its still not working....

`file -f -new;
// untitled //
commandPort -securityWarning -name commandportDefault;
onSetCurrentLayout "Maya Classic";
// Loading Bifrost version 2.0.5.1
// Bifrost: Loading library: Amino, from: Autodesk.
// Bifrost: Loading library: AminoMayaTranslation, from: Autodesk.
// Bifrost: Loading library: bif, from: Autodesk.
// Bifrost: Loading library:

[2020-07-21 15:27] HdC-adsk commented on #89
@suesauer Looks like you are not using VP2RenderDelegate? Can you find the message in the output window?

[code]

@williamkrick Any other suspect?

[2020-07-21 16:22] kxl-adsk commented on #89
@suesauer You will need to adopt USD 20.08 in order to test UDIM support.

[2020-07-21 18:01] fowlertADSK commented on #674
@cfmoore007 We realized that there is a problem with UsdContextOps.cpp.  There is a conditional #include of UsdUndoAddNewPrimCommand.h up at the top of that .cpp file which should have been removed.  We'll push a fix soon, but if you are still hitting issues then you can make that change easily yourself.  Just remove the #ifdef around the include, that file works with any version and doesn't requi

[2020-07-22 02:21] mattyjams commented on #265
Hey @HdC-adsk! We're still seeing a strange discrepancy here when comparing the behavior between the Pixar batch renderer and the VP2.0 render delegate.

I'm using the test scene located here:
https://github.com/Autodesk/maya-usd/blob/dev/plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/ProxyShapeDrawColorAccuracyTest/ProxyShapeDrawColorAccuracyTest.ma

When I open that scene in interactive Maya (2019.2),

[2020-07-22 02:44] HdC-adsk commented on #265
Hey @mattyjams , how can I run the test?

[2020-07-22 06:41] suesauer commented on #89
Last time I tried adopting 20.08 the engine.cpp didn't want to build. Has that been fixed?

[2020-07-22 06:49] suesauer commented on #89
FYI
![Capture](https://user-images.githubusercontent.com/58251706/88143859-37fee100-cbf8-11ea-9af5-32b214f6e296.PNG)

[2020-07-22 10:41] kxl-adsk commented on #89
@suesauer We haven't yet merged #617 so in order to adopt USD 20.08 you need to:
1. grab the tip of the `dev` branch
2. merge #617 locally

[2020-07-22 14:40] HdC-adsk commented on #265
Hey @mattyjams , How can I run the unit test? I cannot reproduce it manually so would like to see if there is any difference in the unit test.

[2020-07-22 17:07] cfmoore007 commented on #674
For what it's worth, I compiled against PR117 and had the same issue.  When you put in the fix for this, that is the Maya Beta version I will compile against.

Thanks, @fowlertADSK .

[2020-07-22 17:25] mattyjams commented on #265
@HdC-adsk: Yeah, it is unfortunately fairly cumbersome right now, but here's how I'm running the test in the maya-usd repo on Linux (we have it automated internally):

- Navigate to the directory that contains the test scene:
```cd plugin/pxr/maya/lib/pxrUsdMayaGL/testenv/ProxyShapeDrawColorAccuracyTest```

- Launch Maya with the `MAYA_MODULE_PATH` set so that the built plugins are available.

- C

[2020-07-22 17:59] cfmoore007 commented on #674
I just compiled PR117 against dev @0ac0ce5 and it worked.  Thanks!

[2020-07-22 18:08] #674 closed

[2020-07-22 18:09] delattj commented on #448
I do reproduce the issue on my side too.
My OS is Windows 10 (English).
For me too, I had to add the USD SDK (0.20.2) lib and bin folder to my path in order to fix the issue.

[2020-07-22 18:43] delattj commented on #448
I got it fixed also with this mod file:
`+ MayaUSD_LIB 0.1.0 ../plug-ins/MayaUSD
PATH+:=lib
PYTHONPATH+:=lib/python
PXR_PLUGINPATH_NAME+:=lib/usd
VP2_RENDER_DELEGATE_PROXY=1
PYTHONPATH+:=../../bin/USD/lib/python
PATH+:=../../bin/USD/bin
PATH+:=../../bin/USD/lib

+ MayaUSD 0.1.0 ../plug-ins/MayaUSD/plugin/adsk
MAYA_PLUG_IN_PATH+:=plugin

+ MTOH 0.1.0 ../plug-ins/MayaUSD/lib
MAYA_PLUG_IN_PATH+:=maya

[2020-07-24 00:15] IM-001 opened #684 "support of MASH instancer in Hydra"
**Is your feature request related to a problem? Please describe.**
Hi!  I don't see my mash instancer in the Hydra viewport of the 0.2.0 plugin

**Describe the solution you'd like**
would love to see them

**Describe alternatives you've considered**
trying to test with storm but not sure atm how to find it, will continue my search

Thanks!

[2020-07-28 01:27] #104 closed

[2020-07-28 21:06] santosd commented on #460
Hi @Xaia and @kxl-adsk, I took a look at this and found that loading in USD view and in Maya take the same amount of time about a minute for the Attic File for me. I think like you said Xaia this is related to textures. Maybe something we could look into speeding up.

[2020-07-28 21:25] santosd commented on #466
I was able to replicate this issue. Stadin renders slightly different than without the standin.

[2020-07-28 21:25] Xaia commented on #460
Pixar is already on to something. Not sure how this translates to Maya plugin though.
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!searchin/usd-interest/nvidia$20attic%7Csort:date/usd-interest/8Ml3CTrwcsc/GJwup0wCAwAJ

[2020-07-29 01:10] kxl-adsk commented on #654
@suesauer Our `dev` branch should now build without any problems with USD 20.08.

@xZAKHAMx is there something left in this issue to resolve or we can close it now?

[2020-07-29 06:16] suesauer commented on #654
can be closed thanks

[2020-07-29 20:40] bentoogood commented on #520
Quick follow up having tested this issue in the new 0.2.0 pre-release. I now see the option in the export dialog for 'Materials' which is great. However I get the same results choosing both 'none' and 'Material Colors' i.e. the material diffuse colour is written out as the geometry displayColor.
Is this expected?
thanks
![Annotation 2020-07-29 213337](https://user-images.githubusercontent.com/3977

[2020-07-30 12:57] JGamache-autodesk commented on #520
Interesting! There are two options controlling the export of display colors. We will have to make sure there is only one, but, in the meantime, you might want to add "exportDisplayColor=0" to the USD export options:
`cmds.file("out.usd",
force=True,
typ="USD Export",
exportSelected=True,
options="shadingMode=none;exportDisplayColor=0",
)`

[2020-07-30 20:14] bentoogood commented on #520
Thanks for the hint - exportDisplayColor=0 does the trick.

[2020-07-31 15:53] suesauer opened #692 "How do I change variants?"
**Describe the bug**
Is there a way to change variants with the new UFE/stage import?

What is actually available with the UFE? Is there a menu other then the one under the create drop-down menu? Thanks Sue

[2020-07-31 15:55] ppt-adsk commented on #692
Hey @suesauer, thanks for writing, try right-clicking on an Outliner USD item, you should see variant switching there.  Don't hesitate to write back if you have more questions or comments.  Cheers.

[2020-07-31 15:59] suesauer commented on #692
Don't see anything like that:

![barrel](https://user-images.githubusercontent.com/58251706/89053491-9134e600-d357-11ea-9c03-3a40698e89c8.png)

[2020-07-31 16:06] ppt-adsk commented on #692
The proxy shape node isn't a USD node, it's pretty much the Maya container node for USD objects in a single stage, so it doesn't have variants itself.  Expand out the proxy shape node in the Outliner, go down to a USD prim that has variant(s), and try the right click there.

[2020-07-31 16:17] suesauer commented on #692
ok so that doesn't work either.

So attaching video:
1. cant see variants no matter where we look.
2. lights don't seem to work on the usd maya stage asset. The usdpixar ref asset is also broken

[2020-07-31 18-10-24.zip](https://github.com/Autodesk/maya-usd/files/5007931/2020-07-31.18-10-24.zip)

Thanks Sue

[2020-07-31 16:47] suesauer commented on #692
checking

[2020-07-31 16:50] suesauer commented on #692
Nope no plugin called ufeSupport.py at all. searched for ufe found nothing

[2020-07-31 16:51] suesauer commented on #692
`#!/bin/bash -e

#Please enable in terminal --- scl enable devtoolset-6 bash --- before running this bash script.
if [ "$(gcc -dumpversion)" != "6.3.1" ]; then
	echo "Please enable in terminal --- scl enable devtoolset-6 bash --- before running this bash script."
else
	#DIR_PATH
	SCRIPT_DIR=$(readlink -f "$(dirname "$0")")

	####USD MAYA
	####DEV CLONE
	cd $SCRIPT_DIR/USDMAYA
	git clone -b dev htt

[2020-07-31 17:06] ppt-adsk commented on #692
@suesauer sorry about that...  I always forget to check the Maya version number first.  You're on Maya 2020, which supports our Universal Front End (UFE) v1 features only.  You'll need a cut of the Maya next version Preview Release to get at UFE v2 supported features, including Outliner menus.  Hope that still works out for you.  Cheers.

[2020-07-31 17:09] suesauer commented on #692
You'll need a cut of the Maya next version Preview Release? What? where do I get that?

[2020-07-31 17:32] ppt-adsk commented on #692
Hey @suesauer if you're interested in our beta program you can sign up for an account on
https://feedback.autodesk.com/welcome/
then apply for the Maya beta program from your account.  We'll get your request approved once it comes in.

[2020-07-31 17:43] radon199 commented on #155
Apologies for the massive delay,I was unable to build/work on this for a while. I tested with the latest version and this is working as expected, many thanks.

[2020-07-31 17:45] radon199 commented on #330
Working great for me, thank you for adding thi.

[2020-07-31 17:50] radon199 commented on #153
Sorry for the late reply, I was finally able to build this and try it out and it's all working for me. Thanks.

[2020-07-31 23:51] dolivares-spinvfx commented on #692
Maybe autodesk could make the ufeSupport plugin available in the devkit?  It's needed for the unit tests as well.

[2020-08-01 11:22] bentoogood opened #693 "Standard Surface support for USD export"
Is 'Standard Surface' material export currently intended to work, or is it on the road map for support? My understanding is that Autodesk intend to retire the legacy shaders (lambert, blinn, etc ) in favour of the built in (as of 2020) Standard Surface.

My testing suggests that there is currently no support (even for displayColor inheritance from standard surface baseColor). Is that correct or ha

[2020-08-03 07:42] suesauer commented on #692
Ok I made a feedback account, now what do i do? I Dont see Maya beta in my feedback options list.

[2020-08-03 13:28] kxl-adsk commented on #448
We posted new binaries for v0.2.0 with an installer (https://github.com/Autodesk/maya-usd/releases/tag/v0.2.0). Please use the instructions available in the readme and we are hoping installation will be much easier now. Let us know!

[2020-08-03 21:53] santosd commented on #611
Hello @suesauer, would it be possible to attach a file that we could use to replicate this issue?

[2020-08-04 07:31] suesauer commented on #611
Hey there, this seems to have been just a glitch. Works fine now

[2020-08-04 07:31] #611 closed

[2020-08-04 15:20] harveyr-gh commented on #692
Hi @suesauer, you'll get an invite to the Maya Beta shortly.

Cheers,
Ryan

[2020-08-04 15:35] HdC-adsk commented on #566
@Xaia Is the USD asset exported from a Maya asset?

[2020-08-04 16:57] Xaia commented on #566
@HdC-adsk Yes, USD asset was exported from a Maya asset. Checked with Maya PR117 and frames are dropping from 60fps to 12fps.

[2020-08-04 17:07] santosd commented on #608
Hello @stevkalinowski,

I took a look at this and am seeing the same issue when I use the "Material Colors" for the material option on export, In PR117 some changes were merged regarding material export and with the option to use "Preview Surface Shaders" the stage exports correctly:
![image](https://user-images.githubusercontent.com/29235905/89323256-672f3c80-d653-11ea-91b0-6856e597e962.png)

[2020-08-04 18:19] santosd commented on #610
I took a look at this issue and was able to replicate it. In the USD file provided there is no skinning when I open it, so I re-skinned it. After exporting it and then re-importing it the skinning is lost.

[2020-08-04 18:45] santosd commented on #603
Hi @stevkalinowski, I wasn't able to find the sharepoint, Wondering if it is possible to upload it here or if you could send me a link to the sharepoint.

[2020-08-04 19:10] stevkalinowski commented on #603
Can you try this link:
https://share.autodesk.com/:u:/r/sites/ACME/Shared%20Documents/Accounts%20(External%20Share)/Activision%20(External%20Share)/Upload%20Area/From%20Stev/character_export.zip?csf=1&web=1&e=ofYQek

Stev

From: David Santos <notifications@github.com>
Sent: Tuesday, August 4, 2020 11:45 AM
To: Autodesk/maya-usd <maya-usd@noreply.github.com>
Cc: Kalinowski, Stev <skalinowski@treyar

[2020-08-04 19:16] HdC-adsk commented on #566
@Xaia Thanks for quick reply. I see the issue as well, I asked the source of the data in order to better understand how to fix it.

[2020-08-04 21:42] santosd commented on #603
Hi @stevkalinowski, Thank you for responding the share takes me to a page to request permission however, I was able to find the file in an email from Will Telford. I am currently running through the steps and when I run the command to export, I am hitting a hard crash with this particular file. It seems on my end that it doesn't like the exportSkels option. If I remove that it no longer crashes. O

[2020-08-04 22:00] stevkalinowski commented on #603
cool, thanks for the update.

[2020-08-05 09:10] swfly opened #696 "How to build hydra plugin against maya usd?"
Hello I don't know where to ask this...
I am trying to build a hydra plugin for a renderer so I can use it in maya. I did this for Houdini with their usd library and it works well. Then, I try to build it against maya-usd, so I setup another VS project to link my code to the provided static library in maya-usd 0.2.0 release. It compiles but crashes maya at loading phase. I also tried to build the

[2020-08-06 07:53] suesauer commented on #692
sent you email, thanks

[2020-08-06 13:37] wjwilson opened #701 "Maya Beta and UFE v2"
Apologies, this isn't really an issue but I'm not certain where else to make this request. I have seen a number of issues that mention that UFE v2 is required to get the entire feature set for maya-usd, and that to get UFE v2 I'd need a preview cut of Maya. However, the Maya beta program doesn't currently appear to be open. Is there some way I can access either UFE v2 or the preview version of May

[2020-08-06 13:43] harveyr-gh commented on #701
Hey @wjwilson , we can add you to the Maya beta. Please send your name/email address to me at ryan.harvey@autodesk.com and we'll go from there.

Thanks,
Ryan

[2020-08-10 19:59] santosg87 commented on #701
is it ok to close this, as it seems its being taken care of? :)

[2020-08-10 20:24] #701 closed

[2020-08-11 09:46] suesauer commented on #692
Hey guys, thanks for all the help. Have maya beta up and running now. \:D/

[2020-08-11 09:46] #692 closed

[2020-08-11 13:15] suesauer opened #705 "Not sure im going the stage test correctly"
**Describe the bug**
Please See attatched txt file. I am trying to run my build with --stage=test like this:
`python build.py --maya-location /usr/autodesk/maya2021 --pxrusd-location $SCRIPT_DIR/USD --devkit-location $SCRIPT_DIR/maya_devkit/devkitBase --stages=test  $SCRIPT_DIR/WorkspaceRefractor `
alas it doesn't do the test, looks pretty unhappy. Not sure whats up.

**Attachments**
[build_log.tx

[2020-08-11 13:50] suesauer commented on #705
Just an update, got some of the tests to run but 42 still fail. They complain about: __cxa_throw_bad_array_new_length
[build_log.txt](https://github.com/Autodesk/maya-usd/files/5057308/build_log.txt)

[2020-08-13 09:18] wjwilson opened #708 "[MAYA-106944] mayaUSDExport does not respect mergeTransformAndShape flag if node has children"
**Description**
When exporting geo from Maya to USD with the mergeTransformAndShape flag, if a node has anything parented under it the transform and shape will not be merged. In the resulting USD the child node will be merged and parented under the parent transform. The parent shape node will be a sibling along side it.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create two cubes.

[2020-08-13 19:58] ericgd opened #711 "Error building MAYAUSD_LIBRARY on Centos8 with Maya 2020.2"
**Describe the issue**
A description of what the issue is.

I get a ninja: build stopped: subcommand failed. when building. It fails with gcc as well
I get a lot of warning which I do not know what causes the problem:

During generation, I get many: "Cannot generate a safe linker search path for target mayaUsd because there
     is a cycle in the constraint graph".

Then while building, I get: man

[2020-08-13 21:07] seando-adsk commented on #711
We don't support gcc8. Because maya-usd is a plugin to Maya it must be built using the same compiler as the version of Maya you are using. Please refer to the section "Tools and System Prerequisites" in the [build.md](https://github.com/Autodesk/maya-usd/blob/dev/doc/build.md). For Maya 2020 you need to use gcc 6.3.1. We build using CentOS7. I'm not sure if it will work on CentOS8.

[2020-08-14 17:54] ericgd commented on #711
Thank you.
I wrongly understood gcc 6.3.1 was the minimum version. My bad.
I am still trying to get the deprecated gcc 6.3.1 on my Centos 8... No success so far.

[2020-08-14 17:54] #711 closed

[2020-08-14 19:14] HamedSabri-adsk commented on #711
@ericgd

You could get gcc 6.3.1 from devtoolset-6 which is now moved into the vault. Follow this steps to install it:

[code]

[2020-08-17 18:20] ericgd commented on #711
Thank you @HamedSabri-adsk

I don't get the key error, but this one instead:
---
Error:
 Problem: package devtoolset-6-6.1-1.el7.x86_64 requires devtoolset-6-runtime, but none of the providers can be installed
  - conflicting requests
  - nothing provides policycoreutils-python needed by devtoolset-6-runtime-6.1-1.el7.x86_64
(try to add '--skip-broken' to skip uninstallable packages or '--nobest'

[2020-08-18 01:01] ederjagreda opened #719 "Windows : Issue when compiling dev branch"
Hello everyone!!

I am having some issues when compiling latest code in dev branch.

I could compile usd 20.08 with no issues using:

`python build_usd.py  --build-args=boost,"--with-date_time --with-thread --with-system --with-filesystem"  "D:\DEVELOPMENT\Builder\USD_20.08_compile"`

but, when I try to compile usd_maya using:

`python build.py --maya-location "C:\Program Files\Autodesk\Maya2019"

[2020-08-18 13:01] HamedSabri-adsk commented on #711
@ericgd  can you please try installing policycoreutils from the rpm if not already and see if it helps?

https://rpmfind.net/linux/rpm2html/search.php?query=policycoreutils-python&submit=Search+
https://rpmfind.net/linux/centos/7.8.2003/os/x86_64/Packages/policycoreutils-python-2.5-34.el7.x86_64.rpm

[2020-08-18 14:34] seando-adsk commented on #719
@ederjagreda Are you using "VS 2015 **update 3**"? As per the "Tools" listed in [build.md](https://github.com/Autodesk/maya-usd/blob/dev/doc/build.md).

The flag `PXR_STRICT_BUILD_MODE` only affects the Pixar plugin. There is a separate flag `BUILD_STRICT_MODE` used for the core maya-usd stuff.

[2020-08-18 19:08] ederjagreda commented on #719
Thank you for the answer.
About VS  I am using Visual Studio Community 2015 version 14.0.25431.01 Update 3,

and I got the idea of using  `args="-DPXR_STRICT_BUILD_MODE=OFF"` from  [https://github.com/Autodesk/maya-usd/issues/233#issuecomment-585459692](url)

[2020-08-18 19:37] seando-adsk commented on #719
Using the strict flag(s) is/are fine. For your specific error you just need to also disable BUILD_STRICT_MODE.

[2020-08-18 20:14] seando-adsk commented on #719
So after some more digging I think this is due to a bug in Visual Studio 2017, where the warning for that line is not being shown.
https://developercommunity.visualstudio.com/content/problem/78259/visual-studio-2017-no-longer-generates-a-c4800-war.html

Since you are using VS2015 you have the warning. Until the warning is fixed you can simply disable the strict mode using `-DBUILD_STRICT_MODE=OFF`

[2020-08-18 20:48] ederjagreda commented on #719
Thank you for your time  @seando-adsk

I just compiled maya-usd  with no issues following your advice

[2020-08-18 21:36] koen-v opened #723 "Models with a parent xform flagged as instanceable = true wont import into maya"
When importing a usd containing an mesh with an xform as a parent, and that parent has the flag instanceable = true the model wont import.

This is using file->import->usd.

Jerry Gamache has an example fir to illustrate this behavior.

Thanks,
Koen

[2020-08-19 09:31] 1xinghuan opened #724 "Can't load usd plugin in maya2020: undefined symbol"
**Describe the bug**
When I try to load usdmaya plugin in maya, there will be error:
undefined symbol: _ZNK6Ufe_v14Path6stringB5cxx11Ev

**Steps to reproduce**
Steps to reproduce the behavior:
1. Compile and install usdmaya plugin
2. Load the plugin in maya

**Specs (if applicable):**
 - OS & version Linux
 - Compiler & version gcc6.5
 - Maya version maya2020.2
 - Maya USD commit SHA 0.2.0
 - Pixa

[2020-08-19 15:05] seando-adsk commented on #724
That missing symbol resolves to `Ufe_v1::Path::string[abi:cxx11]() const` which is a UFE method that has been around for a very long time (part of UFE v1). Can you check your build logs and look for UFE to see if your build found UFE or not.

[2020-08-19 19:29] #566 closed

[2020-08-19 22:21] santosd commented on #708
Hi @wjwilson, thank you for reporting this, I was able to replicate the results you are seeing. @wtelford wondering if you would be able to comment on the results if these are expected or something we should look into fixing?

Thank you.

[2020-08-19 22:33] santosd commented on #723
Hi @koen-v, thank you for bringing this to our attention. I think this may be the same as #340 we have that logged internally and will be working on it.

[2020-08-20 06:28] ederjagreda commented on #719
Well, like I said I compiled maya-usd, but I get some errores when trying to load the plugins in maya:

![image](https://user-images.githubusercontent.com/48255703/90724244-d7f56c00-e283-11ea-82a1-4231b046c636.png)
the error I see is:
`// Error: file: C:/Program Files/Autodesk/Maya2019/scripts/others/pluginWin.mel line 289: initializePlugin function failed (AL_USDMayaTestPlugin) // `

![image](htt

[2020-08-20 07:07] robthebloke commented on #719
You may either load the AL_USDmaya plug in, or the AL_USDMayaTest plug in, but not both!

The one you've loaded is the one you want (AL_USDMaya). The other one is exactly the same, however it also contains a load of unit tests for the developers to run, which is useless for anyone other than a developer.

[2020-08-20 07:34] ederjagreda commented on #719
thank you for the answer!!

so now, the only issue I have is not be able to load pxrUsd.mll plugin

[2020-08-20 09:06] 1xinghuan commented on #724
![20200820170332](https://user-images.githubusercontent.com/33982538/90750328-39aaea00-e307-11ea-8adc-017d8681994e.jpg)
It found ufe. Maybe it's because I'm using g++6.5.
I will try g++6.3.

[2020-08-20 13:12] HdC-adsk commented on #656
@Xaia While we've solved the draw performance issue for heavy mesh, we found the manipulation performance is likely bound inside USD core. Can we share the asset you posted in #566 with Pixar USD team?

[2020-08-20 13:12] santosd commented on #723
Going to be closing this out since it is a duplicate.

[2020-08-20 13:12] #723 closed

[2020-08-20 13:34] JGamache-autodesk commented on #693
We intend to fully support standard surface.
The export of standard surface to USD Preview Surface was added in pull request 574.
The import from USD Preview Surface is currently under review in pull request 707. We also added, in the same pull, export and import of standard surface to/from display colors.

[2020-08-20 14:56] suesauer commented on #705
Errors: I'm getting these sorts of ewrrors in Maya PR118
# Error: file: /usr/autodesk/maya2021/scripts/startup/callPython.mel line 54: ImportError: file /home/sue.sauer/Documents/USD/lib/python/pxr/Sdf/__init__.py line 24: dynamic module does not define module export function (PyInit__sdf) #

[2020-08-20 15:00] suesauer commented on #705
`./Run_Maya.sh
Warning: Setting a new default format with a different version or profile after the global shared context is created may cause issues with context sharing.
Initialized VP2.0 renderer {
  Version : 2016.11.62.12. Feature Level 5.
  Adapter : GeForce RTX 2080 SUPER/PCIe/SSE2
  Vendor ID: 4318. Device ID :
  Driver : 4.6.0 NVIDIA 440.82.
  API : OpenGL V.4.6.
  Max texture size : 16384

[2020-08-20 15:15] Xaia commented on #656
@HdC-adsk Great to hear! Looking forward to test it out. Feel free to share the asset with Pixar USD team.

[2020-08-20 19:06] HdC-adsk commented on #656
No, but it has been merged in dev branch. If you can build it, then you will be able to test it.

[2020-08-20 19:30] mattyjams commented on #340
Just wanted to flag that I think this probably duplicates #310, which Luma had implemented a solution for a while ago.

[2020-08-21 02:07] HdC-adsk commented on #656
The selection performance issue is an UI issue due to showing primvar data in AE. While we will solve this issue, the short-term workaround is to hide AE when selecting heavy mesh.

The transform performance issue is an USD core issue, logged with https://github.com/PixarAnimationStudios/USD/issues/1300.

[2020-08-21 03:57] 1xinghuan commented on #724
I add the '-D_GLIBCXX_USE_CXX11_ABI=0' flag to both usd and maya-usd build then it's ok.

[2020-08-23 13:47] JerryKon opened #732 "cannot load plugin 0.3.0 in Maya 2020 after installing."
**Describe the bug**
Got the error when loading the mayaUsdPlugin
// Error: file: C:/Program Files/Autodesk/Maya2020/scripts/others/pluginWin.mel line 317: Unable to dynamically load : C:/Program Files/Autodesk/MayaUSD/Maya2020/0.3.0_202008140050-b9aab68/mayausd/MayaUSD/lib/maya/mtoh.mll
The specified procedure could not be found.
 //
// Error: file: C:/Program Files/Autodesk/Maya2020/scripts/othe

[2020-08-23 16:00] zpyn opened #733 "Jinja Issue"
**Describe the issue**
First of all I will like to point out that besides the Pixar USD, I dont have any previous expereinces compiling plugins or stuff I tried to build the plugins and I get the following Error:
Make Error at cmake/jinja.cmake:27 (message):
  MARKUPSAFE_LOCATION not set
Call Stack (most recent call first):
  cmake/jinja.cmake:55 (init_markupsafe)
  CMakeLists.txt:94 (include)

I

[2020-08-23 21:24] kxl-adsk commented on #732
Hi @JerryKon, MayaUSD 0.3.0 is compatible with Maya 2020.2 specifically. We rely on new additions to the API and thus it won't work with 2020 (without update 2).

[2020-08-24 07:24] Dan-at-ProxiVP opened #735 "Unable to see attributes from any loaded USD"
**Describe the bug**
After opening a USD file, I can navigate around the scene, and select objects with no issue, however the pivot is incorrect, and when right clicking an object in the viewport I'm given no options, and the attributes editor is empty for all example USD files from Pixar and Nvidia.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Install Maya 2020 update 2
2. Install

[2020-08-24 08:06] takavfx commented on #733
I'm facing to the same issue. I also hope to know the right way to fix it.

[2020-08-24 14:51] seando-adsk commented on #733
As of version 2.7 Jinjas depends on the MarkupSafe module. It is supposed to be installed automatically when you install Jinja2 using pip. How did you install Jinja2? You should be able to add MarkupSafe by running `python -m pip install MarkupSafe`

[2020-08-24 14:55] seando-adsk commented on #735
USD in the Attribute Editor requires UFE v2, which is not available in Maya 2020. Please see the comments in issue #473

[2020-08-24 15:28] zpyn commented on #733
Hey I already had MarkupSafe  1.1.1 installed,

[2020-08-24 15:55] seando-adsk commented on #733
@zpyn Do you have two python's installed? From your build log I see that it found python in the folder: C:/Python**27.1**
`-- Found Python: C:/Python27.1/python.exe (found suitable exact version "2.7.14") found components: Interpreter`
But the folders you list above for your requirements are for a different python in folder c:\python**27**.

[2020-08-24 16:01] zpyn commented on #733
Yeah I have two Pythons, how can I solve this? Do i need to delete one?

[2020-08-24 16:40] takavfx commented on #733
How about set the PATH value to the Python install dir used in the build to higher priority?
ex) Move up the value in Environment Variable settings or `set PATH=(python_install_dir);%PATH%` if you use bat file.

[2020-08-24 17:49] seando-adsk commented on #733
You can look at the cmake FindPython.cmake file to determine the logic it uses to find python when more than one are installed.

Our main cmake file accepts setting a specific python using cmake variables. See here: https://github.com/Autodesk/maya-usd/blob/dev/CMakeLists.txt#L71

By setting those 3 vars you will force the use of the specific python you have that has Jinja/markupsafe.

[2020-08-25 00:05] Dan-at-ProxiVP commented on #735
I see, thankyou for your response. In this case, since all the USD installers support Maya 2020, it will be necessary to use the old method of manually building the USD plugin from scratch, is that correct? The setup for that is quite lengthy, and we don't have anyone in-house experienced enough to do it unfortunately.

[2020-08-25 01:09] zpyn commented on #733
Hey Sean! thanks a lot , I fix this issue but I get another one, can I write it here, or I need to raise another issue?

[2020-08-25 01:16] zpyn commented on #733
-- Found Boost 1.70.0 at D:/USD/USD/lib/cmake/Boost-1.70.0
--   Requested configuration: QUIET REQUIRED COMPONENTS filesystem;system
-- Found boost_headers 1.70.0 at D:/USD/USD/lib/cmake/boost_headers-1.70.0
CMake Error at D:/USD/USD/lib/cmake/Boost-1.70.0/BoostConfig.cmake:95 (find_package):
  Could not find a package configuration file provided by "boost_filesystem"
  (requested version 1.70.0)

[2020-08-25 13:19] seando-adsk commented on #735
@Dan-at-ProxiVP Sorry maybe it wasn't clear enough. Maya 2018/2019/2020 only support UFE v1, so even if you were to rebuild the plugin yourself using any of these Maya versions you won't see the attributes in the attribute editor. This attribute editor feature is only supported in the Maya Beta PR's.

[2020-08-25 13:23] seando-adsk commented on #733
When you build **USD** you must pass some extra boost build flags:
`python build_usd.py ~/Desktop/BUILD --build-args boost,"--with-date_time --with-thread --with-system --with-filesystem" `

See the section "Additional Build Instruction" in our [build doc](https://github.com/Autodesk/maya-usd/blob/dev/doc/build.md#L203).

[2020-08-25 15:19] zpyn commented on #733
thanks for your reply, I think that  I already sent that flags:

 python D:\USD\maya-usd\build.py --generator Ninja --maya-location "C:\Program Files\Autodesk\Maya2020" --pxrusd-location D:\USD\USD --devkit-location D:\Autodesk\Maya\devKit\2020\Autodesk_Maya_2020_DEVKIT_Windows_Hotfix_1\devkitBase D:\USD\maya-usd --build-args boost,"--with-date_time --with-thread --with-system --with-filesystem

[2020-08-25 15:53] seando-adsk commented on #733
@zpyn Those flags are used when building **USD** (when calling the Pixar build_usd.py script), not the maya-usd plugin.

[2020-08-25 23:50] Dan-at-ProxiVP commented on #735
@seando-adsk I see, when I viewed videos and tutorials on USD I noticed people were able to see the attributes editor, but I believe this was with the pixar version of USD and the Animal Logic version, though I may be mistaken.
What is the best way to get access to Maya Beta PR's, as I'd really like to incorporate USD into our workflow.

[2020-08-26 13:01] seando-adsk commented on #735
@Dan-at-ProxiVP if you're interested in our beta program you can sign up for an account on
https://feedback.autodesk.com/welcome/
then apply for the Maya beta program from your account. We'll get your request approved once it comes in.

[2020-08-26 13:47] Dan-at-ProxiVP commented on #735
@seando-adsk Thankyou for your response.
Unfortunately in the list of available opportunities there is no Maya Beta Program.
Only the following opportunities are available.
![image](https://user-images.githubusercontent.com/63273784/91311513-848c9c00-e7f6-11ea-975f-c8bc9fdab1ed.png)

[2020-08-26 13:53] suesauer commented on #705
Anybody there?

[2020-08-26 13:58] ppt-adsk commented on #735
Hi @Dan-at-ProxiVP , you should be receiving an invite for the Maya beta program shortly.

[2020-08-26 14:02] harveyr-gh commented on #735
Hi @Dan-at-ProxiVP , do you mind sending me an email at ryan.harvey@autodesk.com? We'll get you set up on the Maya Beta.

Thanks,
Ryan

[2020-08-26 14:28] seando-adsk commented on #705
On Windows and Linux the Maya PR118 is a dual-python build with python **3** being the default. I see that you built the maya-usd plugin with python 2, so you need to run Maya in python 2 mode. There are two ways: (1) set the env var `MAYA_PYTHON_VERSION=2` or (2) run `maya -pythonver 2`.

In your attached logs I see ` /usr/autodesk/maya2021/bin/mayapy2 [permission denied]`. mayapy2 is the python

[2020-08-26 14:30] suesauer commented on #705
ah, well that would be a problem. Thanks for the response will try this out

[2020-08-26 14:53] santosd commented on #504
This issue has been fixed and the fix should be coming out in the next PR.  I will go ahead and close this issue for now.

[2020-08-26 14:53] #504 closed

[2020-08-26 14:55] #693 closed

[2020-08-26 15:01] suesauer commented on #705
I see the running the test module opens maya 2021 automatically using python 3. Even when I set the env to 2. Where in the code can I just manually update that?

[2020-08-26 15:13] santosd commented on #635
This has been fixed internally and the fix should be available in the next PR. I will go ahead and close this issue out.

[2020-08-26 15:13] #635 closed

[2020-08-26 15:15] Dan-at-ProxiVP commented on #735
@harveyr-gh I've just sent you over an email with the information you need, if there is anything else please let me know.
The email is coming from proxiVP.

[2020-08-26 15:20] seando-adsk commented on #705
It should not be. I saw from your logs that it was running the tests using **mayapy2** - this is the python2 version. If you run mayapy2 you can see that the version is 2.7.11, whereas mayapy is the python3 version with 3.7.3.

[2020-08-26 18:28] zpyn commented on #733
Yeah I reinstall Pixar USD with those flags and it worked thanks Sean!

[2020-08-26 18:28] #733 closed

[2020-08-27 02:26] zpyn opened #747 "Can't load pxrUSD.mll and AL_USDMayaTestPlugin"
**Describe the issue**

After I finish the maya-usd instalation, I add as enviroment variables MAYA_MODULE_PATH:  D:\USD\maya-usd\install\RelWithDebInfo and Tried to load all plugins from Plugin Manager and I get the following errors

** Script Editor**
"# Error: file: C:/Program Files/Autodesk/Maya2020/scripts/others/pluginWin.mel line 317: ImportError: file <maya console> line 1: No module named

[2020-08-27 07:39] suesauer commented on #705
Can't seem to get pxr usd to load in maya 2021.
Here are the arrors I get:

### Errors inside maya 2021:

`file -f -new;
// untitled //
commandPort -securityWarning -name commandportDefault;
onSetCurrentLayout "Maya Classic";
updateRenderOverride;
// Warning: file: /usr/autodesk/maya2021/scripts/startup/autoLoadPlugin.mel line 35: Loading plug-in "mtoh" has resulted in changes to the scene that ma